h5 {
    color: transparent;
    display: none
}

blockquote.bible p:first-child::before {
  content: "📜 ▸ ";
  margin-left: -30px;
}

blockquote.spirit p:first-child::before {
  content: "👻 ▸ ";
  margin-left: -30px;
}

blockquote.kardec p:first-child::before {
  content: "👴🏻 ▸ ";
  margin-left: -30px;
}