 .float-right {
   float: right;
 }

 .font-12 {
   font-size: 12px;
 }

 .bg-grey {
   background-color: whitesmoke;
 }

 .shades-on {
   filter: brightness(.1)
 }

 .spacer {
   height: 10px;
   background-color: #333;

 }

 .top {
   height: 30px;
   line-height: 30px;
   border-right: 1px solid gainsboro;
   padding: 0 10px 0 10px;
 }

 .header {
   font-weight: 700;
   font-size: 14px;
 }

.material-symbols-outlined {color: #fff;}