
#content h1 {
 border-bottom: 1px solid lightgrey;
}

#content h1::before {
 content: "h1 ";
 color: #bbb;
}

#content h2 {
 border-bottom: 1px solid lightgrey;

}

#content h2::before {
 content: "h2 🗂️ ";
 color: #bbb;
}

#content h3 {
 border-bottom: 1px solid lightgrey;

}

#content h3::before {
 content: "h3 📑 ";
 color: #bbb;
}

#content h4 {
 border-bottom: 1px solid lightgrey;

}

#content h4::before {
 content: "h4 📃 ";
 color: #bbb;
}

#content h5 {
 border-bottom: 1px solid lightgrey;
}

#content h5::before {
 content: "h5 #️⃣ ";
 color: #bbb;
}

#content h6 {
 border-bottom: 1px solid lightgrey;
 margin-bottom: 5px;
}

#content h6::before {
 content: "h6 #️⃣ ";
 color: #bbb;
}

strong {
 font-weight: 400;
}

#content {
 line-height: 28px;
}

#content blockquote {
 border-left: 4px solid dodgerblue;
 padding-left: 20px;
 margin-left: 20px;
}

#content blockquote+p:first-of-type {
 margin-top: 5px;
}

.md-footnote {font-weight: 700;}