.sans {
  font-family: sans-serif !important;
}

.serif {
  font-family: 'Georgia' !important;
  font-size: 100%;
}

.mono {
  font-family: monospace !important;
  font-size: 95%;
}

.slab {
  font-family: 'Roboto Slab', serif;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.narrow {
  line-height: 1.1 !important;
}

.normal {
  line-height: 1.5 !important;
}

.wide {
  line-height: 1.9 !important;
}

.white {
  background-color: white;
}

.grey {
  background-color: #ccc;
  color: #555;
}

.sepia {
  background-color: #f5deb3;
  color: #5a3f0c
}

.navy {
  background-color: #09092a;
  color: lightgrey;
}

.black {
  background-color: #555;
  color: lightgrey;
}

#content-panel {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  line-height: 1.5;
}

#content-panel h1,
#content-panel h2,
#content-panel h3,
#content-panel h4 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Trebuchet MS', serif;
  font-size: 20px;
}

#content-panel h5,
#content-panel h6 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', serif;
  font-size: 20px;
}

#content-panel a:any-link {
  text-decoration: underline 1.5px solid mediumblue;
  text-underline-offset: 2px;
  color: mediumblue;
}

a:any-link:focus,
a:any-link:hover {
  outline: 3px solid orange;
  border-radius: 4px;
  padding: 2px 0;
}

.active {
  outline: 3px solid dodgerblue;
  border-radius: 4px;
  padding: 2px 0;
}

button:focus,
button:hover {
  outline: 3px solid orange;
  border-radius: 4px;

}

#content-panel {
  padding: 20px;
}

#content-panel p {
  margin: 20px 0;
}

div.gold-fleuron {
  border-bottom: 1px solid goldenrod;
  text-align: center
}

div.silver-fleuron {
  border-bottom: 1px solid lightgrey;
  text-align: center
}

span.gold-fleuron {
  background-color: white;
  position: relative;
  top: 10px
}

span.silver-fleuron {
  background-color: white;
  filter: grayscale(100%);
  position: relative;
  top: 10px
}

.flipH {
  display: inline-block;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.rot45 {
  display: inline-block;
  transform: rotate(45deg);
}

small {
  font-size: 12px;
}

hr {
  margin-top: -10px;
}


/* QUOTE */
.quote p:nth-of-type(1)::before {
  font-family: sans-serif;
  color: #333;
}

.quote p:nth-of-type(1) {
  text-indent: 10px;
  width: 100%;
  padding: 2px !important;
  border-radius: 4px 4px 0px 0;
  color: #333;
}

.quote p:nth-of-type(2) {
  padding: 0 20px;
  font-style: italic;
  color: #333;
}

.quote {
  border-radius: 4px;
  margin: 0px 10px !important;
  color: #333;
}

.quote p:last-of-type {
  font-family: sans-serif;
  text-align: right;
  padding-right: 20px;
  color: #333;
}


/* QUOTE SPIRIT */
.spirit p:nth-of-type(1)::before {
  content: "💨 Espírito";
}

.spirit p:nth-of-type(1) {
  background-color: #c9d7e8;
  border-radius: 4px 4px 0px 0;
}

.spirit {
  background-color: #edf2f7;
  padding: 0px;

}


/* QUOTE BIBLE */
.bible p:nth-of-type(1)::before {
  content: "📜 Bíblia";
}

.bible p:nth-of-type(1) {
  background-color: #ffe4b3;
  border-radius: 4px 4px 0px 0;
}

.bible {
  background-color: #fff6e6;
  padding: 0px;

}


/* QUOTE KARDEC */
.kardec p:nth-of-type(1)::before {
  content: "🎓 Kardec";
  font-family: sans-serif;
  color: #666;
}

.kardec p:nth-of-type(1) {
  text-indent: 10px;
  background-color: #dcdcdc;
  width: 100%;
  padding: 2px !important;
  border-radius: 4px 4px 0px 0;
}

.kardec {
  background-color: #f2f2f2;
}



.p-10 {
  padding: 10px;
}

em,
i {
  color: crimson;
}