.sans {
  font-family: sans-serif;
}

.serif {
  font-family: 'Georgia';
  font-size: 105%
}

.mono {
  font-family: monospace;
  font-size: 95%
}

.slab {
  font-family: 'Roboto Slab', serif;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.narrow {
  line-height: 1.1;
}

.normal {
  line-height: 1.5;
}

.wide {
  line-height: 1.9;
}

.white {
  background-color: white;
}

.grey {
  background-color: #ccc;
  color: #555;
}

.sepia {
  background-color: #f5deb3;
  color: #5a3f0c
}

.navy {
  background-color: #09092a;
  color: lightgrey;
}

.black {
  background-color: #222;
  color: lightgrey;
}

#content-panel {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1.5;
}

#content-panel h1,
#content-panel h2,
#content-panel h3,
#content-panel h4 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

a:any-link {
  text-decoration: none;
}

a:any-link:focus,
a:any-link:hover {
  outline: 3px solid orange;
  border-radius: 4px;
  padding: 4px;
}

button:focus,
button:hover {
  outline: 3px solid orange;
  border-radius: 4px;
}

#content-panel {
  padding: 20px;
}

#content-panel p {
  margin: 20px 0;
}