body {
  margin-right: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 99.8vh;
}

#side-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #444;
  color: #fff;
  line-height: 150%;
  font-family: sans-serif;
  font-size: 80%;
  height: 100vh;
}

#side-wrapper a {
  color: #fff;
  text-decoration: none;
}

#side-panel ul,
#side-panel ol {
  line-height: 200%;
  text-indent: 0;
  list-style-type: none;
}

#side-top {
  width: 300px;
  height: 50px;
  display: inline-flex;
  background-color: #333;
}

#side-panel {
  height: calc(100vh - 54px);
  padding: 0 10px;
}

#side-header {
  margin-bottom: 30px;
}

#side-body {
  flex: auto;
}

#side-footer {
  padding: 30px 0px;
  background-color: #444;
}

#content-wrapper {
  width: 60%;
  flex: auto;
  height: 100vh;
}

#content-top {
  width: 100%;
  height: 50px;
  display: inline-flex;
  background-color: #e6e6e6;
}

#content-panel {
  width: 100%;
  height: calc(100vh - 54px);
  padding: 10px;
}

#ext-wrapper {
  width: 40%;
  background-color: #f0f8ff;
  height: calc(100vh - 54px);
}

#ext-top {
  width: 100%;
  height: 50px;
  display: inline-flex;
  background-color: #e6f3ff;
}

#ext-panel {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #e6f3ff;
}

ul,
ol {
  list-style-position: inside;
}

iframe {
  width: 100%;
  height: calc(99.8vh - 50px);
  border-left: 1px solid grey;
}

.dropbtn {
  border: 1px solid grey;
  padding: 3.5px;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ccc;
}

#open-sidebar {
  display: none;
}

#close-sidebar {
  display: none;
}

#open-external {
  display: none;
}

#close-external {
  display: none;
}


button {
  border-radius: 4px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
  margin: 0 5px;
  padding: 5px 2px;
  border: 1px solid grey;
}

#side-top a,
#content-top a,
#ext-top a {
  border-radius: 4px;
  font-size: 24px;
  line-height: 24px;
  background-color: transparent;
  margin: 0 5px;
  padding: 5px 2px;
  border: 1px solid grey;
}

#side-top {
  padding: 8px;
}

#content-top {
  padding: 8px;
}

#ext-top {
  padding: 8px;
}

.shades-on {
  filter: brightness(0.15);
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

ol>ol>li {
  text-indent: 10px;
}

#logo {
  font-family: 'Trebuchet MS';
}

a#logo {
  color: #000;
  background-color: #ccc;
  border: 1px solid #aaa;
}