body {
  margin-right: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

#page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 99.8vh;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
}

#side-wrapper {
  width: 300px;
  display: block;
  flex-direction: column;
  background-color: #444;
  color: #ddd;
  line-height: 150%;
  font-family: sans-serif;
  font-size: 12px;
  height: 99.8vh;
}

#side-wrapper a {
  color: #ddd;
  text-decoration: none;
}

/*
#side-panel ul,
#side-panel ol {
  line-height: 200%;
  text-indent: 0;
  list-style-type: none;
  padding-inline-start: 0;
}
*/

#side-panel ul {
  line-height: 2;
  list-style-type: none;
  margin-left: -40px
}

#side-panel ol {
  line-height: 2;
  list-style-type: decimal;
  margin-left: -35px
}

#side-panel ol ol {
  line-height: 2;
  list-style-type: decimal-leading-zero;
  margin-left: -25px
}

#side-top {
  width: 300px;
  height: 50px;
  display: inline-flex;
  background-color: #333;
}

#side-panel {
  height: calc(99.8vh - 50px);
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#side-header {
  margin-bottom: 30px;
}

#side-body {
  flex: auto;
}

#side-footer {
  padding: 10px 0px 10px 0;
  background-color: #444;
}

#content-wrapper {
  width: 60%;
  flex: auto;
  height: 99.8vh;
}

#content-top {
  width: 100%;
  height: 50px;
  display: inline-flex;
  background-color: #e6e6e6;
}

#content-panel {
  width: 100%;
  height: calc(99.8vh - 50px);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  z-index: -1;
  overflow-x: hidden;
}

#ext-wrapper {
  width: 40%;
  background-color: #f0f8ff;
  height: calc(99.8vh - 50px);
  z-index: 1;
  height: 99.8vh;

}

#ext-top {
  width: 100%;
  height: 50px;
  display: inline-flex;
  background-color: #e6f3ff;

}

#ext-panel {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #222;
}

ul,
ol {
  list-style-position: inside;
}

iframe {
  width: 100%;
  height: calc(100vh - 50px);
  border-left: 1px solid gainsboro;
  border-top: none;
  border-bottom: none;
}

.dropbtn {
  border: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  border-radius: 4px;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  display: block;
  border: none !important;
  padding: 0px 16px !important;
  margin: -5px 0;
  font-size: 18px;
  width: 160px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#open-sidebar {
  display: none;
  background-color: #ccc;
}

#close-sidebar {
  display: block;
  float: right;
}

#open-external {
  display: none;
}

#close-external {
  display: none;
}


button {
  border-radius: 4px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 2px;
  border: none !important;
  background-color: transparent !important;
  height: 35px;
  width: 35px;
  color: #444;
}

#side-top a,
#content-top a,
#ext-top a {
  border-radius: 4px;
  font-size: 24px;
  line-height: 24px;
  margin: 0 5px;
  padding: 5px 2px;
  border: none;
  height: 35px;
  width: 35px;
  background-color: transparent !important;
  color: #444;
  text-align: center;
  text-decoration: none;
}


#side-top {
  padding: 8px;
}

#content-top {
  padding: 8px;
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

#ext-top {
  padding: 8px;
}

#ext-top a {
  background-color: #cce7ff;
}

.shades-on {
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
  filter: brightness(0.15);
}

ol>ol>li {
  text-indent: 10px;
}

#side-logo,
#content-logo {
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border: none !important;
  width: unset;
}

a#side-logo,
a#content-logo {
  color: #aaa;
  background-color: transparent !important;
  width: unset;

}

#content-logo {
  display: none;
  color: #000 !important;
}

#shades {
  background-color: #cce7ff;
  position: absolute;
  right: 40px;
}

details>details {
  margin-left: 10px;
}

details>details>p {
  margin: 0 0 0 25px;
}

#btn {
  background-color: #ccc;
  padding: 5px 2px;
  position: absolute;
  left: calc(60vw + 60px);
}

#text-effects {
  overflow-x: scroll;
  overflow-y: hidden;
  display: none;
  background-color: #ccc;
  height: 50px;
  position: relative;
  top: -8px;
  padding-top: 8px;
}