 .spacer {
   height: 10px;
 }

 #sidebar-body {
   border-top: 1px solid gainsboro;
   border-right: 1px solid gainsboro;
   border-bottom: 1px solid gainsboro;
   padding: 10px 10px 10px 30px;
   overflow-y: scroll;
   overflow-x: hidden;
   overscroll-behavior-block: contain;
   height: calc(100% - 70px);
 }

 #content {
   border-top: 1px solid gainsboro;
   border-right: 1px solid gainsboro;
   padding: 20px;
   font-family: 'Roboto Slab';
   font-weight: 200;
   height: calc(100% - 70px);
   overflow-y: scroll;
   overflow-x: hidden;
   overscroll-behavior-block: contain;
 }

 #ext {
   border-right: 1px solid gainsboro;
   border-top: 1px solid gainsboro;
   overflow: scroll;
   overscroll-behavior-block: contain;
 }

 #flex-container {
   display: flex;
   justify-content: flex-end;
   box-sizing: border-box;
   border-collapse: collapse;
 }

 #flex-container>div {
   border: 1px solid transparent;
   height: 100vh;
   overflow: scroll;
   overscroll-behavior-block: contain;
 }

 #sidebar {
   width: 210px;
 }

 #main {
   flex-grow: 1;
 }

 #aside {
   flex-grow: 1;
 }

 #notes {
   width: 403px;
   background-color: lightgrey;
   padding: 10px 50px 10px 10px;
 }

 #toggle-shades {
   position: relative;
   right: 5px;
 }

 #top-sidebar {
   height: 30px;
   line-height: 30px;
   border-right: 1px solid gainsboro;
   padding: 0 10px 0 40px;
 }

 #top-main {
   height: 30px;
   line-height: 30px;
   border-right: 1px solid gainsboro;
   padding: 0 10px 0 10px;
 }

 #top-aside {
   height: 30px;
   line-height: 30px;
   border-right: 1px solid gainsboro;
   padding: 0 30px 0 10px;
 }

 #error {
   text-align: center;
   border: 5px solid red;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px;
   font-weight: bold;
 }