 @media only screen and (max-width: 782px) {
   #sidebar {
     display: none;
   }

   #main {
     display: none;
   }

   #aside {
     display: none;
   }

   #notes {
     display: none;
   }

   #splash {
     display: none;
   }

 }

 @media only screen and (min-width: 783px) and (max-width: 1919px) {

   #top-sidebar {
     padding: 0 10px 0 20px;
     display: none;
   }

   #sidebar {
     display: none;
   }

   #main {
     display: none;
   }

   #aside {
     display: none;
   }

   #top-aside {
     padding: 0 40px 0 10px;
     display: none;

   }

   #notes {
     display: none;
   }

   #open-notes {
     display: none;
   }

   #splash {
     display: none;
   }
 }

 @media only screen and (min-width: 1920px) {
   #sidebar {
     display: block;
   }

   #menu {
     display: none;
   }

   #close {
     display: none;
   }

   #main {
     display: block;
     width: 670px;
   }

   #aside {
     display: block;
     width: 670px;
   }

   #notes {
     display: block;
   }

   #error {
     display: none;
   }
 }