    body {
      font-family: sans-serif;
      box-sizing: border-box;
      color: #666;
    }

    #sidebar {
      display: flex;
      flex-direction: column;
      line-height: 21px;
      font-size: 14px;
      font-family: sans-serif;
      width: 200px;
      height: calc(100vh - 84px);
      background-color: #F8F9FC;
      border-right: 1px solid gainsboro;
      padding-left: 20px;
    }

    #sidebar>div {
      width: 100%;
      padding: 6px 0 6px 0px;
      background-color: #F8F9FC;
    }

    #sidebar>div:hover {
      color: dodgerblue;
      fill: dodgerblue;
    }

    #side-panel>div:hover {
      color: dodgerblue;
      fill: dodgerblue;
    }

    #side-footer>div:hover {
      color: dodgerblue;
      fill: dodgerblue;
    }

    .active {
      color: #0066cc;
      fill: #0066cc;
      background-color: #e6f2ff !important;
      border-right: 2px solid #0066cc;
    }

    svg {
      vertical-align: middle;
      padding-right: 6px;
      height: 18px;
      fill: inherit;
    }

    .lvl2 {
      text-indent: 15px;
    }

    .lvl3 {
      text-indent: 30px;
    }

    .lvl4 {
      text-indent: 45px;
    }

    .lvl5 {
      text-indent: 60px;
    }

    #side-top {
      font-size: 24px;
      line-height: 24px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid gainsboro;
      padding-left: 20px;

    }

    #logo {
      border-right: 1px solid gainsboro;
      width: 200px;
    }

    #logo a:any-link {text-decoration: none; color: currentColor}

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin-right: auto;
      margin-left: auto;
    }

    button>svg {
      fill: #666;
    }

    #ext-top {
      position: absolute;
      top: 0px;
      right: 20px;
      width: 40vw;
      padding-top: 26px;
      padding-bottom: 26px;
    }

    #ext-links {
      border-left: 1px solid gainsboro;
      padding-left: 20px;
    }

    #ext-panel {
      position: absolute;
      top: 72px;
      right: 20px;
      width: 40vw;
      border-left: 1px solid gainsboro;
      height: calc(100vh - 84px);
    }

    #content-top {
      position: absolute;
      top: 0px;
      right: calc(40vw + 40px);
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 20px;
    }

    iframe {
      border: none;
      position: relative;
      top: 1px;
      margin-right: 20px;
      width: 40vw;
      height: calc(100vh - 84px);

    }

    svg {
      fill: currentColor
    }

    #ext-links a:any-link {
      color: currentColor;
    }

    .shades-on {
      transition-timing-function: ease-in-out;
      transition-duration: .2s;
      filter: brightness(0.15);
    }

    hr {
      border-color: gainsboro;
      border-top: none;
      width: 100%;
    }

    #side-footer {
      line-height: 21px;
      font-size: 14px;
      font-family: sans-serif;
      position: absolute;
      bottom: 20px;
      line-height: 2;
      padding-left: 20px;

    }

    #side-footer a:any-link {
      text-decoration: none;
      color: currentColor;
    }
