
.bible {
    background-color: ivory
}

.icon::before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto
}

.red em {
    color: crimson
}

em {
    color: crimson !important
}

.spirit {
    background-color: azure
}

blockquote>p>strong {
    font-size: 90%;
    color: #666;
    font-weight: bold;
}

body {
    font-family: 'Roboto Slab';
    font-weight: 300
}

h1 {
    font-size: 2em
}

h1,
h2,
h3,
h4 {
    text-align: center
}

h2 {
    font-size: 1.8em
}

h2::before {
    content: "🗂️ "
        /* content: "Parte \a 🗂️ " */
}

h2::before,
h3::before,
h4::before,
h5::before {
    color: lightgrey;
    font-weight: normal;
    white-space: pre
}

h3 {
    font-size: 1.6em
}

h3::before {
    content: "📑 "
}

h4 {
    font-size: 1.4em
}

h4::before {
    content: "📃 "
}

h5 {
    font-size: 1em
}

h5,
h6 {
    border-bottom: 1px solid gainsboro;
    font-weight: bold;
    margin-top: -1em;
    padding-bottom: 10px;
    padding-top: 30px
}

h5::before {
    content: "#️⃣ "
}

h6::before {
    content: "#️⃣ "
}

h6 {
    font-size: 1em
}

html,
body {
    letter-spacing: 1px !important;
    scroll-behavior: smooth
}

li::marker {
    font-weight: bold
}

li::marker {
    font-weight: 400
}

p::after {
    margin: -10px
}

div.gold-fleuron {
    border-bottom: 1px solid goldenrod;
    text-align: center
}

div.silver-fleuron {
    border-bottom: 1px solid lightgrey;
    text-align: center
}

span.gold-fleuron {
    background-color: white;
    position: relative;
    top: 10px
}

span.silver-fleuron {
    background-color: white;
    filter: grayscale(100%);
    position: relative;
    top: 10px
}

strong {
    font-weight: 400
}

table,
td,
th,
tr {
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

blockquote {background-color: aliceblue; padding: 2px 0px 2px 0}

ul {line-height: 1.65;}

