/* START SCROLLBARS */

#col2-body::-webkit-scrollbar {
  width:10px
  }
  
  #col2-body::-webkit-scrollbar-thumb {
  background:#888
  }
  
  #col2-body::-webkit-scrollbar-thumb:hover {
  background:#555
  }
  
  #col2-body::-webkit-scrollbar-track {
  background:#f1f1f1
  }

  /* END SCROLLBARS */
