    body {
      font-family: sans-serif;
      box-sizing: border-box;
      color: #666;
    }

* {box-sizing: border-box; border: 1px solid red;}

    #sidebar {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-family: sans-serif;
      width: 200px;
      height: calc(100vh - 84px);
      background-color: #F8F9FC;
      border-right: 1px solid gainsboro;
    }

    #sidebar>div {
      width: 100%;
      background-color: #F8F9FC;
    }


    #sidebar a {
      text-decoration: none;
      color: currentColor
    }

    #sidebar a:hover {
      color: dodgerblue;
      fill: dodgerblue;
    }

    .active {
      color: #0066cc;
      fill: #0066cc;
      background-color: #e6f2ff !important;
      border-right: 2px solid #0066cc;
    }

    svg {
      vertical-align: middle;
      fill: inherit;
    }

    .lvl2 {
      text-indent: 0px;
    }

    .lvl3 {
      text-indent: 10px;
    }

    .lvl4 {
      text-indent: 20px;
    }

    .lvl5 {
      text-indent: 30px;
    }

    #side-top {
      border-bottom: 1px solid gainsboro;

    }

    #logo,
    #logo-text,
    #side-top,
    #content-top,
    #content-buttons,
    #ext-links,
    #ext-top {
      font-size: 20px;
    }

    #logo {
      border-right: 1px solid gainsboro;
      width: 200px;
    }

    #logo a:any-link {
      text-decoration: none;
      color: currentColor
    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    #ext-links a {
      background-color: transparent;
      cursor: pointer;
    }

    button>svg {
      fill: #666;
    }

    #ext-top {
      position: absolute;
      top: 0px;
      right: 20px;
      width: 40vw;
    }

    #ext-links {
      border-left: 1px solid gainsboro;
    }

    #ext-panel {
      position: absolute;
      top: 72px;
      right: 20px;
      width: 40vw;
      border-left: 1px solid gainsboro;
      height: calc(100vh - 84px);
    }

    #content-top {
      position: absolute;
      top: 0px;
      right: calc(40vw + 40px);

    }

    iframe {
      border: none;
      position: relative;
      top: 1px;
      width: 40vw;
      height: calc(100vh - 84px);

    }

    svg {
      fill: currentColor
    }

    #ext-links a:any-link {
      color: currentColor;
    }

    .shades-on {
      transition-timing-function: ease-in-out;
      transition-duration: .2s;
      filter: brightness(0.15);
    }

    hr {
      border-color: gainsboro;
      border-top: none;
      width: 100%;
    }

    #side-footer {
      font-size: 14px;

    }

    #side-footer a:any-link {
      text-decoration: none;
      color: currentColor;
    }

    #open-sidebar {
      float: left;
      display: none;
    }

    .header {
      cursor: auto;
      color: currentColor;
      font-size: 14px;
    }


    #close-sidebar {
      float: right;
      display: block;
      border: 1px solid red;
      ;
    }

    #side-footer a:hover {
      color: dodgerblue;
      fill: dodgerblue;
    }