blockquote.bible,
blockquote.bible-multi {
    background-color: #FCF4FC !important;
    border-left: 4px solid orchid !important
}


blockquote.bible-multi>p:nth-child(2) {
    font-style: normal !important;
    font-weight: 400;
    padding: 0 20px;
    text-align: right
}