blockquote {
    padding: 5px 5px 5px 10px;
    border: 1px solid lightgrey;
    border-left: 4px solid grey;
}

blockquote>p>em {
    color: crimson;
}

blockquote>p>img {
    vertical-align: middle;
}

/* ONE LINE */


/* MULTI LINE */

/*
blockquote.spirit-multi>p:nth-child(1) {
    background-color: dodgerblue;
    margin: -5px -5px -5px -10px;
    padding: 10px;
}

blockquote.bible-multi>p:nth-child(1) {
    background-color: orchid;
    margin: -5px -5px -5px -10px;
    padding: 10px;
} */

blockquote.spirit-multi>p:first-child::before {
    content: "👻 ▸ ";
}

blockquote.bible-multi>p:first-child::before {
    content: "✝️ ▸ ";
}

blockquote.spirit-multi>p:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}

blockquote.bible-multi>p:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}



/* BOTH */
blockquote.spirit>p:first-child::before {
    content: "👻 ▸ ";
}

blockquote.spirit,
blockquote.spirit-multi {
    border-left: 4px solid dodgerblue;
}

blockquote.bible>p:first-child::before {
    content: "✝️ ▸ ";
}

blockquote.bible,
blockquote.bible-multi {
    border-left: 4px solid orchid;
}



