/*---------- FRAMEWORK ----------*/
#col1-head {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 250px
}

#col1-body {
    background-color: #fff;
    border-collapse: collapse;
    border-right: 1px solid #dcdcdc80;
    border-top: 1px solid #dcdcdc80;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: calc(100vh - (50px));
    left: 0;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding-left: 15px;
    position: fixed;
    scroll-behavior: smooth;
    top: 50px;
    width: 250px;
    z-index: 1
}

#col1-brand,
#col2-brand {
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-sizing: border-box;
    color: currentColor;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin-left: -5px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    text-decoration: none
}

#col2-brand {
    top: -3px
}

#col2-head {
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 50px;
    left: 250px;
    padding-right: 50px;
    padding-top: 3px;
    position: fixed;
    top: 0;
    width: calc((50vw) - 250px * .5)
}

#col2-head button {
    position: relative;
    top: 2px
}

#col2-body {
    background-color: transparent;
    border-collapse: collapse;
    border-top: 1px solid #dcdcdc80;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    height: calc(100vh - (50px));
    left: 250px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 16px 55px;
    position: fixed;
    scroll-behavior: smooth;
    top: 50px;
    width: calc((50vw) - 250px * .5)
}

#col3-head {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: calc((50vw) - 250px * .5)
}

#col3-head button {
    position: relative;
    top: -5px
}

#col3-body {
    background-color: transparent;
    border-collapse: collapse;
    border-left: 1px solid #dcdcdc80;
    border-top: 1px solid #dcdcdc80;
    box-sizing: border-box;
    color: #000;
    height: calc(100vh - (50px));
    position: fixed;
    right: 0;
    top: 50px;
    width: calc((50vw) - 250px * .5)
}

#ext-iframe {
    border: none;
    height: 100%;
    width: 100%
}

#israel {
    border-collapse: collapse;
    bottom: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    left: -50px;
    position: fixed;
    transform: rotate(45deg);
    width: 141px;
    z-index: 99
}

button {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-radius: 50%;
    box-sizing: border-box;
    color: currentColor;
    cursor: pointer;
    font-size: 24px;
    justify-content: center;
    margin-left: 10px;
    outline: 0;
    padding: 6px 5px 0;
    text-align: center
}

a {
    outline: 0
}

.label {
    font-size: 12px;
    left: 5px;
    position: relative;
    top: -9px
}

.sidebar-heading {
    border-bottom: 1px solid #dcdcdc80;
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 70%
}

.icon {
    font-family: 'Material Symbols Outlined'
}

.fr {
    float: right
}

.hide {
    display: none
}

.show {
    display: block
}

#col1-head a:any-link,
#col1-body a:any-link,
#col2-head a:any-link,
#col3-head a:any-link {
    color: #333;
    text-decoration: none;
    text-underline-offset: 2px
}

#col2-body a:any-link {
    color: darkblue;
    text-decoration: 1px solid darkblue
}

/*---------- DARK MODE ----------*/
.dark-mode {
    background-color: #222;
    color: white
}

.dark-mode,
.dark-mode html,
.dark-mode body,
.dark-mode #col1-head,
.dark-mode #col1-body,
.dark-mode #col2-head,
.dark-mode #col2-body,
.dark-mode #col3-head,
.dark-mode #col3-body {
    background-color: #222;
    color: #fff
}

.dark-mode blockquote.bible,
.dark-mode blockquote.bible-multi {
    background-color: #371C36 !important
}

.dark-mode blockquote.grey {
    background-color: #383838;
    border-color: solid var(--grey)
}

.dark-mode blockquote em {
    color: #F797AA
}

.dark-mode p,
.dark-mode button,
.dark-mode a,
.dark-mode p>a {
    color: #fff
}

.dark-mode kbd {
    border: 1px solid var(--grey);
    border-radius: 3px;
    color: #fff !important;
    padding: 3px
}

.dark-mode table,
.dark-mode th,
.dark-mode tr,
.dark-mode td,
.dark-mode pre {
    background-color: #444
}

.dark-mode blockquote.grey>p,
.dark-mode blockquote.grey>p>a {
    background-color: transparent !important
}

.dark-mode blockquote,
.dark-mode blockquote.spirit,
.dark-mode blockquote.spirit,
.dark-mode blockquote.spirit-multi {
    background-color: #082440
}

.dark-mode #col2-body a {
    color: dodgerblue;
    text-decoration-color: dodgerblue
}

.dark-mode blockquote.grey-center,
.dark-mode th,
.dark-mode blockquote.image {
    background-color: #333
}

.dark-mode #col1-head a:any-link,
.dark-mode #col1-body a:any-link,
.dark-mode #col2-head a:any-link,
.dark-mode #col3-head a:any-link {
    color: #fff;
    text-decoration: none;
    text-underline-offset: 2px
}

.dark-mode #col2-body a:any-link {
    color: fff;
    text-decoration: 1px solid fff
}

.dark-mode iframe {
    filter: invert(87%)
}

/*---------- MEDIA QUERIES ----------*/
@media only screen and (max-width:782px) {

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body {
        display: none
    }

    #col2-dm-btn,
    #col2-lm-btn {
        padding-right: 25px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: 100vw
    }

    iframe#screenshot1 {
        display: block
    }
    iframe#screenshot2 {
        display: block
    }
    iframe#screenshot3 {
        display: block
    }

    tr.c {
        display: table-row
    }
}

@media only screen and (min-width:783px) and (max-width:1109px) {

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col1-head,
    #col1-body,
    #col2-dm-btn,
    .label {
        display: none
    }

    iframe#screenshot1 {
        display: block
    }
    iframe#screenshot2 {
        display: block
    }
    iframe#screenshot3 {
        display: block
    }
}

@media only screen and (min-width:783px) and (max-width:1100px) {

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5)
    }

    #col3-head {
        padding-right: 50px
    }

    #col3-head,
    #col3-body {
        width: calc(100vw * .5)
    }

    iframe#screenshot1 {
        display: block
    }
    iframe#screenshot2 {
        display: block
    }
    iframe#screenshot3 {
        display: block
    }

    tr.t {
        display: table-row
    }
}

@media only screen and (min-width:1101px) and (max-width:1419px) {

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col2-dm-btn,
    #col1-body,
    #col1-head {
        display: none
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5)
    }

    #col3-head {
        padding-right: 50px
    }

    #col3-head,
    #col3-body {
        right: 0;
        width: calc(100vw * .5)
    }

    iframe#screenshot1 {
        display: block
    }
    iframe#screenshot2 {
        display: block
    }
    iframe#screenshot3 {
        display: block
    }

    tr.t {
        display: table-row
    }
}

@media only screen and (min-width:1420px) and (max-width:1919px) {

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn,
    #col1-head {
        display: none
    }

    #col1-head {
        display: inline-block
    }

    #col3-head {
        padding-right: 50px
    }

    tr.d {
        display: table-row
    }

    iframe#screenshot1 {
        display: block
    }
    iframe#screenshot2 {
        display: block
    }
    iframe#screenshot3 {
        display: block
    }
}

@media only screen and (min-width:1920px) {

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn {
        display: none
    }

    #col3-head {
        padding-right: 50px
    }

    iframe#screenshot1 {
        display: block
    }
    iframe#screenshot2 {
        display: block
    }
    iframe#screenshot3 {
        display: block
    }

    tr.d {
        display: table-row
    }
}