

div#content>p>img {
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin-bottom: -17px;
}

figcaption {
    margin-top: -17px;
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    font-size: 80%;
    font-family: sans-serif;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

blockquote {
    padding: 5px 5px 5px 10px;
    border: 1px solid lightgrey;
    border-left: 4px solid grey;
}

blockquote>p>em {
    color: crimson;
}

blockquote>p>img {
    vertical-align: middle;
}

blockquote {
    overflow: hidden;
}

blockquote::before {
    content: "❝";
    font-size: 5em;
    position: relative;
    top: -42px;
    left: -14px;
}

blockquote.spirit::first-letter {
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 50%;
}

blockquote.bible::first-letter {
    background-color: orange;
    padding: 5px;
    border-radius: 50%;
}