#col2-body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
    padding: 0 30px;
}

#col2-body>p>img {
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: -17px;
    padding: 0 30px;
}

figcaption {
    margin-top: -17px;
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    font-family: sans-serif;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 30px;
}

.box-center {
    text-align: center;
}

h1,
h2 {
    border-bottom: 1px solid #ccc;
}

h3,
h4 {
    border-bottom: 1px solid #ccc;
}

h6 {
    border-top: 1px solid #ccc;
    margin-bottom: -20px;
    padding-top: 10px;
}

blockquote {
    padding: 1px 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

blockquote>p>img {
    vertical-align: middle;
}

/*
blockquote.spirit-multi>p:nth-child(1)::before {
    content: "👻 ▸ ";
    font-style: normal !important;
}

blockquote.spirit>p:nth-child(1)::before {
    content: "👻 ▸ ";
    font-style: normal !important;
}

blockquote.bible>p:nth-child(1)::before {
    content: "✝️ ▸ ";
    font-style: normal;
}

blockquote.bible-multi>p:nth-child(1)::before {
    content: "✝️ ▸ ";
    font-style: normal;
}

/* BIBLE */

table {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, .5) !important
}

td {
    padding: 0 30px;
}

#col3-link3 {
    display: none;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 20px;
}

strong {
    font-weight: 400;
    background-color: transparent !important;
}

/*----- SPIRIT -----*/

blockquote {
    border-left: 4px solid;
    border-color: dodgerblue !important;
    background-color: aliceblue;
}

blockquote>p,
blockquote>p>a {
    background-color: transparent !important;
}

blockquote.spirit-multi>p:last-child {
    text-align: right;
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
}

p#author {
    background-color: transparent;
    padding-right: 20px;
    font-style: normal;
    font-weight: 400 !important;
}

blockquote.spirit,
blockquote.spirit-multi {
    border-left: 4px solid dodgerblue !important;
    background-color: #F4FAFF;
}

/*----- DARKMODE SPIRIT -----*/
.dark-mode blockquote {
    background-color: #082440;
}

.dark-mode blockquote.spirit {
    background-color: #082440;
}

.dark-mode blockquote.spirit,
.dark-mode blockquote.spirit-multi {
    background-color: #082440;
}

/*----- BIBLE -----*/
blockquote.bible-multi>p:nth-child(2) {
    text-align: right;
    padding: 0px 20px;
    font-style: normal !important;
    font-weight: 400;
}

blockquote.spirit-multi>p:nth-child(2) {
    text-align: right;
    padding: 0px 20px;
    font-style: normal !important;
    font-weight: 400;
}

blockquote.bible,
blockquote.bible-multi {
    border-left: 4px solid orchid !important;
    background-color: #FCF4FC !important;
}

blockquote.spirit>p,
blockquote.spirit>p>a {
    background-color: transparent !important;
}

/*----- DARK MODE BIBLE ----*/
.dark-mode blockquote.bible,
.dark-mode blockquote.bible-multi {
    background-color: #371C36 !important;
}

/*------ GREY ------*/
blockquote.grey {
    border-left: 4px solid;
    border-color: #ccc;
    background-color: #eee;
}

blockquote.grey>p,
blockquote.grey>p>a {
    background-color: transparent !important;
}

/*------ GREY DARK MODE ------*/
.dark-mode blockquote.grey {
    border-color: #ccc;
    background-color: #383838;
}

.dark-mode blockquote.grey>p,
.dark-mode blockquote.grey>p>a {
    background-color: transparent !important;
}

/*------ LINKS -----*/

a:any-link {
    text-decoration: none !important;
    color: #3366cc;
}

#col1-head a:any-link,
#col2-head a:any-link,
#col1-body a:any-link,
#col3-head a:any-link {
    color: currentColor
}

#col2-body a:hover {
    text-underline-offset: 3px !important;
    text-decoration: underline !important;
}

/*------ EM ------*/
blockquote em {
    color: crimson;
}

em {
    font-style: italic;
    background-color: transparent;
    color: currentColor;
}

.dark-mode em {
    color: #FF9494;
}

p.cursive {
    font-family: 'Zeyada' !important;
    font-size: 60px;
    margin-top: -20px;
}

kbd {padding: 3px; border-radius: 3px; border: 1px solid gainsboro; background-color: whitesmoke;}