div#content>p>img {
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin-bottom: -17px;
}

figcaption {
    margin-top: -17px;
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    font-size: 80%;
    font-family: sans-serif;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.box-center {
    text-align: center;
}

h1,
h2 {
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

h3,
h4 {
    border-bottom: 1px solid lightgrey;
}


h6 {
    border-top: 1px solid gainsboro;
    margin-bottom: -20px;
    padding-top: 10px;
}

em {
    color: crimson;
}

#content a:any-link {color: mediumblue;}