div#content>p>img {
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin-bottom: -17px;
}

figcaption {
    margin-top: -17px;
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    font-size: 80%;
    font-family: sans-serif;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.box-center {
    text-align: center;
}

h1,
h2 {
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

h3,
h4 {
    border-bottom: 1px solid lightgrey;
}


h6 {
    border-top: 1px solid gainsboro;
    margin-bottom: -20px;
    padding-top: 10px;
}

em {
    color: crimson;
}

#content a:any-link {color: mediumblue;}

blockquote {
    padding: 5px 5px 5px 10px;
    border: 1px solid lightgrey;
    border-left: 4px solid grey;
    margin-left: 0px;
    width: 100%;
}

blockquote>p>em {
    color: crimson;
}

blockquote>p>img {
    vertical-align: middle;
}

/* ONE LINE */


/* MULTI LINE */

blockquote.spirit-multi>p:last-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bolder;
}


blockquote,
blockquote.spirit-multi {
    border-left: 4px solid dodgerblue;
}

/* BIBLE */


blockquote.bible-multi>p:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}

blockquote.bible,
blockquote.bible-multi {
    border-left: 4px solid orchid;
}