/* VERSION 23.12.15 */

/* START DARK MODE */

.dark-mode {
    background-color:#222;
    color:#fff
    }
    
    .dark-mode #col1-body {
    background-color:#28343c
    }
    
    .dark-mode #col2-body a:any-link:hover {
    color:#1e90ff
    }
    
    .dark-mode .dropdown-content {
    background-color:#28343c
    }
    
    .dark-mode details.links {
    background-color:#333
    }
    
    .dark-mode iframe {
    filter:invert(87%) hue-rotate(180deg)
    }
    
    .dark-mode,.dark-mode html,.dark-mode body,.dark-mode #col2-body {
    background-color:#222;
    box-shadow:none;
    color:#fff
    }

    /* END DARK MODE */
