@media only screen and (max-width:782px) {
    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body {
        display: none;
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: 100vw !important;
    }

    #col2-fs-btn,
    #col2-ns-btn {
        margin-right: 23px;
    }

}

@media only screen and (min-width:783px) and (max-width:1419px) {
    #col1-head,
    #col1-body,
    #col1-brand,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5) !important;
    }

    #col3-head,
    #col3-body {
        right: 22px;
        width: calc((100vw * .5) - 23px) !important
    }
}

@media only screen and (min-width:1420px) and (max-width:1919px) {
    #col2-menu,
    #col2-brand,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }

}

@media only screen and (min-width:1920px) {
    #col2-brand,
    #col2-menu,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }
}

@media only screen and (orientation:portrait) {
    div#portrait-notice {
        display: block
    }
}

@media only screen and (orientation:landscape) {
    div#portrait-notice {
        display: none
    }
}