/*---------- FRAMEWORK ----------*/
html,
iframe,
img {
    overflow: clip !important
}

#col1-head {
    background-color: transparent;
    border: none;
    left: 0;
    padding: 0 0 0 10px;
    width: 300px;
    box-shadow: 0 5px 3px -3px #00000030;
    z-index: 3;
    border-bottom: 1px solid #59595980;
}

#col1-body {
    border-collapse: collapse;
    border-right: 1px solid #59595980;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: calc(100vh - (50px));
    left: 0;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding-left: 15px;
    position: fixed;
    scroll-behavior: smooth;
    top: 50px;
    width: 250px;
    background-color: #4ec1f51a;
    z-index: 1;
    padding-top: 5px;
}

#col1-body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#col1-body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#col1-brand,
#col2-brand {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-sizing: border-box;
    color: currentColor;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin-left: -5px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    text-decoration: none
}

#col2-brand {
    top: -3px
}

#col2-brand a:any-link,
#col2-head button,
#col2-head a:any-link,
#col3-head button,
#col3-head a:any-link {
    color: currentColor
}


#col2-head {
    box-shadow: 0 5px 3px -3px #00000030;
    left: 300px;
    padding: 0 17px 0 0;
    width: calc((100vw - 324px) * .5);
    z-index: 3;
    border-bottom: 1px solid #59595980;
}

.head {
    border-collapse: collapse;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: 50px;
    line-height: 50px;
}


#col2-body,
#col4-body {
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    height: calc(100vh - (50px));
    left: 300px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 0 55px 0 55px;
    position: fixed;
    scroll-behavior: smooth;
    top: 50px;
    width: calc((100vw - 324px) * .5);
    box-shadow: inset 1px 1px 25px 6px rgba(246, 238, 227, 1);
}

#col3-head {
    border: none;
    right: 24px !important;
    width: calc((100vw - 324px) * .5);
    padding: 0 20px 0 10px;
    z-index: 3;
    box-shadow: 0 5px 3px -3px #00000030;
    border-bottom: 1px solid #59595980;
}

#col3-head a {
    padding: 10px !important;
}

#col3-body {
    border-collapse: collapse;
    border-left: 1px solid #59595980;
    box-sizing: border-box;
    color: #000;
    height: calc(100vh - (50px));
    position: fixed;
    right: 24px !important;
    top: 50px;
    width: calc((100vw - 324px) * .5);
}

#col1-head,
#col1-body,
#col2-head,
#col3-head {
    background-color: #4ec1f51a;
}

#col2-body {
    background-color: #ffff0005;
}

#ext-iframe {
    border: none;
    height: 100%;
    width: 100%
}

#israel {
    border-collapse: collapse;
    bottom: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    left: -50px;
    position: fixed;
    transform: rotate(45deg);
    width: 141px;
    z-index: 3;
}

button {
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    color: currentColor;
    cursor: pointer;
    font-size: 24px;
    outline: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
}

a:any-link {
    outline: none
}

span.label {
    font-size: 10px !important;
    text-align: center;
    justify-content: center;
}

.sidebar-heading {
    border-bottom: 1px solid #59595980;
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 90%
}

.icon {
    font-family: 'Material Symbols Outlined';
    padding: 0 2px;
}

/*
.icon:hover {
    outline: 3px solid orange;
    border-radius: 50%;
}
*/
.fr {
    float: right
}

.hide {
    display: none
}

#col1-head a:any-link,
#col1-body a:any-link,
#col2-head a:any-link,
#col3-head a:any-link {
    color: currentColor;
    text-decoration: none;
}

p.banner {
    color: currentColor;
    padding: 10px;
    font-family: 'Inter';
    background-color: #ffff0066;
    text-align: center;
    border-left: 4px solid gold;
}

details,
summary {
    list-style-type: none;
    cursor: pointer;
    color: currentColor;
}

details summary::before {
    content: "＋ ";
    font-weight: 700;
    float: right;
    transition-property: all;
    transition-duration: .15s;
}

details[open] summary::before {
    content: "＋ ";
    transform: rotate(45deg);
    font-weight: 700;
    transition-property: all;
    transition-duration: .15s;
}

summary.ff-mono {
    width: 90%
}

details.links {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px 20px;
}

a:active,
a:focus {
    background-color: inherit;
    outline: none;
}

details:active {
    background-color: inherit;
    outline: none;
}

summary:active {
    background-color: inherit;
    outline: none;
}

.cd {
    cursor: default
}


a#col3-link1-a,
a#col3-link2-a,
a#col3-link3-a,
a#col3-link4-a {
    font-size: 24px;
    font-family: 'Inter';
    position: relative;
    bottom: 2px;
    color: currentColor;
    width: 40px;
    height: 40px;
    justify-content: center;
    text-align: center;
    padding: 6px;
    vertical-align: middle;
}

#hypo-label {
    font-family: sans;
    font-size: 12px;
    transform: rotate(270deg);
    position: absolute;
    top: 165px;
    right: -26px;
    vertical-align: middle;
    vertical-align: middle;
}