:root {
    --sidebar-width: 250px;
    --head-height: 50px;
    --white: #fff;
    --black: #000;
    --grey: #cccccc85;
}

* {
    /*
    background-color: var(--white);
    color: var(--black); */
    border-color: var(--grey);
    box-sizing: border-box;
    border-collapse: collapse;
}

html {
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
}

/* ----- MARGINS  ----- */
.m-0 {
    margin: 0
}

.m-10 {
    margin: 10px
}

.m-50 {
    margin: 50px
}

.mt-0 {
    margin-top: 0
}

.mt-10 {
    margin-top: 10px
}

.mt-50 {
    margin-top: 50px
}

.ml-n10 {
    margin-left: -10px;
}

.ml-n5 {
    margin-left: -5px
}

.ml-0 {
    margin-left: 0
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px;
}

.mb-0 {
    margin-bottom: 0
}

.mb-10 {
    margin-bottom: 10px
}

.mb-50 {
    margin-bottom: 50px
}

.mr-0 {
    margin-right: 0
}

.mr-10 {
    margin-right: 10px
}

.mr-20 {
    margin-right: 20px
}

.mr-23 {
    margin-right: 23px
}

.mr-30 {
    margin-right: 30px
}

.mr-50 {
    margin-right: 50px
}

/* ----- PADDING  ----- */
.p-0 {
    padding: 0
}

.p-10 {
    padding: 10px
}

.p-50 {
    padding: 50px
}

.pt-0 {
    padding-top: 0
}

.pt-10 {
    padding-top: 10px
}

.pt-50 {
    padding-top: 50px
}

.pl-0 {
    padding-left: 0
}

.pl-10 {
    padding-left: 10px
}

.pl-15 {
    padding-left: 15px
}

.pl-50 {
    padding-left: 50px
}

.pb-0 {
    padding-bottom: 0
}

.pb-5 {
    padding-bottom: 5px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-50 {
    padding-bottom: 50px
}

.pr-0 {
    padding-right: 0
}

.pr-10 {
    padding-right: 10px
}

.pr-50 {
    padding-right: 50px
}

/* ----- BORDER  ----- */
.border-0 {
    border: none
}

.border {
    border: 1px solid var(--grey);
}

.border-top {
    border-top: 1px solid var(--grey);
}

.border-right {
    border-right: 1px solid var(--grey);
}

.border-bottom {
    border-bottom: 1px solid var(--grey);
}

.border-short {
    border-bottom: 1px solid var(--grey);
    width: 70%;
}

.border-left {
    border-left: 1px solid var(--grey);
}

.border-circle {
    border-radius: 50%;
}

.border-square {
    border-radius: 0px;
}

.border-round {
    border-radius: 5px;
}

/* ----- OVERFLOW  ----- */
.overflow {
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

/* ----- FONT SIZE  ----- */
.fs-0 {
    font-size: 24px;
}

.fs-1 {
    font-size: 20px;
}

.fs-2 {
    font-size: 16px;
}

.fs-3 {
    font-size: 14px;
}

.fs-4 {
    font-size: 12px;
}

.fs-5 {
    font-size: 10px;
}

/* ----- FONT WEIGHT  ----- */
.fw-normal {
    font-weight: 300;
}

.fw-emphasis {
    font-weight: 400;
}

.fw-strong {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

/* ----- FONT FAMILY  ----- */
.ff-inter {
    font-family: 'Inter', sans-serif;
}

.ff-slab {
    font-family: 'Roboto Slab', serif;
}

.ff-russo {
    font-family: 'Russo One', sans-serif;
}

.ff-icon {
    font-family: 'Material Symbols Outlined';
}

.ff-mono {
    font-family: 'Roboto Mono', monospace;
}

/* ----- FONT COLOR ----- */
.fc-cc {
    color: currentColor
}

/* ----- POSITION  ----- */
.pos-fixed {
    position: fixed;
}

.pos-rel {
    position: relative;
}

.top-n5 {
    top: -5px;
}

.top-n10 {
    top: -10px;
}

.top-0 {
    top: 0;
}

.top-50 {
    top: 50px
}

.top-100 {
    top: 100px;
}

.left-sidebar {
    left: var(--sidebar-width)
}

.right-0 {
    right: 0px
}

.right-23 {
    right: 23px
}

.right-33 {
    right: 33px
}

/* ----- FLOAT  ----- */
.fr {
    float: right;
}

/* ----- HEIGHT  ----- */
.h-100 {
    height: 100%
}

.h-100vh {
    height: 100vh
}

.h-body {
    height: calc(100vh - (var(--head-height)))
}

.h-40 {
    height: 40px;
}

.h-50 {
    height: 50px;
}

/* ----- WIDTH  ----- */
.w-100 {
    width: 100%;
}

.w-100vw {
    width: 100vw;
}

/* ----- AUTO-WIDTH  ----- */
.w-auto {
    width: calc(((100vw - 23px) * .5) - var(--sidebar-width) * .5)
}

/* ----- SIDEBAR  ----- */
.sidebar-w {
    width: var(--sidebar-width);
}

.sidebar-h {
    height: var(--sidebar-height);
}

/* ----- DISPLAY  ----- */
.hidden {
    display: none;
}

/* ----- LINKS  ----- */

.underline-0 a {
    text-decoration: none;
    color: currentColor
}

/*
.focus a:hover {
    outline: 2px solid orange;
    padding: 2px 1px;
    border-radius: 3px;
}

.outline a:active {
    outline: 2px solid orange;
    padding: 2px 1px;
    border-radius: 3px;
}
*/

.outline-0 {
    outline: none;
}

/* ----- BUTTON  ----- */
button {
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px 5px 0px 5px;
    border: none;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    color: currentColor;
}

/*
button:hover {
    outline: 3px solid orange;
    border-radius: 50%;
}

a:hover {
    outline: 3px solid orange;
}
*/

/* ----- ICONS  ----- */
span.material-symbols-outlined {
    vertical-align: middle;
    color: currentColor;
    font-family: 'Material Symbols Outlined';
    position: relative;
    top: -5px;
}

/* ----- DETAILS SUMMARY  ----- */
details,
summary {
    cursor: pointer;
}

summary::marker {
    content: "＋ ";
}

details[open] summary::marker {
    content: "－ ";
}

details>p>a {
    margin-left: 10px;
}

/* ----- DARK MODE  ----- */
.dark-mode {
    background-color: #222;
    color: #eee;
}

.dark-mode #col1-body,
.dark-mode #col2-body,
.dark-mode #col3-body,
.dark-mode #col1-head,
.dark-mode #col2-head,
.dark-mode #col3-head {
    background-color: #222;
    color: #eee;
}

.dark-mode a {
    background-color: transparent;
}

.dark-mode #col2-body a {
    color: #66B3FF;
}

/* ----- HIDE SHOW  ----- */
.hide {
    display: none;
}

.show {
    display: inline;
}

/* ----- SHADES  ----- */
.shades-on {
    filter: blur(0px) grayscale(1) brightness(0);
}

.shades-off {
    filter: blur(0) grayscale(0) brightness(1);
}

img#israel {
    position: fixed;
    bottom: -10px;
    left: -50px;
    z-index: 99;
    width: 141px;
    transform: rotate(45deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.is-dark {
    filter: invert(.87);
}

