h1,
h2,
h3,
h4 {
    border-bottom: 1px solid var(--grey);
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 20px
}

h6 {
    border-bottom: 1px solid var(--grey);
    margin-bottom: -20px;
    padding-top: 10px
}

