@media only screen and (max-width:782px) {

    #col2-head,
    #col2-body {
        left: 0;
        width: 100vw !important
    }

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body,
    iframe#screenshot1,
    iframe#screenshot2,
    p.hidebtn {
        display: none
    }

    iframe#screenshot3,
    p.hidebtn2 {
        display: block
    }
}

@media only screen and (min-width:783px) and (max-width:1100px) {

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5) !important
    }

    #col3-head,
    #col3-body {
        right: 23px;
        width: calc((100vw * .5) - 23px) !important
    }

    #col1-head,
    #col1-body,
    #col1-brand,
    #col2-dm-btn,
    #col2-fs-btn,
    iframe#screenshot1,
    iframe#screenshot3 {
        display: none
    }

    iframe#screenshot2,
    p.hidebtn2 {
        display: block
    }
}

@media only screen and (min-width:1101px) and (max-width:1419px) {

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5) !important
    }

    #col3-head,
    #col3-body {
        right: 23px;
        width: calc((100vw * .5) - 23px) !important
    }

    #col1-head,
    #col1-body,
    #col1-brand,
    #col2-dm-btn,
    #col2-fs-btn,
    iframe#screenshot1,
    iframe#screenshot3 {
        display: none
    }

    iframe#screenshot2,
    p.hidebtn2 {
        display: block
    }
}

@media only screen and (min-width:1420px) and (max-width:1919px) {
    iframe#screenshot1 {
        display: block
    }

    #col2-menu-on,
    #col2-brand,
    #col2-dm-btn,
    #col2-fs-btn,
    iframe#screenshot2,
    iframe#screenshot3,
    p.hidebtn2 {
        display: none
    }
}

@media only screen and (min-width:1920px) {
    iframe#screenshot1 {
        display: block
    }

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn,
    #col2-fs-btn,
    #col2-fs-btn,
    #col2-ns-btn,
    iframe#screenshot2,
    iframe#screenshot3,
    p.hidebtn2 {
        display: none
    }
}

@media only screen and (orientation:portrait) {
    div#portrait-notice {
        display: block
    }
}

@media only screen and (orientation:landscape) {
    div#portrait-notice {
        display: none
    }
}