/* START MEDIA QUERIES */

@media only screen and (max-width: 450px) {
    #col1-body {
        background-color: #f0fcfc
    }

    #col2-body {
        padding: 0 15px
    }

    #col2-body,
    #col4-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-brand,
    #col2-menu-on, #col2-fs-btn {
        display: inline-block
    }

    #col2-dm-btn,
    #col2-lm-btn {
        padding-right: 25px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw - 24px)
    }

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body,
    #col3-link1,
    #col3-link2,
    #col3-link3,
    #col3-link4,
    #webshare {
        display: none
    }

    #col3-head {
        padding-right: 30px
    }

}

@media only screen and (min-width:450px) and (max-width:750px) {
    #col1-body {
        background-color: #f0fcfc
    }

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body,
    #col3-link1,
    #col3-link2,
    #col3-link3,
    #col3-link4 {
        display: none
    }

    #col2-body,
    #col4-body {
        padding: 0 15px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw - 24px)
    }

    #col2-fs-btn {display: inline-block;}

}


@media only screen and (min-width:750px) and (max-width:1000px) {
    #col1-body {
        background-color: #f0fcfc
    }

    #col1-head,
    #col1-body,
    #col2-fs-btn,
    #webshare {
        display: none
    }

    #col2-body,
    #col4-body {
        padding: 0 15px
    }

    #col2-head,
    #col2-body {
        left: 0
    }

    #col2-head,
    #col2-body,
    #col3-head,
    #col3-body {
        width: calc((100vw - 24px) * .5)
    }

    #col2-fs-btn {display: inline-block;}

}

@media only screen and (min-width:1000px) and (max-width:1463px) {
    #col1-body {
        background-color: #f0fcfc
    }

    #col1-head,
    #col1-body,
    #col2-fs-btn,
    #webshare {
        display: none
    }

    #col2-body,
    #col4-body {
        padding: 0 15px
    }

    #col2-head,
    #col2-body {
        left: 0
    }

    #col2-head,
    #col2-body,
    #col3-head,
    #col3-body {
        width: calc((100vw - 24px) * .5)
    }

}

@media only screen and (min-width:1463px) and (max-width:1890px) {
    #col1-body {
        background-color: #f0fcfc
    }

    #col1-head,
    #col1-body,
    #col2-fs-btn,
    #webshare {
        display: none
    }

    #col2-head,
    #col2-body {
        left: 0
    }

    #col2-head,
    #col2-body,
    #col3-head,
    #col3-body {
        width: calc((100vw - 24px) * .5)
    }
}

@media only screen and (min-width:1890px) {

    #col2-brand,
    #col2-menu-on,
    #col2-fs-btn,
    #webshare {
        display: none
    }

}


@media  only screen and (max-width:749px) and (orientation: portrait)  {
    #alert {
        display: block;
    }

}


/* END MEDIA QUERIES */