@media only screen and (max-width:782px) {

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body {
        display: none;
    }

    #col2-head,
    #col2-body {
        left: 0px;
        width: 100vw !important;
    }

    iframe#screenshot1 {
        display: none ;
    }

    iframe#screenshot2 {
        display: none 
    }

    iframe#screenshot3 {
        display: block 
    }

    p.hidebtn {display: none;}

}

@media only screen and (min-width:783px) and (max-width:1100px) {

    #col1-head,
    #col1-body,
    #col1-brand,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }


    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5) !important;
    }

    #col3-head,
    #col3-body {
        right: 23px;
        width: calc((100vw * .5) - 23px) !important
    }

    iframe#screenshot1 {
        display: none ;
    }

    iframe#screenshot2 {
        display: block; 
    }

    iframe#screenshot3 {
        display: none 
    }
}

@media only screen and (min-width:1101px) and (max-width:1419px) {

    #col1-head,
    #col1-body,
    #col1-brand,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }


    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw * .5) !important;
    }

    #col3-head,
    #col3-body {
        right: 23px;
        width: calc((100vw * .5) - 23px) !important
    }

    iframe#screenshot1 {
        display: none ;
    }

    iframe#screenshot2 {
        display: block 
    }

    iframe#screenshot3 {
        display: none 
    }
}


@media only screen and (min-width:1420px) and (max-width:1919px) {

    #col2-menu-on,
    #col2-brand,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }

    iframe#screenshot1 {
        display: block ;
    }

    iframe#screenshot2 {
        display: none 
    }

    iframe#screenshot3 {
        display: none 
    }
}

@media only screen and (min-width:1920px) {

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none;
    }

    #col2-fs-btn,
    #col2-ns-btn {
        display: none;
    }

    iframe#screenshot1 {
        display: block ;
    }

    iframe#screenshot2 {
        display: none 
    }

    iframe#screenshot3 {
        display: none 
    }

}

/* ----- ORIENTATION ----- */

@media only screen and (orientation:portrait) {
    div#portrait-notice {
        display: block
    }
}

@media only screen and (orientation:landscape) {
    div#portrait-notice {
        display: none
    }
}