.hero {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
  word-spacing: 5px;
  color: #555;
  background-color: floralwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  margin: 40px;
  transform: rotate(1deg);
}

.center-button {
  font-family: sans-serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid gainsboro;
  padding: 12px 18px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  display: block;
  width: 50px;
  background-color: #ddd;
}

.center-button:hover {
  background-color: #4ec1f5;
  color: #000;
}

@media (orientation: landscape) {
  .hero {
      max-width: 400px;
      max-height: 400px;
      margin-left: auto;
      margin-right: auto;
  }
}

@media (orientation: portrait) {
  .hero {
    max-width: 400px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;;
  }
}