/* VERSION 23.12.16 */

/* START TOOLS */

#vert-tools {
    -ms-overflow-style:none;
    background-color:inherit;
    border-collapse:collapse;
    border-right:1px solid var(--border-color-light);
    box-shadow:5px 0 3px -3px #00000030;
    display:inline-block;
    height: var(--body-height);
    left: var(--sidebar-width);
    overflow:auto;
    position:fixed;
    scrollbar-width:none;
    top: var(--head-height);
    width: var(--head-height)
    }
    
    #vert-tools::-webkit-scrollbar {
    display:none
    }
    
    .aj {
    text-align:justify!important
    }
    
    .al {
    text-align:left!important
    }
    
    .b1 {
    background-color:#ffff001a!important;
    box-shadow:none!important
    }
        
    .b2 {
    background-color:#00ff001a!important;
    box-shadow:none!important
    }
    
    .b3 {
    background-color:#ffc0cb22!important;
    box-shadow:none!important
    }
    
    .b4 {
    background-color:#fff!important;
    box-shadow:none!important
    }
    
    .dm {
    line-height:1.7!important
    }
    
    .dn {
    line-height:1.5!important
    }
    
    .ds {
    line-height:1.3!important
    }
    
    .f1 {
    font-family:'Inter'!important
    }
    
    .f2 {
    font-family:'Georgia'!important
    }
    
    .f3 {
    font-family:'Roboto Mono'!important
    }
    
    .f4 {
    font-family:'Roboto Slab'!important
    }
    
    .show {
    display:block
    }
    
    .td {
    font-size:14px!important
    }
    
    .ti {
    font-size:18px!important
    }
    
    .tn {
    font-size:16px!important
    }
    
    button.tools {
    font-family:'Material Symbols Outlined'!important;
    font-size:22px!important
    }

    /* END TOOLS */