/* START TOOLS */

#vert-tools {
    -ms-overflow-style:none;
    background-color:inherit;
    border-collapse:collapse;
    border-right:1px solid #59595980;
    box-shadow:5px 0 3px -3px #00000030;
    display:inline-block;
    height:calc(100vh - 50px);
    left:250px;
    overflow:auto;
    position:fixed;
    scrollbar-width:none;
    top:50px;
    width:50px
    }
    
    #vert-tools::-webkit-scrollbar {
    display:none
    }
    
    .aj {
    text-align:justify!important
    }
    
    .al {
    text-align:left!important
    }
    
    .b1 {
    background-color:#ffff001a!important;
    box-shadow:none!important
    }

    .tools {filter: grayscale(1)}

    .tools:hover {filter: grayscale(0)}
        
    .b2 {
    background-color:#00ff001a!important;
    box-shadow:none!important
    }
    
    .b3 {
    background-color:#ffc0cb22!important;
    box-shadow:none!important
    }
    
    .b4 {
    background-color:#fff!important;
    box-shadow:none!important
    }
    
    .dm {
    line-height:1.7!important
    }
    
    .dn {
    line-height:1.5!important
    }
    
    .dropbtn {
    cursor:pointer;
    font-size:18px;
    height:50px;
    padding:0 13px 2px;
    width:50px
    }
    
    .dropdown-content {
    background-color:#f0fcfc;
    box-shadow:5px 0 3px -3px #00000030;
    color:currentColor;
    display:none;
    overflow:scroll;
    width:50px;
    z-index:1
    }
    
    .dropdown-content button {
    color:currentColor;
    cursor:pointer;
    display:block;
    margin:0;
    padding:0;
    z-index:2
    }
    
    .ds {
    line-height:1.3!important
    }
    
    .f1 {
    font-family:'Inter'!important
    }
    
    .f2 {
    font-family:'Georgia'!important
    }
    
    .f3 {
    font-family:'Roboto Mono'!important
    }
    
    .f4 {
    font-family:'Roboto Slab'!important
    }
    
    .show {
    display:block
    }
    
    .td {
    font-size:14px!important
    }
    
    .ti {
    font-size:18px!important
    }
    
    .tn {
    font-size:16px!important
    }
    
    button.tools {
    font-family:'Material Symbols Outlined'!important;
    font-size:22px!important
    }

    /* END TOOLS */