button.tools {
    font-family: 'Material Symbols Outlined' !important;
    font-size: 22px !important
}


.ti {
    font-size: 18px !important;
}

.tn {
    font-size: 16px !important
}

.td {
    font-size: 14px !important
}

.al {
    text-align: left !important
}

.aj {
    text-align: justify !important
}

.f1 {
    font-family: 'Inter' !important
}

.f2 {
    font-family: 'Georgia' !important
}

.f3 {
    font-family: 'Roboto Mono' !important
}

.f4 {
    font-family: 'Roboto Slab' !important
}

.ds {
    line-height: 1.3 !important
}

.dn {
    line-height: 1.5 !important
}

.dm {
    line-height: 1.7 !important
}

.b1 {
    background-color: #ffff001a !important;
    box-shadow: none !important;
}

.b2 {
    background-color: #00ff001a !important;
    box-shadow: none !important;
}

.b3 {
    background-color: #ffc0cb22 !important;
    box-shadow: none !important;
}

.b4 {
    background-color: #fff !important;
    box-shadow: none !important;
}

.dropbtn {
    cursor: pointer;
    padding: 0 13px 2px 13px;
    font-size: 18px;
    width: 50px;
    height: 50px;
}

.dropdown-content {
    width: 50px;
    display: none;
    overflow: scroll;
    background-color: #f0fcfc;
    box-shadow: 5px 0px 3px -3px #00000030;
    z-index: 1;
    color: currentColor;
}

.dropdown-content button {
    display: block;
    margin: 0;
    padding: 0px;
    cursor: pointer;
    color: currentColor;
    z-index: 2;
}

.show {
    display: block;
}

#vert-tools {
    position: fixed;
    top: 50px;
    left: 250px;
    width: 50px;
    display: inline-block;
    background-color: inherit;
    border-right: 1px solid #59595980;
    border-collapse: collapse;
    height: calc(100vh - 50px);
    box-shadow: 5px 0 3px -3px #00000030;
    overflow: auto;
}

#vert-tools::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#vert-tools {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}