#col1-body {
    border-collapse: collapse;
    border-right: 1px solid #59595980;
    border-top: 1px solid #59595980;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: calc(100vh - (50px));
    left: 0;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding-left: 15px;
    position: fixed;
    scroll-behavior: smooth;
    top: 50px;
    width: 250px;
    z-index: 1
}

#col1-brand,
#col2-brand {
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-sizing: border-box;
    color: currentColor;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin-left: -5px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    text-decoration: none
}

#col1-head {
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 250px
}

#col1-head a:any-link,
#col1-body a:any-link,
#col2-head a:any-link,
#col3-head a:any-link {
    color: currentColor;
    text-decoration: none;
}

#col1-head,
#col2-head,
#col3-head {
    background-color: #4ec1f51a;
    box-shadow: 0 5px 3px -3px #00000030;
    z-index: 3;
}

#col2-body {
    background-color: transparent;
    background-color: #ffff0005;
    border-collapse: collapse;
    border-top: 1px solid #59595980;
    box-shadow: inset 1px 1px 25px 6px #f6eee3ff;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    height: calc(100vh - (50px));
    left: 250px;
    line-height: 1.7;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 0 55px;
    position: fixed;
    scroll-behavior: smooth;
    top: 50px;
    width: calc((100vw - 273px) * .5)
}

#col2-body a:any-link {
    color: inherit;
    text-decoration: underline 1.5px #0080ff;
    text-underline-offset: 2px
}

#col2-body a:hover {
    color: #0080ff;
    text-decoration: underline;
    text-decoration-color: #0080ff;
    text-underline-offset: 2px
}

#col2-body blockquote {
    background-color: #1e90ff1a;
    border-left: 4px solid #1e90ffff;
    margin: 10px;
    padding: 1px 20px
}

#col2-body blockquote.bible,
#col2-body blockquote.bible-multi {
    background-color: #da70d61a;
    border-left: 4px solid #da70d6ff;
    font-style: italic;
    margin: 10px;
    padding: 1px 20px
}

#col2-body blockquote.bible-multi>p:last-child {
    font-style: normal;
    font-weight: 400;
    text-align: right
}

#col2-body blockquote.bible::first-letter,
#col2-body blockquote.bible-multi::first-letter {
    all: unset;
    font-style: normal
}

#col2-body blockquote.greek {
    background-color: #fcb8871a;
    border-left: 4px solid #fcb887ff;
    margin: 10px;
    padding: 1px 20px
}

#col2-body blockquote.greek::first-letter {
    background-color: #fcb887;
    border-bottom: 1.5px solid #e29f6d;
    border-radius: 2px;
    border-right: 1.5px solid #e29f6d;
    font-size: 80%;
    font-style: normal;
    padding: 1px
}

#col2-body blockquote.grey {
    background-color: #8080801a;
    border-left: 4px solid #808080ff;
    margin: 10px;
    padding: 1px 20px
}

#col2-body blockquote.grey em {
    color: inherit;
    font-weight: 700
}

#col2-body blockquote.grey-center {
    background-color: #8080801a;
    border-left: 4px solid #808080ff;
    margin: 10px;
    padding: 1px 20px;
    text-align: center
}

#col2-body blockquote.grey::first-letter {
    all: unset;
    font-style: normal
}

#col2-body blockquote.spirit,
#col2-body blockquote.spirit-multi {
    background-color: #1e90ff1a;
    border-left: 4px solid #1e90ffff;
    margin: 10px;
    padding: 1px 20px
}

#col2-body blockquote.spirit-multi>p:last-child {
    font-style: normal;
    font-weight: 400;
    text-align: right
}

#col2-body blockquote.spirit::first-letter,
#col2-body blockquote.spirit-multi::first-letter {
    background-color: #1e90ff;
    border-bottom: 1.5px solid #06c;
    border-radius: 2px;
    border-right: 1.5px solid #06c;
    font-size: 80%;
    font-style: normal;
    padding: 1px
}

#col2-body blockquote:first-letter {
    background-color: #1e90ff;
    border-bottom: 1.5px solid #06c;
    border-radius: 2px;
    border-right: 1.5px solid #06c;
    font-size: 80%;
    font-style: normal;
    padding: 1px
}

#col2-body img {
    width: 100%;
    width: 100%
}

#col2-body pre {
    background-color: #e6e6e61a;
    border: 1px solid #59595980;
    border-collapse: collapse;
    width: 100%
}

#col2-body table {
    border-collapse: collapse;
    width: 100%
}

#col2-body td {
    background-color: #e6e6e61a;
    border: 1px solid #59595980;
    padding: 0 10px
}

#col2-body th {
    background-color: #e6e6e64d;
    border: 1px solid #59595980;
    font-weight: 400;
    padding: 0 10px
}

#col2-body::-webkit-scrollbar {
    width: 10px
}

#col2-body::-webkit-scrollbar-thumb {
    background: #888
}

#col2-body::-webkit-scrollbar-thumb:hover {
    background: #555
}

#col2-body::-webkit-scrollbar-track {
    background: #f1f1f1
}

#col2-brand {
    top: -3px
}

#col2-brand a:any-link,
#col2-head button,
#col2-head a:any-link,
#col3-head button,
#col3-head a:any-link {
    color: currentColor
}

#col2-head {
    border-collapse: collapse;
    box-sizing: border-box;
    height: 50px;
    left: 250px;
    padding-right: 20px;
    padding-top: 3px;
    position: fixed;
    top: 0;
    width: calc((100vw - 273px) * .5)
}

#col2-head button {
    position: relative;
    top: 2px
}

#col3-body {
    border-collapse: collapse;
    border-left: 1px solid #59595980;
    border-top: 1px solid #59595980;
    box-sizing: border-box;
    color: #000;
    height: calc(100vh - (50px));
    position: fixed;
    right: 23px;
    top: 50px;
    width: calc((100vw - 273px) * .5)
}

#col3-head {
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    right: 23px;
    top: 0;
    width: calc((100vw - 273px) * .5)
}

#col3-head button {
    position: relative;
    top: -5px
}

#ext-iframe {
    border: none;
    height: 100%;
    width: 100%
}

#israel {
    border-collapse: collapse;
    bottom: -10px;
    box-shadow: 0 4px 8px 0 #0003 0 6px 20px 0 #00000030;
    box-sizing: border-box;
    left: -50px;
    position: fixed;
    transform: rotate(45deg);
    width: 141px;
    z-index: 99
}

#tools-group {
    display: inline;
    font-family: sans-serif;
    font-size: 22px;
    position: fixed;
    top: 5px
}

.aj {
    text-align: justify
}

.al {
    text-align: left
}

.author,
strong {
    font-weight: 400
}

.b1 {
    background-color: #ffff001a;
    box-shadow: none
}

.b2 {
    background-color: #00ff001a;
    box-shadow: none
}

.b3 {
    background-color: #ffc0cb22;
    box-shadow: none
}

.b4 {
    background-color: #fff;
    box-shadow: none
}

.cd {
    cursor: default
}

.center {
    text-align: center
}

.dark-mode {
    background-color: #222;
    color: #fff
}

.dark-mode #col1-body {
    background-color: #28343c
}

.dark-mode #col2-body a:any-link:hover {
    color: #1e90ff
}

.dark-mode .dropdown-content {
    background-color: #28343c
}

.dark-mode details.links {
    background-color: #333
}

.dark-mode iframe {
    filter: invert(87%)
}

.dark-mode,
.dark-mode html,
.dark-mode body,
.dark-mode #col2-body {
    background-color: #222;
    box-shadow: none;
    color: #fff
}

.dm {
    line-height: 1.7
}

.dn {
    line-height: 1.5
}

.dropbtn {
    border-radius: 50%;
    cursor: pointer;
    padding: 0 13px 2px;
    position: relative;
    top: 32px
}

.dropdown {
    display: inline-block;
    left: 55px;
    position: relative
}

.dropdown-content {
    background-color: #f0f8ff;
    border: 1px solid #59595980;
    border-radius: 20px;
    display: none;
    left: 16px;
    overflow: auto;
    padding: 3px;
    position: absolute;
    top: 70px;
    z-index: 2
}

.dropdown-content button {
    color: currentColor;
    cursor: pointer;
    display: block;
    margin: 20px 0;
    padding: 2px;
    z-index: 2
}

.ds {
    line-height: 1.3
}

.f1 {
    font-family: 'Inter'
}

.f2 {
    font-family: 'Georgia'
}

.f3 {
    font-family: 'Roboto Mono'
}

.f4 {
    font-family: 'Roboto Slab'
}

.ff-mono {
    font-family: 'Roboto Mono'
}

.fr {
    float: right;
    float: right
}

.hide {
    display: none;
    display: none
}

.icon {
    font-family: 'Material Symbols Outlined';
    padding: 0 2px;
    padding: 0 2px
}

.label {
    font-size: 12px;
    left: 5px;
    position: relative;
    top: -9px
}

.show {
    display: block
}

.sidebar-heading {
    border-bottom: 1px solid #59595980;
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 90%
}

.td {
    font-size: 14px
}

.ti {
    font-size: 18px
}

.tn {
    font-size: 16px
}

a.backlink {
    font-size: 80%;
    transform: scale(.8)
}

a:active,
a:focus {
    background-color: inherit;
    outline: none
}

a:any-link {
    outline: 0;
    outline: 0
}

abbr {
    text-underline-offset: 2px;
}

blockquote a {
    color: inherit
}

blockquote a:hover {
    color: unset
}

blockquote.bible em {
    color: #dc143c
}

button {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-radius: 50%;
    box-sizing: border-box;
    color: currentColor;
    cursor: pointer;
    font-size: 24px;
    justify-content: center;
    margin-left: 10px;
    outline: 0;
    padding: 6px 5px 0 0;
    text-align: center
}

button.tools {
    font-family: 'Material Symbols Outlined';
    font-size: 22px;
    margin-left: 20px
}

details summary::before {
    content: "＋ ";
    float: right;
    font-weight: 700;
    transition-duration: .15s;
    transition-property: all
}

details,
summary {
    color: currentColor;
    cursor: pointer;
    list-style-type: none
}

details.links {
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px 20px
}

details:active {
    background-color: inherit;
    outline: none
}

details[open] summary::before {
    content: "＋ ";
    font-weight: 700;
    transform: rotate(45deg);
    transition-duration: .15s;
    transition-property: all
}

em {
    color: currentColor;
    font-style: italic
}

h1,
h2,
h3,
h4 {
    border-bottom: 1px solid #59595980;
    font-family: 'Roboto Slab';
    font-weight: 400
}

h1:before {
    color: #ddd9;
    content: "h1 "
}

h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: 400
}

h2:before {
    color: #ddd9;
    content: "h2 "
}

h3:before {
    color: #ddd9;
    content: "h3 "
}

h4:before {
    color: #ddd9;
    content: "h4 "
}

h5:before {
    color: #ddd9;
    content: "h5 "
}

h6 {
    border-bottom: 1px solid #59595980;
    font-family: 'Roboto Slab';
    font-size: 16px;
    margin-bottom: -15px;
    margin-top: 0;
    padding-top: 20px
}

h6:before {
    color: #ddd9;
    content: "h6 "
}

html,
iframe,
img {
    overflow: clip
}

kbd {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: currentColor;
    font-family: 'Inter';
    font-size: 14px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

p.banner {
    background-color: #ff06;
    border-left: 4px solid #ffd700;
    color: currentColor;
    font-family: 'Inter';
    padding: 10px;
    text-align: center
}

p.cursive {
    font-family: 'Zeyada';
    font-size: 60px;
    margin-top: -20px;
}

summary.ff-mono {
    width: 90%
}

summary:active {
    background-color: inherit;
    outline: none
}

@media only screen and (max-width:479px) {
    #col1-body {
        background-color: #f0f8ff
    }

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body,
    .label {
        display: none
    }

    #col2-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col2-dm-btn,
    #col2-lm-btn {
        padding-right: 25px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw - 23px)
    }

    #col3-head {
        padding-right: 30px
    }

    .dropdown {
        left: 15px
    }

    .dropdown-content {
        background-color: #f0f8ff;
        left: 20px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.c {
        display: table-row
    }
}

@media only screen and (min-width:480px) and (max-width:782px) {
    #col1-body {
        background-color: #f0f8ff
    }

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body {
        display: none
    }

    #col2-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col2-dm-btn,
    #col2-lm-btn {
        padding-right: 15px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(100vw - 23px)
    }

    #col3-head {
        padding-right: 30px
    }

    .dropdown {
        left: 15px
    }

    .dropdown-content {
        background-color: #f0f8ff;
        left: 20px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.c {
        display: table-row
    }
}

@media only screen and (min-width:783px) and (max-width:1300px) {
    #col1-body {
        background-color: #f0f8ff
    }

    #col2-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-dm-btn,
    #col2-fs-btn,
    #col1-head,
    #col1-body,
    .label {
        display: none
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(50vw - 12px)
    }

    #col3-head {
        padding-right: 30px
    }

    #col3-head,
    #col3-body {
        width: calc(50vw - 12px)
    }

    .dropdown {
        left: 15px
    }

    .dropdown-content {
        background-color: #f0f8ff;
        left: 20px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.t {
        display: table-row
    }
}

@media only screen and (min-width:1301px) and (max-width:1400px) {
    #col1-body {
        background-color: #f0f8ff
    }

    #col1-body,
    #col1-head,
    #col1-brand,
    #col2-dm-btn,
    #col2-fs-btn {
        display: none
    }

    #col2-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: calc(50vw - 12px)
    }

    #col3-head {
        padding-right: 30px
    }

    #col3-head,
    #col3-body {
        right: 0;
        width: calc(50vw - 12px)
    }

    .dropdown {
        left: 15px
    }

    .dropdown-content {
        background-color: #f0f8ff;
        left: 20px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.t {
        display: table-row
    }
}

@media only screen and (min-width:1401px) and (max-width:1711px) {
    #col1-body {
        background-color: #f0f8ff
    }

    #col1-head {
        display: inline-block
    }

    #col2-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn,
    #col1-head,
    #col2-fs-btn,
    #col3-fs-btn {
        display: none
    }

    #col3-head {
        padding-right: 30px
    }

    .dropdown {
        left: 15px
    }

    .dropdown-content {
        background-color: #f0f8ff;
        left: 20px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.d {
        display: table-row
    }
}

@media only screen and (min-width:1712px) and (max-width:1920px) {
    #col1-body {
        background-color: #f0f8ff
    }

    #col1-head {
        display: inline-block
    }

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn,
    #col1-head,
    #col2-fs-btn,
    #col3-fs-btn {
        display: none
    }

    #col3-head {
        padding-right: 30px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.d {
        display: table-row
    }
}

@media only screen and (min-width:1920px) {

    #col1-body {
        background-color: #f0f8ff
    }

    #col2-brand,
    #col2-menu-on,
    #col2-dm-btn,
    #col2-fs-btn,
    #col3-fs-btn {
        display: none
    }

    #col3-head {
        padding-right: 30px
    }

    iframe#screenshot1 {
        display: block
    }

    iframe#screenshot2 {
        display: block
    }

    iframe#screenshot3 {
        display: block
    }

    tr.d {
        display: table-row
    }
}

@media only screen and (display-mode: fullscreen) {

    #col2-fs-btn,
    #col2-ns-btn,
    #col3-fs-btn,
    #col3-ns-btn {
        display: none
    }
}





