#brand-col2 {
    display: none
}

#brand-col2 a:any-link {
    color: #555
}

#col1 {
    width: 200px
}

#col1,
#col1 a:any-link,
#col3-head a:any-link {
    color: #555;
    text-decoration: none
}

#col1-body {
    font-size: 14px;
    overflow-y: scroll;
    width: 200px
}

#col1-body a:any-link {
    text-decoration: none
}

#col1-body a:any-link:hover {
    text-decoration: underline #4169e1;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px
}

#col1-head {
    background-color: #f0f8ff;
    width: 200px
}

#col2,
#col3 {
    flex-grow: 1;
    width: calc(100vh * .5)
}

#col2,
#col3 {
    min-width: 270px
}

#brand-col2 {
    position: relative;
    top: -5px
}

#brand-col2 a:any-link {
    text-decoration: none
}

#col2-body {
    flex-grow: 1;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    line-height: 1.7;
    overflow-x: hidden
}

#col2-head {
    background-color: #f0f8ff;
    flex-grow: 1
}

#col3-body {
    background-color: #eee;
    flex-grow: 1
}

#col3-head {
    background-color: #f0f8ff;
    flex-grow: 1;
    margin-top: -2px;
    padding-right: 40px;
    padding-top: 13px
}

#col3-head a {
    margin: 0 8px
}

#col3-head a:any-link {
    background-color: transparent;
    color: #555;
    cursor: pointer;
    height: 30px;
    padding: 12px 0 0 5px;
    width: 30px
}

#col4 {
    flex-shrink: 1;
    width: 453px
}

#col4-body {
    background-color: #eee;
    flex-shrink: 1;
    width: 453px
}

#col4-head {
    background-color: #eee;
    border-bottom: none;
    flex-shrink: 1;
    width: 453px
}

* {
    box-sizing: border-box
}

.body {
    padding: 10px
}

.flex {
    display: flex;
    height: 100vh;
    overflow-y: scroll
}

.flex-body {
    display: flex;
    height: calc(100vh - 50px)
}

.flex-body>div {
    border-right: 1px solid #d3d3d3;
    min-width: 210px;
    overflow-y: scroll
}

.flex-head {
    display: flex;
    height: 50px
}

.flex-head>div {
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    min-width: 210px
}

.flex>div {
    background-color: transparent
}

.fr {
    float: right
}

.h3 {
    border-bottom: 1px solid #dcdcdc;
    font-size: 16px;
    font-weight: 700
}

.head {
    display: inline-block;
    padding: 10px
}

.shades-on {
    filter: brightness(.1)
}

body {
    margin: 0;
    padding: 0
}

button {
    background-color: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    height: 30px;
    margin: 0 5px;
    padding: 2.5px 0 0;
    padding: 3px 0 0 0;
    text-align: center !important;
    width: 30px
}

#col3-head a:any-link:hover,
button:hover {
    color: #000;
    transition-duration: .5s;
    transition-timing-function: ease-in-out
}

html {
    font: 16px Inter, sans-serif;
    margin: 0 23px 0 0;
    padding: 0
}

iframe {
    border: none;
    filter: brightness(.95);
    height: 100%;
    width: 100%
}

.margin-0 {
    position: relative;
    left: -200px
}

@media only screen and (max-width:782px) {
    #brand-col2 {
        display: inline-flex
    }

    #col1 {
        min-width: 300px
    }

    #brand-col1,
    #col1,
    #col3,
    #col4 {
        display: none
    }

    #col2-head {
        padding-right: 30px
    }
}

@media only screen and (min-width:783px) and (max-width:1419px) {
    #brand-col2 {
        display: inline-flex
    }

    #brand-col1,
    #col1,
    #col4 {
        display: none
    }
}

@media only screen and (min-width:1420px) and (max-width:1919px) {
    #brand-col2 {
        display: inline-flex
    }

    #brand-col1,
    #col1,
    #col4 {
        display: none
    }
}

@media only screen and (min-width:1920px) {

    #button-one,
    #col4 {
        display: none
    }
}