/* 🚨 FRAMES */
#main {
  height: 94.5vh;
  width: 60vw;
  overflow: scroll;
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 1em;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 0;
}

#ext-links {
  border-left: 1px solid white;
  position: absolute;
  top: 0;
  right: 0;
  width: 39vw;
  margin-right: 20px;
  background-color: #333;
  color: white;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 2;
  height: 50px !important;
}

#ext-frame {
  border-left: 2px solid grey;
  height: 94.5vh;
  width: 39vw;
  overflow: scroll;
  position: absolute;
  top: 50px;
  right: 20px;
}

#ext-iframe {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  border-left: 2px solid grey;
}

/* 🚨 MEDIA QUERY */
@media screen and (max-width: 850px) {

  #ext-frame {
    display: none;
  }

  #main {
    width: 97vw;
  }

}

/* 🚨 MEDIA QUERY */
@media screen and (min-width: 1097px) {

  #main {
    width: 59vw;
  }

}


