#myinput
{
	background-position:14px 12px;
	background-repeat:no-repeat;
	border:none;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	font-size:1em;
	padding:14px 20px 12px;
}

#myinput:focus
{
	outline:3px solid #ddd
}

#navbar
{
	background-color:#444;
	color:#fff;
	padding-right:40px;
	z-index:1
}

*
{
	box-sizing:border-box
}

.dropbtn1,.dropbtn2
{
	background-color:#444;
	border:none;
	color:#fff;
	cursor:pointer;
	font-size:1em;
	padding:16px
}

.dropbtn3
{
	background-color:#444;
	border:none;
	color:#fff;
	cursor:pointer;
	font-size:1em;
	padding:16px;
	position:relative;
	right:39vw
}

.dropdown-content1
{
	background-color:#f1f1f1;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	display:none;
	font-family:sans-serif;
	min-width:180px;
	position:absolute;
	z-index:1
}

.dropdown-content1 a,.dropdown-content2 a,.dropdown-content3 a
{
	color:#222;
	display:block;
	padding:12px 16px;
	text-decoration:none
}

.dropdown-content1 a:hover,.dropdown2 a:hover,.dropdown-content3 a:hover,.dropdown-content1 button:hover,.dropdown-content2 button:hover,.dropdown-content3 button:hover
{
	background-color:#ddd
}

.dropdown-content1 button,.dropdown-content2 button
{
	border:none;
	color:#222;
	cursor:pointer;
	display:block;
	font-size:1em;
	padding:12px 16px;
	text-align:left;
	text-decoration:none;
	width:100%
}

.dropdown-content2
{
	background-color:#f1f1f1;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	display:none;
	font-family:sans-serif;
	min-width:300px;
	overflow:auto;
	position:absolute;
	z-index:1;
	height: 90vh;
}

.dropdown-content3
{
	background-color:#f1f1f1;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	display:none;
	font-family:sans-serif;
	min-width:160px;
	position:absolute;
	right:39vw;
	z-index:1
}

.dropdown-content3 button
{
	border:none;
	color:#222;
	cursor:pointer;
	display:block;
	font-size:1em;
	padding:12px 16px;
	text-align:right;
	text-decoration:none;
	width:100%
}

.dropdown1,.dropdown2
{
	display:inline-block;
	position:relative
}

.dropdown1:hover .dropbtn1,.dropdown2:hover .dropbtn2,.dropdown3:hover .dropbtn3
{
	background-color:#222
}

.dropdown1:hover .dropdown-content1,.dropdown2:hover .dropdown-content2,.dropdown3:hover .dropdown-content3,.show
{
	display:block
}

.dropdown3
{
	float:right;
	position:relative
}

.label
{
	display:show
}

button#brand
{
	background-color:#222;
	border:none;
	color:#d3d3d3;
	font-size:1.1em;
	font-weight:700;
	padding:.8em
}

html,body
{
	margin:0;
	padding:0;
	scroll-behavior:smooth
}

@media screen and (max-width: 850px) {
	.dropbtn3,.dropdown-content3
	{
		right:20px
	}

	.label
	{
		display:none
	}
}

#ext-links a
{
	color:#fff;
	font-size:1em;
	padding:16px;
	text-decoration:none
}

#main
{
	background-color:#f5f5f5;
	color:#333
}

#main a:any-link
{
	color:#2220cd;
	text-decoration-thickness:1px;
	text-underline-offset:.2em
}

*
{
	box-sizing:border-box
}

.h2
{
	border-bottom:1px solid #dcdcdc;
	font-size:1.5em;
	margin-left:0
}

.h3
{
	border-bottom:1px solid #dcdcdc;
	font-size:1.17em;
	margin-left:.5em
}

.h4
{
	border-bottom:1px solid #dcdcdc;
	font-size:1em;
	margin-left:1em!important
}

.h5
{
	font-size:.83em;
	margin-left:0
}

.jesus
{
	color:#dc143c
}

.sub-q p
{
	display:list-item;
	list-style-type:none
}

blockquote
{
	border-left:2px solid grey;
	margin-left:3em;
	padding-left:1em;
	padding-top:-1em
}

blockquote.bible::before
{
	content:"📜 ";
	left:-1em;
	margin-left:-2em;
	position:relative;
	top:0
}

blockquote.kardec::before
{
	content:"👴🏻 ";
	left:-1em;
	margin-left:-2em;
	position:relative;
	top:0
}

blockquote.spirit::before
{
	content:"👻 ";
	left:-1em;
	margin-left:-2em;
	position:relative;
	top:0
}

body
{
	font-family:"Trebuchet MS",sans-serif;
	font-weight:400;
	line-height:1.3;
	scroll-behavior:smooth
}

details>summary
{
	cursor:pointer;
	list-style-type:none
}

details[open]>summary.question::before
{
	content:"－ #️⃣ "
}

details[open]>summary:before
{
	content:"－ ";
	font-size:1em
}

em
{
	font-family:'Noto Color Emoji',sans-serif;
	font-style:normal
}

h1
{
	border-bottom:1px solid #dcdcdc;
	margin-left:-.15em
}

hr
{
	border:1px solid #dcdcdc;
	margin-top:-1em
}

html
{
	scroll-behavior:smooth
}

iframe
{
	border:none
}

img
{
	display:block;
	margin:auto;
	width:75%
}

li
{
	margin:1em;
	margin-left:0
}

ol
{
	margin-left:-1em
}

ol li::marker,.sub-q::first-letter
{
	font-weight:700
}

ol>ol
{
	list-style-type:lower-latin;
	margin-left:-2em
}

ol>ol>li
{
	margin-left:-5em
}

p
{
	margin-left:0;
	margin-right:1.5em
}

summary
{
	cursor:pointer;
	list-style-type:none;
	margin-left:0
}

summary.h4,details>details>details,details>details>details>p
{
	margin-left:0
}

summary.question::before
{
	content:"＋ #️⃣ ";
	margin-left:1em
}

summary::before
{
	content:"＋ ";
	font-size:1em
}

sup
{
	background-color:#ff0
}

table
{
	border:1px solid #dcdcdc;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin:auto;
	width:90%
}

th,td
{
	padding-left:2em;
	padding-right:2em;
	text-align:center
}

@media screen and (max-width: 850px) {
	#ext-links
	{
		display:none
	}

	#main
	{
		width:97vw
	}
}

@media (prefers-color-scheme: dark) {
	#main
	{
		background-color:#444;
		color:#fff
	}

	#main a:any-link
	{
		color:#1e90ff
	}

	.jesus
	{
		color:#cd5c5c
	}

	html
	{
		background-color:#444
	}
}

.light-mode {
	#main { background-color:#f5f5f5;
	color:#444
}

#main a:any-link {
	color:#1e90ff
}
}

.dark-mode {
	#main {background-color:#444;
	color:#fff
}

.jesus {
	color:#cd5c5c
}
}

#ext-frame
{
	border-left:2px solid grey;
	height:94.5vh;
	overflow:scroll;
	position:absolute;
	right:20px;
	top:50px;
	width:39vw
}

#ext-iframe
{
	border-left:2px solid grey;
	height:100%;
	overflow-x:hidden;
	position:absolute;
	top:0;
	width:100%
}

#ext-links
{
	background-color:#444;
	border-left:1px solid #fff;
	color:#fff;
	height:50px!important;
	margin-right:20px;
	overflow-x:auto;
	overflow-y:hidden;
	position:absolute;
	right:0;
	top:0;
	white-space:nowrap;
	width:39vw;
	z-index:2
}

#main
{
	height:94.5vh;
	left:0;
	overflow:scroll;
	overflow-x:hidden;
	padding:1em;
	position:absolute;
	scroll-behavior:smooth;
	top:50px;
	width:60vw;
	z-index:0
}

@media screen and (max-width: 850px) {
	#ext-frame
	{
		display:none
	}

	#main
	{
		width:97vw
	}
}

@media screen and (min-width: 1097px) {
	#main
	{
		width:59vw
	}
}