* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: normal;
  background-color: whitesmoke;
  color: #444;
  line-height: 1.3;
}

/* 🚨 TABLES */
table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  margin: auto;
  border: 1px solid gainsboro;
}

th,
td {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

/* 🚨 LISTS */
ol > ol {
  list-style-type: lower-latin;
  margin-left: -2em;
}

ol > ol > li {
  margin-left: -5em;
}

ol {
  margin-left: -1em;
}

ol li::marker {
  font-weight: bold;
}

li {
  margin: 1em;
  margin-left: 0;
}


.sub-q p {
  display: list-item;
  list-style-type: none;
}

.sub-q::first-letter {
  font-weight: bold;
}

hr {
  margin-top: -1em;
  border: 1px solid gainsboro
}

img {
  display: block;
  width: 75%;
  margin: auto;
}

/* 🚨 HEADINGS */
h1 {
  border-bottom: 1px solid gainsboro;
  margin-left: -.15em;
}

.h2 {
  font-size: 1.5em;
  border-bottom: 1px solid gainsboro;
  margin-left: 0;
}

.h3 {
  font-size: 1.17em;
  border-bottom: 1px solid gainsboro;
  margin-left: 0;
}

.h4 {
  font-size: 1em;
  border-bottom: 1px solid gainsboro;
  margin-left: 0;
}

summary.h4 {
  margin-left: 0;
}

.h5 {
  font-size: 0.83em;
  margin-left: 0;
}

/* 🚨 PARAGRAPHS */
p {
  margin-right: 1.5em;
  margin-left: 0;
}

p.spirit {
  margin-right: 1.5em;
  margin-left: 0;
}

p {
  margin-right: 1.5em;
  margin-left: 0;
}

blockquote {
  border-left: 3px solid lightgrey;
  margin-left: 0em;
  padding-left: .5em;
}

blockquote p {
  margin-left: 0;
}

sup {
  background-color: yellow;
}

/* EMOJI */
em {
  font-family: 'Noto Color Emoji', sans-serif; 
  font-style: normal;
}

/* 🚨 COLLAPSIBLE */
summary {
  cursor: pointer;
  list-style-type: none;
  margin-left: 0;
}

details>details>details {
  margin-left: 0;
}

details>details>details>p {
  margin-left: 0;
}

summary::before {
  content: "＋ ";
  font-size: 1em;
}
details[open] > summary:before {
  content: "－ ";
  font-size: 1em;
}

/* 🚨 BIBLE */
.jesus {
  color: crimson;
}

/* 🚨 FRAMES */
#main {
  height: 94.5vh;
  width: 59vw;
  overflow: scroll;
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 1em;
  overflow-x: hidden;
}

#ext-links {
  border-bottom: 1px solid grey;
  border-left: 1px solid white;
  position: absolute;
  top: 0;
  right: 0;
  width: 39vw;
  height: 50px;
  margin-right: 20px;
  background-color: #444;
  color: white;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  z-index:2
}

#ext-frame {
  border: 1px solid gainsboro;
  height: 94.5vh;
  width: 39vw;
  overflow: scroll;
  position: absolute;
  top: 50px;
  right: 20px;
}

#ext-iframe {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#main-navbar {
  border-bottom: 1px solid grey;
  height: 50px;
  width: 59vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  padding-right: .5em;
  z-index: 1;
}

#gap-closer {
  height: 50px;
  position: absolute;
  top: 0;
  background-color: #444;
  right: 39vw;
  width: 2.7em;
  border-bottom: 1px solid grey;
  z-index: 0;
}

#expAll {
  font-size: 1.75em;
  padding: 8px;
  float: right;
  border: none;
}

/* 🚨 LINKS */
#main-navbar a {
  text-decoration: none;
  padding: 6px 5px;
  font-size: 1.7em;
  color: white;
}

#ext-links a {
  color: white;
}

a:any-link {
  text-underline-offset: .2em;
  text-decoration-thickness: 1px;
}

a#home-link {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  padding-right: 1em;
}

/* 🚨 BUTTONS */
button {
  float: right;
  font-size: 2.1em;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  color: white;
  margin: 0px;
  border: none;  
}

/* 🚨 MEDIA QUERY */
@media screen and (max-width: 700px) {
  #ext-links {
    display: none
  }
  #ext-frame {
    display: none;
  }
  #main {
    width: 97vw;
  }
  #main-navbar {
    width: 100vw;
    right: 20px;
    padding-right: 30px;
  }
  #expAll {
    right: 40px;
  }
}

/* 🚨 DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: gainsboro;
  }
  a:any-link {
    color: dodgerblue
  }
  .jesus {
    color: indianred;
  }
  #navbar {
    border-bottom: 1px solid white;
  }
}