body {
    font-family: 'Noto Sans Symbols 2', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
}

blockquote.quote {
    border-left: 4px solid grey;
    margin-left: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
}

/*
blockquote.quote p:before {
    content: open-quote;
    font-weight: bold;
    font-family: serif;
    font-size: 2em;
    vertical-align: middle;
    line-height: 1em;
    margin-right: 0.2em;
}

blockquote.quote p:after {
    content: close-quote;
    font-weight: bold;
    font-family: serif;
    font-size: 2em;
    vertical-align: bottom;
    line-height: 1em;
    margin-left: 0.2em;
}
*/
ol.other {
    margin-left: 0px;
    padding-left: 30px;
    background-color: whitesmoke;
}

blockquote.bible {
    border-left: 4px solid mediumorchid;
    margin-left: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
}

ol.bible {
    border-left: 4px solid mediumorchid;
    margin-left: 0px;
    padding-left: 40px;
    background-color: whitesmoke;
}

blockquote.spirit {
    border-left: 4px solid dodgerblue;
    margin-left: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
}

em {
    color: darkred;
    font-style: normal;
}

/*
code {
    border: 1px solid grey;
    border-radius: 50px;
    padding: 1px 10px;
    background-color: grey;
    color: white;
    opacity: .5
}
*/

html {
    scroll-behavior: smooth;
}

/*
font-family: 'Noto Emoji', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Symbols', sans-serif;
font-family: 'Noto Sans Symbols 2', sans-serif;