/* VERSION 23.12.21 */

/* START CONTENT */

#col1-head a:any-link,
#col1-body a:any-link,
#col2-head a:any-link,
#col3-head a:any-link {
    color: currentColor;
    text-decoration: none
}

#col2-body {
    line-height: 1.7
}

#col2-body a:any-link {
    color: inherit;
    text-decoration: underline 1.5px var(--color-link-light);
    text-underline-offset: 2px
}

#col2-body a:hover {
    color: #0080ff;
    text-decoration: underline;
    text-decoration-color: #0080ff;
    text-underline-offset: 2px
}

#col2-body img {
    width: 100%
}

#col2-body pre {
    background-color: #e6e6e61a;
    border: 1px solid var(--border-color-light);
    border-collapse: collapse;
    width: 100%
}

#col2-body table {
    border-collapse: collapse;
    width: 100%
}

#col2-body td {
    background-color: #e6e6e61a;
    border: 1px solid var(--border-color-light);
    padding: 0 10px
}

#col2-body th {
    background-color: #e6e6e64d;
    border: 1px solid var(--border-color-light);
    font-weight: 400;
    padding: 0 10px
}

.author,
strong {
    font-weight: 400
}

.center {
    text-align: center
}

.ff-mono {
    font-family: 'Roboto Mono'
}

.fr {
    float: right
}

.hide {
    display: none
}

.icon {
    font-family: 'Material Symbols Outlined';
    padding: 0 2px
}

.label {
    font-size: 12px;
    left: 5px;
    position: relative;
    top: -9px
}

.show {
    display: block
}

a.backlink {
    font-size: 80%;
    transform: scale(.8)
}

a:any-link {
    outline: 0
}

abbr {
    text-underline-offset: 2px;
    text-underline-offset: 2px
}

blockquote.bible em {
    color: #dc143c
}

button {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    color: currentColor;
    cursor: pointer;
    font-size: 24px;
    justify-content: center;
    outline: 0;
    padding: 6px 5px 0 0;
    text-align: center
}

em {
    color: currentColor;
    font-style: italic
}

kbd {
    background-color: #8080801a;
    border: 1px solid #59595980;
    border-radius: 3px;
    color: currentColor;
    font-family: 'Inter';
    font-size: 14px;
    padding: 3px 3px 2px;
    vertical-align: middle;
    white-space: nowrap
}

p.cursive {
    font-family: 'Zeyada';
    font-size: 60px;
    margin-top: -20px
}

/* END CONTENT */