/* VERSION 23.12.22 */

/* START DARK MODE */

.dark-mode {
    background-color: var(--bground-dark);
    color: currentColor
}

.dark-mode #col1-head,
.dark-mode #col2-head,
.dark-mode #col3-head,
.dark-mode #col1-body {
    background-color: var(--accent-color-dark)
}

.dark-mode #col2-body a:any-link:hover {
    color: var(--color-link-dark);
    text-decoration-color: var(--color-link-dark);
}

.dark-mode details.links {
    background-color: #333
}

.dark-mode iframe {
    filter: invert(87%) hue-rotate(180deg)
}

.dark-mode,
.dark-mode html,
.dark-mode body,
.dark-mode #col2-body {
    background-color: var(--bground-dark);
    box-shadow: none;
    color: #fff;
}

.dark-mode #col1-body>details>p>a {
    color: #fff
}

.dark-mode #col1-brand {
    color: #fff !important
}

.dark-mode #vert-tools>button>span {
    color: #fff
}


/* END DARK MODE */