/* VERSION 23.12.21 */

/* START HEADINGS */

h1,h2,h3,h4 {
    border-bottom:1px solid #59595980;
    font-family:'Roboto Slab';
    font-weight:400
    }
    
    h1:before {
    color:#ddd9;
    content:"h1 "
    }
    
    h2,h3,h4,h5 {
    font-family:'Roboto Slab';
    font-size:20px;
    font-weight:400
    }
    
    h2:before {
    color:#ddd9;
    content:"h2 "
    }
    
    h3:before {
    color:#ddd9;
    content:"h3 "
    }
    
    h4:before {
    color:#ddd9;
    content:"h4 "
    }
    
    h5:before {
    color:#ddd9;
    content:"h5 "
    }
    
    h6 {
    border-bottom:1px solid #59595980;
    font-family:'Roboto Slab';
    font-size:16px;
    margin-bottom:-15px;
    margin-top:0;
    padding-top:20px
    }
    
    h6:before {
    color:#ddd9;
    content:"h6 "
    }

    /* END HEADINGS */
