<details>
    <summary class="sidebar-heading"><span class="emoji">📚</span> Estante</summary>
    <p><a href="./book-1lde.html" title="O Livro dos Espíritos"><span class="emoji">👻</span> O Livro dos Espíritos</a></p>
    <p><a href="./book-2ldm.html" title="O Livro dos Médiuns"><span class="emoji">✒️</span> O Livro dos Médiuns</a></p>
    <p><a href="./book-3ese.html" title="O Evangelho segundo o Espiritismo"><span class="emoji">🕊️</span> O Evangelho</a></p>
    <p><a href="./book-4ceu.html" title="O Céu e o Inferno"><span class="emoji">🔥</span> Céu e Inferno</a></p>
    <p><a href="./book-5gen.html" title="A Gênese"><span class="emoji">🌱</span> A Gênese</a></p>
    </details><br>