<details>
    <summary class="sidebar-heading">
        <span class="emoji">📈</span>&nbsp;Projeto
    </summary>
    <p>
        <a title="Ínício" href="../pages/1-home.html">
            <span class="emoji">🏠</span>&nbsp;Início</a>
    </p>
    <p>
        <a title="Informações" href="../pages/2-info.html">
            <span class="emoji">📋</span>&nbsp;Informações</a>
    </p>
    <p>
        <a title="Legal" href="../pages/3-legal.html">
            <span class="emoji">⚖️</span>&nbsp;Avisos legais</a>
    </p>
    <p>
        <a title="Contato" href="../pages/4-contact.html">
            <span class="emoji">❤️</span>&nbsp;Contato</a>
    </p>
    <p>
        <a title="Fundação" target="_blank" href="https://shklr.org">
            <span class="emoji">⭕</span>&nbsp;Fundação</a>
    </p>
    <hr style="margin-right: 30px">
    <p>
        <a title="Código fonte" target="_blank" href="https://github.com/sergioSHKLR/doutrina.org">
            <span class="emoji">⌨️</span>&nbsp;Código fonte</a>
    </p>
    <p>
        <a title="Erros" target="_blank" href="https://github.com/sergioSHKLR/doutrina.org/issues">
            <span class="emoji">🐛</span>&nbsp;Falhas de código</a>
    </p>
    <div style="cursor: default !important">
        <hr style="margin-right: 30px">
        <p>
            <span class="emoji">💾</span>
            &nbsp;Versão&nbsp;<kbd>24.1.17</kbd>
        </p>
        <p>
            <span class="emoji">🗓️</span>
            &nbsp;Atualizado em {{ "today" | date: "%b-%Y" }}
        </p>
        <p>
            <span class="emoji">🛡️</span>
            &nbsp;CC BY-NC-SA 4.0
        </p>
    </div>
</details>