<details>
    <summary class="sidebar-heading"><span class="emoji">📈</span> Projeto</summary>
    <p><a href="./1-home.html" title="Ínício"><span class="emoji">🏠</span> Início</a></p>
    <p><a href="./2-info.html" title="Informações"><span class="emoji">📋</span> Informações</a></p>
    <p><a href="./3-legal.html" title="Legal"><span class="emoji">⚖️</span> Avisos legais</a></p>
    <p><a href="./4-contact.html" title="Contato"><span class="emoji">📧</span> Contato</a></p>
    <p><a target="_blank" href="https://pt.shklr.org" title="Fundação"><span class="emoji">⭕</span> Fundação</a></p>
    <hr style="margin-right: 30px">
    <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org" title="Código fonte"><span class="emoji">⌨️</span> Código fonte</a></p>
    <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org/issues" title="Erros"><span class="emoji">🐛</span> Falhas de código</a></p>
    <div style="cursor: default !important">
    <hr style="margin-right: 30px">
    <p><span class="emoji">💾</span> Versão <kbd>24.1.8</kbd></p>
    <p><span class="emoji">🗓️</span> Atualizado em {{ "today" | date: "%b-%Y" }}</p>
    <p><span class="emoji">🛡️</span>CC BY-NC-SA 4.0</p>
    </div>
    </details>