<div id="vert-tools">
    <button id="tools-menu" onclick="function00()" title="Ajustar letras, linhas, cor de fundo, e parágrafo">Aa<br><span class="label">ajustes</span></button>
    <div id="vert-tools-buttons" class="hide">
    <button class="tools fontSize" id="decreasetext" type="button" value="-1" title="Letra menor"><span class="icon">text_decrease</span><br><span class="label">letra</span></button>
    <button class="tools fontSize" id="increasetext" type="button" value="+1" title="Letra maior"><span class="icon">text_increase</span><br><span class="label">letra</span></button>
    <button class="tools lineHeight" id="decreaselineheight" type="button" value="-1" title="Linhas estreitas"><span class="icon">density_small</span><br><span class="label">linhas</span></button>
    <button class="tools lineHeight" id="increaselineheight" type="button" value="+1" title="Linhas largas"><span class="icon">density_large</span><br><span class="label">linhas</span></button>
    <button class="tools" id="ff-se-btn" onclick="function02()" title="Tipo Serifa (padrão)"><span style="font-family: 'Georgia', serif">Se</span><br><span class="label">serifa</span></button>
    <button class="tools" id="ff-sa-btn" onclick="function03()" title="Tipo Sem Serifa"><span style="font-family: 'Inter', sans;">Sa</span><br><span class="label">sans</span></button>
    <button class="tools" id="ff-mo-btn" onclick="function04()" title="Tipo Mono"><span style="font-family: 'Roboto Mono', monospace;">Mo</span><br><span class="label">mono</span></button>
    <button class="tools" id="bc-ye-btn" onclick="function07()" title="Fundo amarelo"><span class="icon tools-round" style="background-color: #fffce4;">&nbsp;</span><br><span class="label">amarelo</span></button>
    <button class="tools" id="bc-gr-btn" onclick="function08()" title="Fundo verde"><span class="icon tools-round" style="background-color: #e8fce4;">&nbsp;</span><br><span class="label">verde</span></button>
    <button class="tools" id="bc-pi-btn" onclick="function09()" title="Fundo rosa"><span class="icon tools-round" style="background-color: #fff0f5;">&nbsp;</span><br><span class="label">rosa</span></button>
    <button class="tools" id="ta-ju-btn" onclick="function01()" title="Parágrafo justificado"><span class="icon">format_align_justify</span><br><span class="label">justif.</span></button>
    <button class="tools" id="ra-btn" onclick="functionReset()" title="Restaurar tudo (recarrege a página)"><span class="icon" style="color: crimson;">restart_alt</span><br><span class="label">reverter</span></button>
    </div>
    </div>
    </div>