<div id="vert-tools">
    <button id="tools-menu" title="Ajustar letras, entrelinhas, cor de fundo, e parágrafo" onclick="function00()">Aa<br>
        <span class="label">ajustes</span>
    </button>
    <div id="vert-tools-buttons" class="hide">
        <button title="Letra menor" class="tools fontSize" id="decreasetext" type="button" value="-1">
            <span class="icon">text_decrease</span>
            <br>
            <span class="label">letra</span>
        </button>
        <button title="Letra maior" class="tools fontSize" id="increasetext" type="button" value="+1">
            <span class="icon">text_increase</span>
            <br>
            <span class="label">letra</span>
        </button>
        <button title="Entrelinhas estreitas" class="tools lineHeight" id="decreaselineheight" type="button" value="-1">
            <span class="icon">density_small</span>
            <br>
            <span class="label">linhas</span>
        </button>
        <button title="Entrelinhas largas" class="tools lineHeight" id="increaselineheight" type="button" value="+1">
            <span class="icon">density_large</span>
            <br>
            <span class="label">linhas</span>
        </button>
        <button title="Tipo Serifa (padrão)" class="tools" id="ff-se-btn" onclick="function02()">
            <span style="font-family: 'Georgia', serif">Se</span>
            <br>
            <span class="label">serifa</span>
        </button>
        <button title="Tipo Sem Serifa" class="tools" id="ff-sa-btn" onclick="function03()">
            <span style="font-family: 'Inter', sans;">Sa</span>
            <br>
            <span class="label">sans</span>
        </button>
        <button title="Tipo Mono" class="tools" id="ff-mo-btn" onclick="function04()">
            <span style="font-family: 'Roboto Mono', monospace;">Mo</span>
            <br>
            <span class="label">mono</span>
        </button>
        <button title="Fundo amarelo" class="tools" id="bc-ye-btn" onclick="function07()">
            <span class="icon tools-round" style="background-color: #fffce4;">&nbsp;</span>
            <br>
            <span class="label">amarelo</span>
        </button>
        <button title="Fundo verde" class="tools" id="bc-gr-btn" onclick="function08()">
            <span class="icon tools-round" style="background-color: #e8fce4;">&nbsp;</span>
            <br>
            <span class="label">verde</span>
        </button>
        <button title="Fundo rosa" class="tools" id="bc-pi-btn" onclick="function09()">
            <span class="icon tools-round" style="background-color: #fff0f5;">&nbsp;</span>
            <br>
            <span class="label">rosa</span>
        </button>
        <button title="Parágrafo justificado" class="tools" id="ta-ju-btn" onclick="function01()">
            <span class="icon">format_align_justify</span>
            <br>
            <span class="label">justif.</span>
        </button>
        <button title="Restaurar tudo (recarrega a página)" class="tools" id="ra-btn" onclick="functionReset()">
            <span class="icon" style="color: crimson;">restart_alt</span>
            <br>
            <span class="label">reverter</span>
        </button>
    </div>
</div>
</div>