<div id="col2-head" class="head">

    <button title="Abrir menu" id="col2-menu-on" onclick="menuOn()">
        <span class="icon">menu</span>
        <br>
        <span class="label">menu</span>
    </button>

    <button title="Fechar menu" id="col2-menu-off" hidden onclick="menuOff()">
        <span class="icon">close</span>
        <br>
        <span class="label">fechar</span>
    </button>

    <a title="Voltar ao Ínicio" id="col2-brand" href="../pages/1-home.html">
        <span class="emoji">💧</span>
        <span class="label2">&nbsp;doutrina.org</span>
                    
            &nbsp;<span style="color: grey"><small><sup>beta</sup></small></span>
    </a>

    <button title="Compartilhar" id="col2-sha-btn" class="fr" onclick="webShare()">
        <span class="icon">share</span>
        <br>
        <span class="label">comp.</span>
    </button>

    <button title="Tela cheia" id="col2-fs-btn" class="fr" onclick="openFullscreen()">
        <span class="icon">fullscreen</span>
        <br>
        <span class="label">cheia</span>
    </button>

    <button  title="Tela normal" id="col2-ns-btn" class="fr hide" onclick="closeFullscreen()">
        <span class="icon">fullscreen_exit</span>
        <br>
        <span class="label">normal</span>
    </button>

    <button title="Modo escuro" id="col2-dm-btn"class="fr" onclick="darkMode()">
        <span class="icon">contrast</span>
        <br>
        <span class="label">escuro</span>
    </button>

    <button title="Modo claro" id="col2-lm-btn" class="fr hide" onclick="lightMode()">
        <span class="icon">contrast_rtl_off</span>
        <br>
        <span class="label">claro</span>
    </button>

    <button title="Esconder etiquetas" id="col2-loff-btn" class="fr" onclick="labelOff()">
        <span class="icon">label_off</span>
        <br>
        <span class="label">escond.</span>
    </button>

    <button title="Mostrar etiquetas" id="col2-lon-btn" class="fr hide" onclick="labelOn()">
        <span class="icon">label</span>
    </button>

</div>