<div id="col3-head" class="head">

    <button title="Vídeo chamada" id="col3-vid-lnk" class="fr"
        onclick="window.open('https://doutrina.whereby.com/estudos41936e66-2cc4-470a-aa9e-727a361496d0', '_blank');return false;">
        <span class="icon">video_call</span>
        <br>
        <span class="label">vídeo</span>
    </button>

    <button title="Atlas" id="col3-maps-lnk" class="fr"
        onclick="window.open('../assets/maps/map-ese.html', 'ext');return false;">
        <span class="icon">location_on</span>
        <br>
        <span class="label">atlas</span>
    </button>

    <button title="Dicionário" id="col3-dict-lnk" class="fr"
        onclick="window.open('https://pt.m.wiktionary.org', 'ext');return false;"><span class="icon">book_2</span>
        <br>
        <span class="label">dicio.</span>
    </button>

    <button title="Enciclopédia" id="col3-wiki-lnk" class="fr"
        onclick="window.open('https://pt.m.wikipedia.org/', 'ext');return false;">
        <span class="icon">language</span>
        <br>
        <span class="label">encic.</span>
    </button>

    <button title="Voltar uma página" id="col3-back-nav" class="fr" onclick="history.back()">
        <span class="icon">undo</span>
        <br>
        <span class="label">voltar</span>
    </button>

</div>