<div id="col4">

    <a href="https://web-hypothes-is.translate.goog/everyone/?_x_tr_sl=es&_x_tr_tl=pt&_x_tr_hl=en&_x_tr_pto=wapp"
        target="_blank"><img src="../assets/images/HypothesisLogoColor.png"></a>

    <hr>

    <details>
        <summary class="sidebar-heading" style="color: #222">O que é Hypothes.is?</summary>

        <p>Hypothes.is é uma ferramenta que permite fazer anotações digitais em qualquer lugar da web e compartilhá-las
            com outras pessoas. O uso da anotação social promove a discussão colaborativa, o pensamento crítico e uma
            compreensão mais profunda das leituras.</p>

        <p><b>Participe de conversas melhores com anotações sociais.</b><br>

            A Hypothes.is permite que você discuta qualquer coisa, onde quer que você a encontre online.</p>

        <p><b>Transforme qualquer coisa online em uma conversa.</b><br>
            A anotação social é a melhor maneira de ter discussões significativas, sem a desorganização das mídias
            sociais, painéis de mensagens e seções de comentários.</p>

        <p><b>Hypothes.is possibilita anotações</b><br>
            em páginas, vídeos, blogs, livros, documentos e qualquer outra coisa online. Faça anotações você mesmo ou
            interaja diretamente com comunidades que compartilham seus interesses. O melhor de tudo, é grátis.</p>

        <p><b>Discuta com todos ou com alguns selecionados.</b><br>
            Encontre grupos de interesse online e participe de conversas públicas. Ou crie um grupo privado para que
            apenas membros aprovados possam ver as anotações uns dos outros.</p>

        <p><b>Compartilhe seus pensamentos, do seu jeito.</b><br>
            Quer ser criativo ao defender seu ponto de vista? Anote com texto formatado, emojis, imagens, links,
            hashtags e
            muito mais.</p>

        <p><b>Encontre todas as suas interações em um só lugar.</b><br>
            Visualize e filtre suas anotações para nunca perder informações ou conversas.</p>

        <p><b>Comece uma conversa.</b><br>
            Crie uma conta gratuita e use esta aba para começar a fazer anotações.</p>
        <br>
        <a href="https://hypothes.is/signup" target="_blank" style="font-family: sans-serif;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    background: #BD1C2B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%">Crie sua conta</a>
        <br>
        <p><b>Quem é a Hypothes.is?</b></p>

        <p>A Hypothes.is é uma organização voltada para a missão, dedicada ao desenvolvimento e disseminação de
            tecnologias e práticas de anotação abertas e baseadas em padrões que permitem a qualquer pessoa fazer anotações em
            qualquer lugar na web. Nossa missão é ajudar as pessoas a raciocinar juntas de maneira mais eficaz por meio de uma
            camada de discussão compartilhada e colaborativa sobre todo o conhecimento. A Hypothes.is está sediada em San
            Francisco, CA, EUA, com uma equipe mundial.</p>

    </details>

</div>