/* great-vibes-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/great-vibes/great-vibes-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/great-vibes/great-vibes-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
    font-display: block;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/lato/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lato/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
    font-display: block;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/lato/lato-v23-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lato/lato-v23-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
    font-display: block;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/google/lato/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lato/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
    font-display: block;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/lora/lora-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lora/lora-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
    font-display: block;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/google/lora/lora-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lora/lora-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-500italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
    font-display: block;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/google/lora/lora-v24-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lora/lora-v24-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
    font-display: block;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/lora/lora-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lora/lora-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
    font-display: block;
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/google/lora/lora-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lora/lora-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-500italic - latin */
@font-face {
  font-family: 'Lora';
    font-display: block;
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/google/lora/lora-v24-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/lora/lora-v24-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat';
    font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/caveat/caveat-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/caveat/caveat-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* caveat-700 - latin */
@font-face {
  font-family: 'Caveat';
    font-display: block;
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/google/caveat/caveat-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/caveat/caveat-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* font-awesome 6.11 */
@font-face {
  font-family: 'fa-regular-400';
  font-style: normal;
    font-display: block;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/fontawesome/webfonts/fa-regular-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: 'fa-solid-900';
  font-style: normal;
    font-display: block;
  font-weight: 900;
  src: local(''),
       url('../assets/fonts/fontawesome/webfonts/fa-solid-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/eb-garamond/eb-garamond-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/eb-garamond/eb-garamond-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-600 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/google/eb-garamond/eb-garamond-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/eb-garamond/eb-garamond-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/google/eb-garamond/eb-garamond-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/eb-garamond/eb-garamond-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-600italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/google/eb-garamond/eb-garamond-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/google/eb-garamond/eb-garamond-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}