.w3-iconbar{
  height:100%;
  width:55px;
  background-color:#fff;
  position:fixed!important;
  z-index:1;
  overflow:auto
}


@media (min-width:601px){
  .w3-modal-content{
      width:900px
  }
  .w3-hide-large{
      display:none!important
  }
  .w3-iconbar.w3-collapse{
      display:block!important
  }
}
@media (max-width:992px) and (min-width:601px){
  .w3-hide-medium{
      display:none!important
  }
}
@media (max-width:600px){
  .w3-iconbar.w3-collapse{
      display:none
  }
  .w3-main{
      margin-left:0!important;
      margin-right:0!important
  }
  .w3-auto{
      max-width:100%
  }
}