/* VERSION 23.12.20 */

/* START FRAMEWORK */

body {
    background-color: var(--bground-light);
    color: var(--body-color-light)
}

a:any-link {color: var(--color-link-light)}

#col1-body {
    -ms-overflow-style: none;
    background-color: aliceblue;
    border-collapse: collapse;
    border-right: 1px solid var(--border-color-light);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: var(--body-height);
    left: 0;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding-left: 15px;
    padding-top: 5px;
    position: fixed;
    scroll-behavior: smooth;
    scrollbar-width: none;
    top: var(--head-height);
    width: var(--sidebar-width);
    z-index: 1
}

#col1-body::-webkit-scrollbar {
    display: none
}

#col1-body p {
    text-indent: 10px;
}

#col1-body .sidebar-heading {
    text-indent: 0px !important;
}

#col1-brand,
#col2-brand {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--body-color-light);
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin-left: -5px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    text-decoration: none
}

#col1-head {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: 0 5px 3px -3px #00000030;
    left: 0;
    padding: 0 0 0 10px;
    width: calc(var(--sidebar-width) + var(--head-height));
    z-index: 3
}

#col1-head a:any-link,
#col1-body a:any-link,
#col2-head a:any-link,
#col3-head a:any-link {
    color: var(--body-color-light);
    text-decoration: none
}

#col1-head,
#col1-body,
#col2-head,
#col3-head {
    background-color: var(--accent-color-light);
}

#col2-body {
    border-collapse: collapse;
    box-shadow: inset 1px 1px 25px 6px #f6eee3ff;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    height: var(--body-height);
    left: calc(var(--sidebar-width) + var(--head-height));
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 0 55px;
    position: fixed;
    scroll-behavior: smooth;
    top: var(--head-height);
    width: var(--column-width-desktop)
}

#col2-brand {
    top: -3px
}

#col2-brand a:any-link,
#col2-head button,
#col2-head a:any-link,
#col3-head a:any-link {
    color: currentColor
}

#col2-head {
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: 0 5px 3px -3px #00000030;
    left: calc(var(--sidebar-width) + var(--head-height));
    padding: 0 17px 0 0;
    width: var(--column-width-desktop);
    z-index: 3;
    overflow: hidden;
}

#col3-body {
    border-collapse: collapse;
    border-left: 1px solid var(--border-color-light);
    box-sizing: border-box;
    color: var(--body-color-light);
    height: var(--body-height);
    position: fixed;
    right: 24px;
    top: var(--head-height);
    width: var(--column-width-desktop)
}

#col3-head {
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: 0 5px 3px -3px #00000030;
    padding: 0 20px 0 10px;
    right: 24px;
    width: var(--column-width-desktop);
    z-index: 3
}

#col3-head a {
    padding: 10px;
    position: relative;
    top: -5px;
}

#ext-iframe {
    border: none;
    height: 100%;
    width: 100%
}

#hypo {
    position: absolute;
    right: 3px;
    top: 120px;
    padding: 4px 2px 0px 2px;
    vertical-align: middle;
    box-sizing: border-box;
    border-style: solid;
    border-color: #dbdbdb;
    font-family: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    border-width: 1px;
    color: rgb(115 115 115 1);
    cursor: pointer;
}

.fr {
    float: right
}

.head {
    border-collapse: collapse;
    box-sizing: border-box;
    height: var(--head-height);
    line-height: var(--head-height);
    position: fixed;
    top: 0
}

.hide {
    display: none
}

.icon {
    font-family: 'Material Symbols Outlined';
    padding: 0 2px
}

.sidebar-heading {
    border-bottom: 1px solid var(--border-color-light);
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 90%
}

a#col3-link1-a,
a#col3-link2-a,
a#col3-link3-a {
    bottom: 2px;
    color: var(--body-color-light);
    font-family: 'Inter';
    font-size: 24px;
    height: 40px;
    justify-content: center;
    padding: 6px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 40px
}

a:active,
a:focus {
    background-color: transparent;
    outline: none
}

a:any-link {
    outline: none
}

button {
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    color: var(--body-color-light);
    cursor: pointer;
    font-size: 24px;
    height: var(--head-height);
    justify-content: center;
    outline: 0;
    padding: 0;
    text-align: center;
    width: var(--head-height)
}

details summary::before {
    content: "＋ ";
    float: right;
    font-weight: 700;
    transition-duration: .15s;
    transition-property: all
}

details,
summary {
    color: currentColor;
    cursor: pointer;
    list-style-type: none
}

details:active {
    background-color: inherit;
    outline: none
}

details[open] summary::before {
    content: "＋ ";
    font-weight: 700;
    transform: rotate(45deg);
    transition-duration: .15s;
    transition-property: all
}

html,
iframe {
    overflow: clip
}

summary:active {
    background-color: inherit;
    outline: none
}

div#alert {
    position: absolute;
    top: var(--head-height);
    left: 0;
    right: var(--hypo-offset);
    background-color: #dc143c80;
    padding: 2px;
    font-family: 'Inter';
    font-size: 11px;
    width: calc(100% - 33px);
    text-align: center;
    color: currentColor;
}

/* END FRAMEWORK */
