/* VERSION 23.12.16 */

/* VARIABLES START */
:root {
    --accent-color-dark: #20282f;
    --accent-color-light: #f0f8ff;
    --bground-bible-dark: #330500;
    --bground-bible-light: #ffe4e1;
    --bground-color-bible: #da70d61a;
    --bground-color-spirit: #1e90ff1a;
    --bground-dark: #222;
    --bground-light: #fff;
    --bground-spirit-dark: #001b33;
    --bground-spirit-light: #f0f8ff;
    --bground-color-greek: #f8c9a080;
    --body-color-dark: #fff;
    --body-color-light: #222;
    --body-height: calc(100vh - 50px);
    --border-color-bible: #da70d6ff;
    --border-color-dark: #ADADAD;
    --border-color-light: #66666680;
    --border-color-spirit: #1e90ffff;
    --border-color-greek: #fcb887ff;
    --color-dark-jesus: #FF8A8A;
    --color-light-jesus: #B30000;
    --color-link-dark: #1E90FF;
    --color-link-light: #1E90FF;
    --column-width-desktop: calc((100vw - 374px) * .5);
    --column-width-tablet: calc((100vw - 24px) * .5);
    --column-width-mobile: calc(100vw - 24px);
    --head-height: 50px;
    --hypo-offset: 24px;
    --sidebar-width: 300px
}

/* VARIABLES END */

html,
iframe {
    overflow: clip
}

body {
    background-color: var(--bground-light);
    color: var(--body-color-light)
}



/* FRAMEWORK START */
#col1-head {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: 0 5px 3px -3px #00000030;
    left: 0;
    padding: 0 0 0 10px;
    width: calc(var(--sidebar-width) + var(--head-height));
    z-index: 3
}

#col1-head a:any-link,
#col1-body a:any-link,
#col2-head a:any-link,
#col3-head a:any-link {
    color: currentColor;
    text-decoration: none;
}

#col1-head,
#col1-body,
#col2-head,
#col3-head {
    background-color: var(--accent-color-light)
}

#col1-brand,
#col2-brand {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--body-color-light);
    font: 24px 'Russo One', sans-serif;
    margin-left: -5px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    text-decoration: none;
}

#col1-brand {
    top: 2px;
}

#col2-brand {
    top: -6px
}

#col1-body {
    -ms-overflow-style: none;
    background-color: #f0f8ff;
    border-collapse: collapse;
    border-right: 1px solid var(--border-color-light);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    height: var(--body-height);
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding-left: 15px;
    padding-top: 5px;
    position: fixed;
    scroll-behavior: smooth;
    scrollbar-width: none;
    top: var(--head-height);
    width: var(--sidebar-width);
    z-index: 1
}

#col1-body .sidebar-heading {
    text-indent: 0
}

#col1-body p {
    text-indent: 10px
}

#col1-body::-webkit-scrollbar {
    display: none
}

#col2-head {
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: 0 5px 3px -3px #00000030;
    left: calc(var(--sidebar-width) + var(--head-height));
    overflow: hidden;
    padding: 0 17px 0 0;
    width: var(--column-width-desktop);
    z-index: 3;
}

#col2-head button {
    position: relative;
    top: -1px;
}

#col2-body {
    border-collapse: collapse;
    box-shadow: inset 1px 1px 25px 6px #f6eee3ff;
    box-sizing: border-box;
    font-weight: 300; 
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    height: var(--body-height);
    left: calc(var(--sidebar-width) + var(--head-height));
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 0 55px;
    position: fixed;
    scroll-behavior: smooth;
    top: var(--head-height);
    width: var(--column-width-desktop)
}

#col2-body::-webkit-scrollbar {
    width: 10px
}

#col2-body::-webkit-scrollbar-thumb {
    background: #888
}

#col2-body::-webkit-scrollbar-thumb:hover {
    background: #555
}

#col2-body::-webkit-scrollbar-track {
    background: #f1f1f1
}

#col2-body a:any-link {
    color: inherit;
    text-decoration: underline 1.5px var(--color-link-light);
    text-underline-offset: 2px
}

/*
#col2-body a:hover {
    color: #0080ff;
    text-decoration: underline;
    text-decoration-color: #0080ff;
    text-underline-offset: 2px
}
*/

#col3-head {
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: 0 5px 3px -3px #00000030;
    padding: 0 20px 0 10px;
    right: 24px;
    width: var(--column-width-desktop);
    z-index: 3
}

#col3-head a {
    padding: 10px;
    position: relative;
    top: 6px
}

#col3-body {
    border-collapse: collapse;
    border-left: 1px solid var(--border-color-light);
    box-sizing: border-box;
    color: var(--body-color-light);
    height: var(--body-height);
    position: fixed;
    right: 24px;
    top: var(--head-height);
    width: var(--column-width-desktop)
}

/* FRAMEWORK END */


/* HEADINGS START */

/* HEADINGS END */

/* DETAILS SUMMARY START */
details summary::before {
    content: "＋ ";
    float: right;
    font-weight: 700;
    transition-duration: .15s;
    transition-property: all;
    position: relative;
    top: -3px;
}

details,
summary {
    color: currentColor;
    cursor: pointer;
    list-style-type: none
}

details:active,
summary:active {
    background-color: inherit;
    outline: none
}

details[open] summary::before {
    content: "＋ ";
    font-weight: 700;
    transform: rotate(45deg);
    transition-duration: .15s;
    transition-property: all;
    position: relative;
    top: -3px;
}


/* DETAILS SUMMARY END */

/* TOOLS START */
#vert-tools {
    -ms-overflow-style: none;
    background-color: inherit;
    border-collapse: collapse;
    border-right: 1px solid var(--border-color-light);
    box-shadow: 5px 0 3px -3px #00000030;
    display: inline-block;
    height: var(--body-height);
    left: var(--sidebar-width);
    overflow: auto;
    position: fixed;
    scrollbar-width: none;
    top: var(--head-height);
    width: var(--head-height)
}

#vert-tools::-webkit-scrollbar {
    display: none
}

button.tools {
    font-size: 22px;
    font-family: 'Material Symbols Outlined'
}

/* TOOLS END */

/* OTHERS START */


#col2-brand a:any-link,
#col2-head button,
#col2-head a:any-link,
#col3-head a:any-link {
    color: currentColor
}

#ext-iframe {
    border: none;
    height: 100%;
    width: 100%
}

#hypo {
    background-color: #fff;
    align-items: center;
    border-color: #dbdbdb;
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    height: 30px;
    justify-content: center;
    margin: 0;
    padding: 4px 3px 2px 3px;
    position: absolute;
    right: 3px;
    top: 120px;
    vertical-align: middle;
    white-space: nowrap;
    width: 30px;
    box-shadow: 0 4px 3px -3px #00000030;
}

.fr {
    float: right;
}

.head {
    border-collapse: collapse;
    box-sizing: border-box;
    height: var(--head-height);
    line-height: var(--head-height);
    position: fixed;
    top: 0
}

.hide {
    display: none;
}

.icon {
    font-family: 'Material Symbols Outlined';
    padding: 0 2px;
}

.sidebar-heading {
    border-bottom: 1px solid var(--border-color-light);
    border-collapse: collapse;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 90%;
    padding-bottom: 2px;
}

a#col3-link1-a,
a#col3-link2-a,
a#col3-link3-a {
    bottom: 2px;
    color: var(--body-color-light);
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    height: 40px;
    justify-content: center;
    padding: 6px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 40px
}

a:active,
a:focus {
    background-color: transparent;
    outline: none
}

a:any-link {
    color: var(--color-link-light);
    outline: 0;
}

button {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    color: currentColor;
    color: var(--body-color-light);
    cursor: pointer;
    font-size: 24px;
    height: var(--head-height);
    justify-content: center;
    outline: 0;
    padding: 6px 5px 0 0;
    text-align: center;
    width: var(--head-height)
}

div#alert {
    background-color: #dc143c80;
    color: currentColor;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    left: 0;
    padding: 2px;
    position: absolute;
    right: var(--hypo-offset);
    text-align: center;
    top: var(--head-height);
    width: calc(100% - 33px)
}

kbd {
    background-color: #8080801a;
    border: 1px solid var(--border-color-light);
    border-radius: 3px;
    color: currentColor;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding: 3px 3px 2px 0;
    vertical-align: middle;
    white-space: nowrap
}

/* OTHERS END */

/* DARK MODE START */

/*
.dark-mode #col2-body a:any-link:hover {
    color: var(--color-link-dark);
    text-decoration-color: var(--color-link-dark)
}
*/

.dark-mode #col2-body a:any-link {
    text-decoration-color: var(--color-link-dark)
}

/* DARK MODE END */

/* MEDIA QUERY START */
@media only screen and (max-width: 450px) {

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body,
    #webshare {
        display: none
    }

    #col2-body {
        padding: 0 15px
    }

    #col2-body {
        padding-left: 15px;
        padding-right: 15px
    }

    #col2-brand,
    #col2-menu-on {
        display: inline-block
    }

    #col2-dm-btn,
    #col2-lm-btn {
        padding-right: 25px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: var(--column-width-mobile)
    }

    #col3-head {
        padding-right: 30px
    }
}

@media only screen and (min-width:450px) and (max-width:750px) {

    #col1-head,
    #col1-body,
    #col3-head,
    #col3-body {
        display: none
    }

    #col2-body {
        padding: 0 15px
    }

    #col2-head,
    #col2-body {
        left: 0;
        width: var(--column-width-mobile)
    }
}

@media only screen and (min-width:750px) and (max-width:1005px) {

    #col1-head,
    #col1-body,
    #webshare {
        display: none
    }

    #col2-body {
        padding: 0 15px
    }

    #col2-head,
    #col2-body {
        left: 0
    }

    #col2-head,
    #col2-body,
    #col3-head,
    #col3-body {
        width: var(--column-width-tablet)
    }
}

@media only screen and (min-width:1005px) and (max-width:1463px) {

    #col1-head,
    #col1-body,
    #col2-fs-btn,
    #webshare {
        display: none
    }

    #col2-body {
        padding: 0 15px
    }

    #col2-head,
    #col2-body {
        left: 0
    }

    #col2-head,
    #col2-body,
    #col3-head,
    #col3-body {
        width: var(--column-width-tablet)
    }
}

@media only screen and (min-width:1463px) and (max-width:1890px) {

    #col1-head,
    #col1-body,
    #col2-fs-btn,
    #webshare {
        display: none
    }

    #col2-head,
    #col2-body {
        left: 0
    }

    #col2-head,
    #col2-body,
    #col3-head,
    #col3-body {
        width: var(--column-width-tablet)
    }
}

@media only screen and (min-width:1890px) {

    #col2-brand,
    #col2-menu-on,
    #col2-fs-btn,
    #webshare {
        display: none
    }
}

@media only screen and (max-width:749px) and (orientation: portrait) {
    #alert {
        display: block
    }
}

/* MEDIA QUERY END */