:root {
    --bground-light: #fff;
    --bground-dark: #222;
    --body-color-light: #000;
    --body-color-dark: #fff;
    --accent-color-light: aliceblue;
    --accent-color-dark: #20282f;

    --border-color-light: #595959;
    --border-color-dark: #ADADAD;

    --bground-spirit-light: aliceblue;
    --bground-spirit-dark: #001b33;
    --border-color-spirit: #1e90ffff;
    --bground-color-spirit: #1e90ff1a;


    --bground-bible-light: mistyrose;
    --bground-bible-dark: #330500;
    --border-color-bible: #da70d6ff;
    --bground-color-bible: #da70d61a;

    --color-light-jesus: #B30000;
    --color-dark-jesus: #FF8A8A;

    --color-link-light: #2E2EFF;
    --color-link-dark: #66B3FF;

    --head-height: 50px;
    --body-height: calc(100vh - 50px);
    --sidebar-width: 300px;
    --column-width-desktop: calc((100vw - 374px) * .5);
    --column-width-tablet: calc((100vw - 24px) * .5);
    --column-width-mobile: calc(100vw - 24px);

    --hypo-offset: 24px;

}