<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 24.2.11 -->

<!-- HEAD -->
{% include 9-head.html %}

<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<!-- STYLES -->
<style>
 #col3-maps-lnk {
 display: none;
 }
</style>
</head>

<!-- BODY -->
<body>

<!-- COL1 HEAD & BODY-->
{% include 1-col1-head-body.html %}

<!-- COL1 TOC -->
<p id="toc-title" class="sidebar-heading"><span class="emoji">📄</span> Nesta página</p>
<div id="toc">
<!-- <p style="text-indent: 0px;"><span class="emoji">👻</span> <b>{{ page.title }}</b></p> -->

<details>
<summary>0.<span class="emoji">🗃️</span> Pré-textual</summary>
<p><a href="#lde-0-01">0-01.<span class="emoji">📄</span> Folha de rosto</a></p>
<p><a href="#lde-0-02">0-02.<span class="emoji">📄</span> Prefácio</a></p>
<p>0-03.<span class="emoji">🗂️</span> Introdução</p>
<p><a href="#lde-0-03-01">0-03-01.<span class="emoji">📄</span> Intro 01</a></p>
<p><a href="#lde-0-03-02">0-03-02.<span class="emoji">📄</span> Intro 02</a></p>
<p><a href="#lde-0-03-03">0-03-03.<span class="emoji">📄</span> Intro 03</a></p>
<p><a href="#lde-0-03-04">0-03-04.<span class="emoji">📄</span> Intro 04</a></p>
<p><a href="#lde-0-03-05">0-03-05.<span class="emoji">📄</span> Intro 05</a></p>
<p><a href="#lde-0-03-06">0-03-06.<span class="emoji">📄</span> Intro 06</a></p>
<p><a href="#lde-0-03-07">0-03-07.<span class="emoji">📄</span> Intro 07</a></p>
<p><a href="#lde-0-03-08">0-03-08.<span class="emoji">📄</span> Intro 08</a></p>
<p><a href="#lde-0-03-09">0-03-09.<span class="emoji">📄</span> Intro 09</a></p>
<p><a href="#lde-0-03-10">0-03-10.<span class="emoji">📄</span> Intro 10</a></p>
<p><a href="#lde-0-03-11">0-03-11.<span class="emoji">📄</span> Intro 11</a></p>
<p><a href="#lde-0-03-12">0-03-12.<span class="emoji">📄</span> Intro 12</a></p>
<p><a href="#lde-0-03-13">0-03-13.<span class="emoji">📄</span> Intro 13</a></p>
<p><a href="#lde-0-03-14">0-03-14.<span class="emoji">📄</span> Intro 14</a></p>
<p><a href="#lde-0-03-15">0-03-15.<span class="emoji">📄</span> Intro 15</a></p>
<p><a href="#lde-0-03-16">0-03-16.<span class="emoji">📄</span> Intro 16</a></p>
<p><a href="#lde-0-03-17">0-03-17.<span class="emoji">📄</span> Intro 17</a></p>
</details>
<br>
<details>
<summary>1.<span class="emoji">🗃️</span> Causas Primárias</summary>
<p><a href="#lde-1-01">1-01.<span class="emoji">🗂️</span> Deus</a></p>
<p><a href="#lde-1-02">1-02.<span class="emoji">🗂️</span> Elementos gerais</a></p>
<p><a href="#lde-1-03">1-03.<span class="emoji">🗂️</span> Criação</a></p>
<p><a href="#lde-1-04">1-04.<span class="emoji">🗂️</span> Princípio vital</a></p>
</details>
<br>
<details>
<summary>2.<span class="emoji">🗃️</span> Mundo Espírita</summary>
<p><a href="#lde-2-01">2-01.<span class="emoji">🗂️</span> Espíritos</a></p>
<p><a href="#lde-2-02">2-02.<span class="emoji">🗂️</span> Encarnação</a></p>
<p><a href="#lde-2-03">2-03.<span class="emoji">🗂️</span> Retorno</a></p>
<p><a href="#lde-2-04">2-04.<span class="emoji">🗂️</span> Existências</a></p>
<p><a href="#lde-2-05">2-05.<span class="emoji">🗂️</span> Considerações</a></p>
<p><a href="#lde-2-06">2-06.<span class="emoji">🗂️</span> Vida espírita</a></p>
<p><a href="#lde-2-07">2-07.<span class="emoji">🗂️</span> Vida material</a></p>
<p><a href="#lde-2-08">2-08.<span class="emoji">🗂️</span> Emancipação</a></p>
<p><a href="#lde-2-09">2-09.<span class="emoji">🗂️</span> Intervenção</a></p>
<p><a href="#lde-2-10">2-10.<span class="emoji">🗂️</span> Missões</a></p>
<p><a href="#lde-2-11">2-11.<span class="emoji">🗂️</span> Três reinos</a></p>
</details>
<br>
<details>
<summary>3.<span class="emoji">🗃️</span> Leis morais</summary>
<p><a href="#lde-3-01">3-01.<span class="emoji">🗂️</span> Divina</a></p>
<p><a href="#lde-3-02">3-02.<span class="emoji">🗂️</span> Adoração</a></p>
<p><a href="#lde-3-03">3-03.<span class="emoji">🗂️</span> Trabalho</a></p>
<p><a href="#lde-3-04">3-04.<span class="emoji">🗂️</span> Reprodução</a></p>
<p><a href="#lde-3-05">3-05.<span class="emoji">🗂️</span> Conservação</a></p>
<p><a href="#lde-3-06">3-06.<span class="emoji">🗂️</span> Destruição</a></p>
<p><a href="#lde-3-07">3-07.<span class="emoji">🗂️</span> Sociedade</a></p>
<p><a href="#lde-3-08">3-08.<span class="emoji">🗂️</span> Progresso</a></p>
<p><a href="#lde-3-09">3-09.<span class="emoji">🗂️</span> Igualdade</a></p>
<p><a href="#lde-3-10">3-10.<span class="emoji">🗂️</span> Liberdade</a></p>
<p><a href="#lde-3-11">3-11.<span class="emoji">🗂️</span> Justiça, amor, e caridade</a></p>
<p><a href="#lde-3-12">3-12.<span class="emoji">🗂️</span> Perfeição moral</a></p>
</details>
<br>
<details>
<summary>4.<span class="emoji">🗃️</span> Penas e gozos</summary>
<p><a href="#lde-4-01">4-01.<span class="emoji">🗂️</span> Terrenos</a></p>
<p><a href="#lde-4-02">4-02.<span class="emoji">🗂️</span> Futuros</a></p>
</details>
<br>
<details>
<summary>5.<span class="emoji">🗃️</span> Conclusão</summary>
<p><a href="#lde-5-01">5-01.<span class="emoji">📄</span> Conclusão 01</a></p>
<p><a href="#lde-5-02">5-02.<span class="emoji">📄</span> Conclusão 02</a></p>
<p><a href="#lde-5-03">5-03.<span class="emoji">📄</span> Conclusão 03</a></p>
<p><a href="#lde-5-04">5-04.<span class="emoji">📄</span> Conclusão 04</a></p>
<p><a href="#lde-5-05">5-05.<span class="emoji">📄</span> Conclusão 05</a></p>
<p><a href="#lde-5-06">5-06.<span class="emoji">📄</span> Conclusão 06</a></p>
<p><a href="#lde-5-07">5-07.<span class="emoji">📄</span> Conclusão 07</a></p>
<p><a href="#lde-5-08">5-08.<span class="emoji">📄</span> Conclusão 08</a></p>
<p><a href="#lde-5-09">5-09.<span class="emoji">📄</span> Conclusão 09</a></p>
</details>
<br>
<details>
<summary>6.<span class="emoji">🗃️</span> Pós-textual</summary>
<p><a href="#lde-6-01">6-01.<span class="emoji">📄</span> Nota explicativa</a></p>
<p><a href="#lde-6-02">6-02.<span class="emoji">🏷️</span> Índice geral</a></p>
<p><a href="#lde-6-03">6-03.<span class="emoji">✏️</span> Notas de rodapé</a></p>
</details>
</div>
<br><br>

<!-- COL1 LINKS -->
{% include 2-col1-links.html %}
 
<!-- COL1 PROJECT -->
{% include 3-col1-project.html %}

<!-- COL1 VERT TOOLS -->
{% include 4-col1-tools.html %}
    
<!-- COL2 HEAD -->
{% include 5-col2-head.html %}
 
<!-- COL2 BODY -->
<div id="col2-body">
 {{ content }}
<p>&nbsp;</p>
</div>
 
<!-- COL3 HEAD -->
{% include 6-col3-head.html %}
 
<!-- COL3 BODY -->
{% include 7-col3-body.html %}

<!-- COL4 -->
{% include 9-col4.html %}
 
<!-- ALERTS -->
{% include 8-hypo-alert.html %}

<!-- SCRIPTS -->
<script src="../assets/js/combined.js"></script>
<script async src="https://hypothes.is/embed.js"></script>

</body>
</html>