<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 24.2.11 -->

<!-- HEAD -->
{% include 9-head.html %}

<!-- STYLES -->
<style>
 #col3-maps-lnk {
 display: none;
 }
</style>
</head>

<!-- BODY -->
<body>

<!-- COL1 HEAD & BODY-->
{% include 1-col1-head-body.html %}

<!-- COL1 TOC -->
<p id="toc-title" class="sidebar-heading"><span class="emoji">📄</span> Nesta página</p>
<div id="toc">

<!-- <p style="text-indent: 0px;"><span class="emoji">✒️</span> <b>{{ page.title }}</b></p> -->

<details>
<summary>0. 🗃️ Pré-textual</summary>
<p><a href="#ldm-0-01">0-01. 📄 Folha de rosto</a></p>
<p><a href="#ldm-0-02">0-02. 📄 Introdução</a></p>
</details>
<br>
<details>
<summary>1. 🗃️ Noções preliminares</summary>
<p><a href="#ldm-1-01">1-01. 📄 Há Espíritos?</a></p>
<p><a href="#ldm-1-02">1-02. 📄 Sobrenatural</a></p>
<p><a href="#ldm-1-03">1-03. 📄 Método</a></p>
<p><a href="#ldm-1-04">1-03. 📄 Sistemas</a></p>
</details>
<br>
<details>
<summary>2. 🗃️ Manifestações espíritas</summary>
<p><a href="#ldm-2-01">2-01. 🗂️ Ação sobre a matéria</a></p>
<p><a href="#ldm-2-02">2-02. 🗂️ Manifestações físicas</a></p>
<p><a href="#ldm-2-03">2-03. 🗂️ Manifestações inteligentes</a></p>
<p><a href="#ldm-2-04">2-04. 🗂️ Teoria sobre manifestações</a></p>
<p><a href="#ldm-2-05">2-05. 🗂️ Manifestações espontâneas</a></p>
<p><a href="#ldm-2-06">2-06. 🗂️ Manifestações visuais</a></p>
<p><a href="#ldm-2-07">2-07. 🗂️ Bicorporeidade</a></p>
<p><a href="#ldm-2-08">2-08. 🗂️ Mundo invisível</a></p>
<p><a href="#ldm-2-09">2-09. 🗂️ Lugares assombrados</a></p>
<p><a href="#ldm-2-10">2-10. 🗂️ Natureza das comunicações</a></p>
<p><a href="#ldm-2-11">2-11. 🗂️ Sematologia e tiptologia</a></p>
<p><a href="#ldm-2-12">2-12. 🗂️ Pneumatografia e pneumatofonia</a></p>
<p><a href="#ldm-2-13">2-13. 🗂️ Psicografia</a></p>
<p><a href="#ldm-2-14">2-14. 🗂️ Médiuns</a></p>
<p><a href="#ldm-2-15">2-15. 🗂️ Psicógrafos</a></p>
<p><a href="#ldm-2-16">2-16. 🗂️ Médiuns especiais</a></p>
<p><a href="#ldm-2-17">2-17. 🗂️ Formação dos médiuns</a></p>
<p><a href="#ldm-2-18">2-18. 🗂️ Perigos da mediunidade</a></p>
<p><a href="#ldm-2-19">2-19. 🗂️ Papel dos médiuns</a></p>
<p><a href="#ldm-2-20">2-20. 🗂️ Influência moral</a></p>
<p><a href="#ldm-2-21">2-21. 🗂️ Influência do meio</a></p>
<p><a href="#ldm-2-22">2-22. 🗂️ Mediunidade nos animais</a></p>
<p><a href="#ldm-2-23">2-23. 🗂️ Obsessão</a></p>
<p><a href="#ldm-2-24">2-24. 🗂️ Identidade dos Espíritos</a></p>
<p><a href="#ldm-2-25">2-25. 🗂️ Evocações</a></p>
<p><a href="#ldm-2-26">2-26. 🗂️ Perguntas que se podem fazer</a></p>
<p><a href="#ldm-2-27">2-27. 🗂️ Contradições</a></p>
<p><a href="#ldm-2-28">2-28. 🗂️ Charlatanismo</a></p>
<p><a href="#ldm-2-29">2-29. 🗂️ Sociedades Espíritas</a></p>
<p><a href="#ldm-2-30">2-30. 🗂️ Sociedade Parisiense</a></p>
<p><a href="#ldm-2-31">2-31. 🗂️ Dissertações</a></p>
<p><a href="#ldm-2-32">2-32. 🗂️ Vocabulário</a></p>
</details>
<br>
<details>
<summary>3. 🗃️ Pós-textual</summary>
<p><a href="#ldm-3-01">3-01. 📄 Nota explicativa</a></p>
<p><a href="#ldm-3-02">3-02. 🏷️ Índice geral</a></p>
<p><a href="#ldm-3-03">3-03. ✏️ Notas de rodapé</a></p>
</details>
</div>
<br><br>
 
<!-- COL1 LINKS -->
{% include 2-col1-links.html %}
 
<!-- COL1 PROJECT -->
{% include 3-col1-project.html %}

<!-- COL1 VERT TOOLS -->
{% include 4-col1-tools.html %}
    
<!-- COL2 HEAD -->
{% include 5-col2-head.html %}
 
<!-- COL2 BODY -->
<div id="col2-body">
 {{ content }}
<p>&nbsp;</p>
</div>
 
<!-- COL3 HEAD -->
{% include 6-col3-head.html %}
 
<!-- COL3 BODY -->
{% include 7-col3-body.html %}

<!-- COL4 -->
{% include 9-col4.html %}
 
<!-- ALERTS -->
{% include 8-hypo-alert.html %}
 
<!-- SCRIPTS -->
<script src="../assets/js/combined.js"></script>
<script async src="https://hypothes.is/embed.js"></script>

</body>
</html>