<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 23/11/22 -->

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{{ page.title }} | doutrina.org</title>
 <meta name="description"
 content="Uma plataforma inédita de estudos integrados; permitindo anotações e a consulta de referências externas, sem a necessidade de sair da janela original.">
 <meta name="author" content="sergioSHKLR, info@doutrina.org">

 <!-- OPEN GRAPH / FACEBOOK -->
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://doutrina.org/">
 <meta property="og:title" content="doutrina.org">
 <meta property="og:description"
 content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original.">
 <meta property="og:image" content="./framework/pwa/opengraph.png">

 <!-- TWITTER / X -->
 <meta property="twitter:card" content="summary_large_image">
 <meta property="twitter:url" content="https://doutrina.org/">
 <meta property="twitter:title" content="doutrina.org">
 <meta property="twitter:description"
 content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original.">
 <meta property="twitter:image" content="./framework/pwa/twitter.png">

 <!-- GOOGLE PRECONNECT 
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->

 <!-- GOOGLE FONTS -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&family=Russo+One&family=Zeyada&display=swap">

 <!-- GOOGLE ICONS -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />

  <!-- CSS -->
 <link rel="stylesheet" href="../framework/css/blockquote.css">
 <link rel="stylesheet" href="../framework/css/content.css">
 <link rel="stylesheet" href="../framework/css/dark-mode.css">
 <link rel="stylesheet" href="../framework/css/framework.css">
 <link rel="stylesheet" href="../framework/css/headings.css">
 <link rel="stylesheet" href="../framework/css/media-queries.css">
 <link rel="stylesheet" href="../framework/css/tools.css">

 <!-- PWA -->
 <link rel="manifest" href="../framework/pwa/site.webmanifest">
 <link rel="icon" href="../framework/pwa/favicon.svg" type="image/svg+xml">
 <meta name="theme-color" content="#4ec1f5">

 <!-- SCRIPTS -->
 <script src="../framework/js/script.js"></script> 

 <style>
    #col3-link3 {display: none;}
 </style>

</head>
<body onload="checkMode()">

 <!-- COL1 HEAD -->
 <div id="col1-head">

 <a href="./home.html" id="col1-brand">💧doutrina.org</a>

 </div>

 <!-- COL1 BODY -->
 <div id="col1-body">

 <!-- COL1 DETAILS -->
 <p class="sidebar-heading">Projeto</p>
 <p><a href="./home.html" title="início">🏠 Início</a></p>
 <p><a href="./info.html" title="informações">📋 Informações</a></p>
 <p><a href="./legal.html" title="Legal">⚖️ Avisos legais</a></p>
 <p><a href="./comments.html" title="Comentários">💌 Comentários</a></p>

 <!-- COL1 LINKS -->
 <p class="sidebar-heading">Obras básicas</p>
 <p><a href="./1lde.html" title="O Livro dos Espíritos">👻 O Livro dos Espíritos</a></p>
 <p><a href="./2ldm.html" title="O Livro dos Médiuns">✒️ O Livro dos Médiuns</a></p>
 <p><a href="./3ese.html" title="O Evangelho segundo o Espiritismo">🕊️ O Evangelho</a></p>
 <p><a href="./4ceu.html" title="O Céu e o Inferno">🔥 Céu e Inferno</a></p>
 <p><a href="./5gen.html" title="A Gênese">🌱 A Gênese</a></p>

<!-- COL1 TOC -->
<p class="fs-2 fw-strong border-short">Sumário</p>

<details class="ff-mono fs-4">
<summary class="ff-mono">0. 🗃️ Pré-textual</summary>
<p><a href="#ldm-0-01">0-01. 📄 Folha de rosto</a></p>
<p><a href="#ldm-0-02">0-02. 📄 Introdução</a></p>
</details>
<br>

<details class="ff-mono fs-4">
<summary class="ff-mono">1. 🗃️ Noções preliminares</summary>
<p><a href="#ldm-1-01">1-01. 📄 Há Espíritos?</a></p>
<p><a href="#ldm-1-02">1-02. 📄 Sobrenatural</a></p>
<p><a href="#ldm-1-03">1-03. 📄 Método</a></p>
<p><a href="#ldm-1-04">1-03. 📄 Sistemas</a></p>
</details>
<br>

<details class="ff-mono fs-4">
<summary class="ff-mono">2. 🗃️ Manifestações espíritas</summary>
<p><a href="#ldm-2-01">2-01. 🗂️ Ação sobre a matéria</a></p>
<p><a href="#ldm-2-02">2-02. 🗂️ Manifestações físicas</a></p>
<p><a href="#ldm-2-03">2-03. 🗂️ Manifestações inteligentes</a></p>
<p><a href="#ldm-2-04">2-04. 🗂️ Teoria sobre manifestações</a></p>
<p><a href="#ldm-2-05">2-05. 🗂️ Manifestações espontâneas</a></p>
<p><a href="#ldm-2-06">2-06. 🗂️ Manifestações visuais</a></p>
<p><a href="#ldm-2-07">2-07. 🗂️ Bicorporeidade</a></p>
<p><a href="#ldm-2-08">2-08. 🗂️ Mundo invisível</a></p>
<p><a href="#ldm-2-09">2-09. 🗂️ Lugares assombrados</a></p>
<p><a href="#ldm-2-10">2-10. 🗂️ Natureza das comunicações</a></p>
<p><a href="#ldm-2-11">2-11. 🗂️ Sematologia e tiptologia</a></p>
<p><a href="#ldm-2-12">2-12. 🗂️ Pneumatografia e pneumatofonia</a></p>
<p><a href="#ldm-2-13">2-13. 🗂️ Psicografia</a></p>
<p><a href="#ldm-2-14">2-14. 🗂️ Médiuns</a></p>
<p><a href="#ldm-2-15">2-15. 🗂️ Psicógrafos</a></p>
<p><a href="#ldm-2-16">2-16. 🗂️ Médiuns especiais</a></p>
<p><a href="#ldm-2-17">2-17. 🗂️ Formação dos médiuns</a></p>
<p><a href="#ldm-2-18">2-18. 🗂️ Perigos da mediunidade</a></p>
<p><a href="#ldm-2-19">2-19. 🗂️ Papel dos médiuns</a></p>
<p><a href="#ldm-2-20">2-20. 🗂️ Influência moral</a></p>
<p><a href="#ldm-2-21">2-21. 🗂️ Influência do meio</a></p>
<p><a href="#ldm-2-22">2-22. 🗂️ Mediunidade nos animais</a></p>
<p><a href="#ldm-2-23">2-23. 🗂️ Obsessão</a></p>
<p><a href="#ldm-2-24">2-24. 🗂️ Identidade dos Espíritos</a></p>
<p><a href="#ldm-2-25">2-25. 🗂️ Evocações</a></p>
<p><a href="#ldm-2-26">2-26. 🗂️ Perguntas que se podem fazer</a></p>
<p><a href="#ldm-2-27">2-27. 🗂️ Contradições</a></p>
<p><a href="#ldm-2-28">2-28. 🗂️ Charlatanismo</a></p>
<p><a href="#ldm-2-29">2-29. 🗂️ Sociedades Espíritas</a></p>
<p><a href="#ldm-2-30">2-30. 🗂️ Sociedade Parisiense</a></p>
<p><a href="#ldm-2-31">2-31. 🗂️ Dissertações</a></p>
<p><a href="#ldm-2-32">2-32. 🗂️ Vocabulário</a></p>
</details>
<br>

<details class="ff-mono fs-4">
<summary class="ff-mono">3. 🗃️ Pós-textual</summary>
<p><a href="#ldm-3-01">3-01. 📄 Nota explicativa</a></p>
<p><a href="#ldm-3-02">3-02. 🏷️ Índice geral</a></p>
<p><a href="#ldm-3-03">3-03. ✏️ Notas de rodapé</a></p>
</details>
<br>

 <!-- COL1 DETAILS -->
 <p class="sidebar-heading">Detalhes</p>
 <p>#️⃣ versão <kbd>11.23a</kbd></p>
 <p>🗓️ atualizado {{ "today" | date: "%b-%y" }}</p>
 <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org" title="código fonte">📦 Código fonte</a>
 </p>
 <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org/issues" title="erros">🐛 Erros</a></p>

 <!-- COL1 PART OF -->
 <p class="sidebar-heading">Parte de</p>
 <p><a target="_blank" href="https://shklr.org" title="matriz">⭕ shklr.org</a></p>
 <br>

 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

 </div>

 <!-- COL2 HEAD -->
 <div id="col2-head">

 <button id="col2-menu-on" onclick="menuOn()" title="abrir/fechar menu"><span
 class="icon">menu</span></button>

 <button id="col2-menu-off" hidden onclick="menuOff()" title="abrir/fechar menu"><span
 class="icon">menu</span></button>

 <a href="./home.html" id="col2-brand">💧doutrina.org</a>

<button id="col2-fs-btn" class="fr mr-50" onclick="openFullscreen2()" title="tela cheia"><span
class="icon">fullscreen</span><span class="label">tela cheia</span></button>

<button id="col2-ns-btn" class="fr mr-50 hide" onclick="closeFullscreen2()" title="tela normal"><span
class="icon">fullscreen_exit</span><span class="label">tela normal</span></button>

 <button id="col2-dm-btn" class="fr" onclick="darkMode2()" title="modo escuro"><span
 class="icon">dark_mode</span><span class="label">escuro</span></button>

 <button id="col2-lm-btn" class="fr hide" onclick="lightMode2()" title="modo claro"><span
 class="icon">light_mode</span><span class="label">claro</span></button>
 </div>

 <!-- COL2 BODY -->
 <div id="col2-body">

   <div class="dropdown">
      <button onclick="menuDropdown()" class="dropbtn">⋮</button>
      <div id="myDropdown" class="dropdown-content">
         <button class="tools" id="ti-btn" onclick="function1()" title="aumentar letra"><span class="icon">text_increase</span></button>
         <button class="tools" id="tn-btn" onclick="function0()" title="letra normal"><span class="icon">spellcheck</span></button>
         <button class="tools" id="td-btn" onclick="function2()" title="diminuir letra"><span class="icon">text_decrease</span></button>
         <button class="tools" id="al-btn" onclick="function3()" title="texto à esquerda"><span class="icon">format_align_left</span></button>
         <button class="tools" id="aj-btn" onclick="function4()" title="texto justificado"><span class="icon">format_align_justify</span></button>
         <button class="tools" id="f1-btn" onclick="function5()" title="tipo sans"><span class="icon">counter_1</span></button>
         <button class="tools" id="f2-btn" onclick="function6()" title="tipo serif"><span class="icon">counter_2</span></button>
         <button class="tools" id="f3-btn" onclick="function7()" title="tipo mono"><span class="icon">counter_3</span></button>
         <button class="tools" id="f4-btn" onclick="function8()" title="tipo slab"><span class="icon">counter_4</span></button>
         <button class="tools" id="ds-btn" onclick="function9()" title="entrelinhas menor"><span class="icon">density_small</span></button>
         <button class="tools" id="dn-btn" onclick="function9a()" title="entrelinhas normal"><span class="icon">density_medium</span></button>
         <button class="tools" id="dm-btn" onclick="function10()" title="entrelinhas maior"><span class="icon">density_large</span></button>
         <button class="tools" id="b1-btn" onclick="function11()" title="fundo amarelado"><span class="icon">looks_one</span></button>
         <button class="tools" id="b2-btn" onclick="function12()" title="fundo esverdeado"><span class="icon">looks_two</span></button>
         <button class="tools" id="b3-btn" onclick="function13()" title="fundo roseado"><span class="icon">looks_3</span></button>
         <button class="tools" id="b4-btn" onclick="function14()" title="fundo branco"><span class="icon">looks_4</span></button>
      </div>
    </div>

    {{ content }}

 </div>

 <!-- COL3 HEAD -->
 <div id="col3-head">

 <a target="ext" href="https://pt.m.wikipedia.org/" title="enciclopédia">
 <button id="col3-link1"><span class="icon">language</span><span class="label">enciclopédia</span>
 </button></a>

 <a target="ext" href="https://pt.m.wiktionary.org" title="dicionário">
 <button id="col3-link2"><span class="icon">book_2</span><span class="label">dicionário</span>
 </button></a>

 <a target="ext" href="./content/maps/paris.html" title="atlas">
 <button id="col3-link3"><span class="icon">location_on</span><span class="label">atlas</span>
 </button></a>

 <a target="_blank"
 href="https://doutrina.whereby.com/whereby-2023-8maxc22cd350-c33a-4f52-bd16-862eaddd5514"
 title="vídeo chamada">
 <button id="col3-link4"><span class="icon">video_call</span><span class="label">video chamada</span>
 </button></a>

<button id="col3-fs-btn" class="fr" onclick="openFullscreen3()" title="tela cheia"><span
class="icon">fullscreen</span><span class="label">tela cheia</span></button>

<button id="col3-ns-btn" class="fr hide" onclick="closeFullscreen3()" title="tela normal"><span
class="icon">fullscreen_exit</span><span class="label">tela normal</span></button>

 <button id="col3-dm-btn" class="fr" onclick="darkMode3()" title="modo escuro"><span
 class="icon">dark_mode</span><span class="label">escuro</span></button>

 <button id="col3-lm-btn" class="fr hide" onclick="lightMode3()" title="modo claro"><span
 class="icon">light_mode</span><span class="label">claro</span></button>

 <!--
<button class="fr" id="col3-sh-on-btn" onclick="shadesOn()" title="ativar cortina anti-distração"><span
class=" icon">visibility_off</span></button>

<button class="fr" id="col3-sh-off-btn" hidden onclick="shadesOff()" title="desativar cortina anti-distração"><span
class="icon">visibility</span></button>
-->

 </div>

 <!-- COL3 BODY -->
 <div id="col3-body">

 <iframe id="ext-iframe" loading="lazy" name="ext" title="painel complementar" src="https://pt.m.wikipedia.org/wiki/Espiritismo"></iframe>
 </div>

 <!-- SCRIPTS -->
<script async src="../framework/js/crisp.js"></script>
<script async type="application/json" class="js-hypothesis-config">
 {
 "openSidebar": false,
 "showHighlights": true
 }
 </script>
 <script async src="https://hypothes.is/embed.js"></script>

<script async src="../framework/js/dark-mode.js"></script>
<script async src="../framework/js/fullscreen.js"></script>
<script async src="../framework/js/menu.js"></script>
<script async src="../framework/js/shades.js"></script>
<script async src="../framework/js/tools.js"></script>

<!-- STAND WIHT US -->
 <a href="https://standwithus.com/brazil" target="_blank"><img id="israel" src="../framework/israel.svg"
 alt="Apoie Israel!" title="Apoie Israel!"></a>

</body>

</html>