<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 24.1.12 -->

<!-- HEAD -->
{% include 0-head.html %}

<!-- STYLES -->
<style>

</style>
</head>

<!-- BODY -->
<body>

<!-- COL1 HEAD & BODY-->
{% include 1-col1-head-body.html %}

<!-- COL1 TOC -->
<p id="toc-title" class="sidebar-heading"><span class="emoji">📄</span> Nesta página</p>
<div id="toc">
<p style="text-indent: 0px;"><span class="emoji">🕊️</span> <b>{{ page.title }}</b></p>
 
<details>
<summary>0. 🗃️ Pré-textual</summary>
<p><a href="#ese-0-01">0-01. 📄 Folha de rosto</a></p>
<p><a href="#ese-0-02">0-02. 📄 Prefácio</a></p>
<p><a href="#ese-0-03">0-03. 🗂️ Introdução</a></p>
<p><a href="#ese-0-03-01">0-03-01. 📄 Objetivo</a></p>
<p><a href="#ese-0-03-02">0-03-02. 📄 Autoridade</a></p>
<p><a href="#ese-0-03-03">0-03-03. 📄 História</a></p>
<p><a href="#ese-0-03-04">0-03-04. 📄 Sócrates & Platão</a></p>
</details>
<br>
<details>
<summary>1. 🗃️ Miolo</summary>
<p><a href="#ese-1-01">1-01. 🗂️ Não vim destruir a lei</a></p>
<p><a href="#ese-1-02">1-02. 🗂️ Meu Reino não é deste mundo</a></p>
<p><a href="#ese-1-03">1-03. 🗂️ Há muitas moradas na casa de meu Pai</a></p>
<p><a href="#ese-1-04">1-04. 🗂️ Ninguém poderá ver o Reino de Deus se não nascer
 de novo</a></p>
<p><a href="#ese-1-05">1-05. 🗂️ Bem-aventurados os aflitos</a></p>
<p><a href="#ese-1-06">1-06. 🗂️ O Cristo Consolador</a></p>
<p><a href="#ese-1-07">1-07. 🗂️ Bem-aventurados os pobres de espírito</a></p>
<p><a href="#ese-1-08">1-08. 🗂️ Bem-aventurados os que têm puro o coração</a></p>
<p><a href="#ese-1-09">1-09. 🗂️ Bem-aventurados os que são brandos e pacíficos</a></p>
<p><a href="#ese-1-10">1-10. 🗂️ Bem-aventurados os que são misericordiosos</a></p>
<p><a href="#ese-1-11">1-11. 🗂️ Amar o próximo como a si mesmo</a></p>
<p><a href="#ese-1-12">1-12. 🗂️ Amai os vossos inimigos</a></p>
<p><a href="#ese-1-13">1-13. 🗂️ Não saiba a vossa mão esquerda o que dê a vossa
 mão direita</a></p>
<p><a href="#ese-1-14">1-14. 🗂️ Honrai a vosso pai e a vossa mãe</a></p>
<p><a href="#ese-1-15">1-15. 🗂️ Fora da caridade não há salvação</a></p>
<p><a href="#ese-1-16">1-16. 🗂️ Não se pode servir a Deus e a Mamon</a></p>
<p><a href="#ese-1-17">1-17. 🗂️ Sede perfeitos</a></p>
<p><a href="#ese-1-18">1-18. 🗂️ Muitos os chamados, poucos os escolhidos</a></p>
<p><a href="#ese-1-19">1-19. 🗂️ A fé transporta montanhas</a></p>
<p><a href="#ese-1-20">1-20. 🗂️ Os trabalhadores da última hora</a></p>
<p><a href="#ese-1-21">1-21. 🗂️ Haverá falsos cristos e falsos profetas</a></p>
<p><a href="#ese-1-22">1-22. 🗂️ Não separeis o que Deus juntou</a></p>
<p><a href="#ese-1-23">1-23. 🗂️ Estranha moral</a></p>
<p><a href="#ese-1-24">1-24. 🗂️ Não ponhais a candeia debaixo do alqueire</a></p>
<p><a href="#ese-1-25">1-25. 🗂️ Buscai e achareis</a></p>
<p><a href="#ese-1-26">1-26. 🗂️ Dai gratuitamente o que gratuitamente recebestes</a></p>
<p><a href="#ese-1-27">1-27. 🗂️ Pedi e obtereis</a></p>
<p><a href="#ese-1-28">1-28. 🗂️ Coletânea de preces espíritas</a></p>
</details>
<br>
<details>
<summary>2. 🗃️ Pós-textual</summary>
<p><a href="#ese-2-01">2-01. 📄 Nota explicativa</a></p>
<p><a href="#ese-2-02">2-02. 🏷️ Índice geral</a></p>
<p><a href="#ese-2-03">2-03. ✏️ Notas de rodapé</a></p>
</details>
</div>
<br><br>
 
<!-- COL1 LINKS -->
{% include 2-col1-links.html %}
 
<!-- COL1 PROJECT -->
{% include 3-col1-project.html %}

<!-- COL1 VERT TOOLS -->
{% include 4-col1-tools.html %}
    
<!-- COL2 HEAD -->
{% include 5-col2-head.html %}
 
<!-- COL2 BODY -->
<div id="col2-body">
 {{ content }}
</div>
 
<!-- COL3 HEAD -->
{% include 6-col3-head.html %}
 
<!-- COL3 BODY -->
{% include 7-col3-body.html %}
 
<!-- ALERTS -->
{% include 8-hypo-alert.html %}
 
<!-- SCRIPTS -->
<script src="../assets/js/combined.js"></script>
<script src="../assets/js/crisp.js"></script>
<script async src="https://hypothes.is/embed.js"></script>

</body>
</html>