<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 24.1.25 -->

<!-- HEAD -->
{% include 0-head.html %}

<!-- STYLES -->
<style>
 #col3-maps-lnk {
 display: none;
 }
</style>
</head>

<!-- BODY -->
<body>

<!-- COL1 HEAD & BODY-->
{% include 1-col1-head-body.html %}

<!-- COL1 TOC -->
<p id="toc-title" class="sidebar-heading"><span class="emoji">📄</span> Nesta página</p>
<div id="toc">

<!-- <p style="text-indent: 0px;"><span class="emoji">🔥</span> <b>{{ page.title }}</b></p> -->

<details>
<summary>0. 🗃️ Pré-textual</summary>
<p><a href="#ceu-0-01">0-01. 📄 Folha de rosto</a></p>
</details>
<br>
<details>
<summary>1. 🗃️ Doutrina</summary>
<p><a href="#ceu-1-01">1.01. 🗂️ O porvir e o nada</a></p>
<p><a href="#ceu-1-02">1.02. 🗂️ Temor da morte</a></p>
<p><a href="#ceu-1-03">1.03. 🗂️ O céu</a></p>
<p><a href="#ceu-1-04">1.04. 🗂️ O inferno</a></p>
<p><a href="#ceu-1-05">1.05. 🗂️ O purgatório</a></p>
<p><a href="#ceu-1-06">1.06. 🗂️ Doutrina das penas eternas</a></p>
<p><a href="#ceu-1-07">1.07. 🗂️ As penas futuras segundo o Espiritismo</a></p>
<p><a href="#ceu-1-08">1.08. 🗂️ Os anjos</a></p>
<p><a href="#ceu-1-09">1.09. 🗂️ Os demônios</a></p>
<p><a href="#ceu-1-10">1.10. 🗂️ Intervenção dos demônios nas modernas
 manifestações</a></p>
<p><a href="#ceu-1-11">1.11. 🗂️ Da proibição de evocar os mortos</a></p>
</details>
<br>
<details>
<summary>2. 🗃️ Exemplos</summary>
<p><a href="#ceu-2-01">2.01. 🗂️ O passamento</a></p>
<p><a href="#ceu-2-02">2.02. 🗂️ Espíritos felizes</a></p>
<p><a href="#ceu-2-03">2.03. 🗂️ Espíritos em condições medianas</a></p>
<p><a href="#ceu-2-04">2.04. 🗂️ Espíritos sofredores</a></p>
<p><a href="#ceu-2-05">2.05. 🗂️ Suicidas</a></p>
<p><a href="#ceu-2-06">2.06. 🗂️ Criminosos arrependidos</a></p>
<p><a href="#ceu-2-07">2.07. 🗂️ Espíritos endurecidos</a></p>
<p><a href="#ceu-2-08">2.08. 🗂️ Expiações terrestres</a></p>
</details>
<br>
<details>
<summary>3. 🗃️ Pós-textual</summary>
<p><a href="#ceu-3-01">3.01. 📄 Nota explicativa</a></p>
<p><a href="#ceu-3-02">3.02. 🏷️ Índice geral</a></p>
<p><a href="#ceu-3-03">3.03. ✏️ Notas de rodapé</a></p>
</details>
</div>
<br><br>
 
<!-- COL1 LINKS -->
{% include 2-col1-links.html %}
 
<!-- COL1 PROJECT -->
{% include 3-col1-project.html %}

<!-- COL1 VERT TOOLS -->
{% include 4-col1-tools.html %}
    
<!-- COL2 HEAD -->
{% include 5-col2-head.html %}
 
<!-- COL2 BODY -->
<div id="col2-body">
 {{ content }}
<p>&nbsp;</p>
</div>
 
<!-- COL3 HEAD -->
{% include 6-col3-head.html %}
 
<!-- COL3 BODY -->
{% include 7-col3-body.html %}
 
<!-- ALERTS -->
{% include 8-hypo-alert.html %}
 
<!-- SCRIPTS -->
<script src="../assets/js/combined.js"></script>
<script async src="https://hypothes.is/embed.js"></script>

</body>
</html>