<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 23.14  -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | doutrina.org</title>
  <meta name="description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações, e a consulta de referências externas, sem sair da janela original.">
  <meta name="author" content="sergioSHKLR, doutrina@shklr.org">

  <!-- OPEN GRAPH / FACEBOOK -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://doutrina.org/">
  <meta property="og:title" content="doutrina.org">
  <meta property="og:description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações, e a consulta de referências externas, sem sair da janela original.">
  <meta property="og:image" content="./framework/pwa/opengraph.png">

  <!-- TWITTER / X -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://doutrina.org/">
  <meta property="twitter:title" content="doutrina.org">
  <meta property="twitter:description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações, e a consulta de referências externas, sem sair da janela original.">
  <meta property="twitter:image" content="./framework/pwa/twitter.png">

  <!-- GOOGLE PRECONNECT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- GOOGLE FONTS -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&family=Russo+One&family=Zeyada&display=swap">

  <!-- GOOGLE ICONS -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0">

  <!-- CSS -->
  <link rel="stylesheet" href="./framework/css/blockquote.css">
  <link rel="stylesheet" href="./framework/css/content.css">
  <link rel="stylesheet" href="./framework/css/dark-mode.css">
  <link rel="stylesheet" href="./framework/css/framework.css">
  <link rel="stylesheet" href="./framework/css/headings.css">
  <link rel="stylesheet" href="./framework/css/media-queries.css">
  <link rel="stylesheet" href="./framework/css/tools.css">
  <link rel="stylesheet" href="./framework/css/scrollbar.css">

  <!-- PWA -->
  <link rel="manifest" href="./framework/pwa/site.webmanifest">
  <link rel="icon" href="./framework/pwa/favicon.svg" type="image/svg+xml">
  <meta name="theme-color" content="#4ec1f5">

  <!-- SCRIPTS -->
  <script src="./framework/js/crisp.js"></script>

  <!-- STYLES -->
  <style>
    #col3-link3-a {
      display: none;
    }
  </style>
</head>
<!-- BODY -->

<body onload="checkMode()">

  <!-- COL1 HEAD -->
  <div id="col1-head" class="head">
    <a href="./home.html" id="col1-brand">💧doutrina.org</a>
  </div>

  <!-- COL1 BODY -->
  <div id="col1-body">

    <!-- COL1 TOC -->
    <p class="sidebar-heading" style="padding-top: 4px;">{{ page.title }}</p>
    <details class="ff-mono fs-4">
      <summary class="ff-mono">0. 🗃️ Pré-textual</summary>
      <p><a href="#ceu-0-01">0-01. 📄 Folha de rosto</a></p>
    </details>
    <br>
    <details class="ff-mono fs-4">
      <summary class="ff-mono">1. 🗃️ Doutrina</summary>
      <p><a href="#ceu-1-01">1.01. 🗂️ O porvir e o nada</a></p>
      <p><a href="#ceu-1-02">1.02. 🗂️ Temor da morte</a></p>
      <p><a href="#ceu-1-03">1.03. 🗂️ O céu</a></p>
      <p><a href="#ceu-1-04">1.04. 🗂️ O inferno</a></p>
      <p><a href="#ceu-1-05">1.05. 🗂️ O purgatório</a></p>
      <p><a href="#ceu-1-06">1.06. 🗂️ Doutrina das penas eternas</a></p>
      <p><a href="#ceu-1-07">1.07. 🗂️ As penas futuras segundo o Espiritismo</a></p>
      <p><a href="#ceu-1-08">1.08. 🗂️ Os anjos</a></p>
      <p><a href="#ceu-1-09">1.09. 🗂️ Os demônios</a></p>
      <p><a href="#ceu-1-10">1.10. 🗂️ Intervenção dos demônios nas modernas
          manifestações</a></p>
      <p><a href="#ceu-1-11">1.11. 🗂️ Da proibição de evocar os mortos</a></p>
    </details>
    <br>
    <details class="ff-mono fs-4">
      <summary class="ff-mono">2. 🗃️ Exemplos</summary>
      <p><a href="#ceu-2-01">2.01. 🗂️ O passamento</a></p>
      <p><a href="#ceu-2-02">2.02. 🗂️ Espíritos felizes</a></p>
      <p><a href="#ceu-2-03">2.03. 🗂️ Espíritos em condições medianas</a></p>
      <p><a href="#ceu-2-04">2.04. 🗂️ Espíritos sofredores</a></p>
      <p><a href="#ceu-2-05">2.05. 🗂️ Suicidas</a></p>
      <p><a href="#ceu-2-06">2.06. 🗂️ Criminosos arrependidos</a></p>
      <p><a href="#ceu-2-07">2.07. 🗂️ Espíritos endurecidos</a></p>
      <p><a href="#ceu-2-08">2.08. 🗂️ Expiações terrestres</a></p>
    </details>
    <br>
    <details class="ff-mono fs-4">
      <summary class="ff-mono ml-0">3. 🗃️ Pós-textual</summary>
      <p><a href="#ceu-3-01">3.01. 📄 Nota explicativa</a></p>
      <p><a href="#ceu-3-02">3.02. 🏷️ Índice geral</a></p>
      <p><a href="#ceu-3-03">3.03. ✏️ Notas de rodapé</a></p>
    </details>
    <br>

    <!-- COL1 LINKS -->
    <details>
      <summary class="sidebar-heading">📚 Obras básicas</summary>
      <p><a href="./1lde.html" title="O Livro dos Espíritos">👻 O Livro dos Espíritos</a></p>
      <p><a href="./2ldm.html" title="O Livro dos Médiuns">✒️ O Livro dos Médiuns</a></p>
      <p><a href="./3ese.html" title="O Evangelho segundo o Espiritismo">🕊️ O Evangelho</a></p>
      <p><a href="./4ceu.html" title="O Céu e o Inferno">🔥 Céu e Inferno</a></p>
      <p><a href="./5gen.html" title="A Gênese">🌱 A Gênese</a></p>
    </details><br>

    <!-- COL1 DETAILS -->
    <details>
      <summary class="sidebar-heading">📈 Projeto</summary>
      <p><a href="./home.html" title="início">🏠 Início</a></p>
      <p><a href="./info.html" title="informações">📋 Informações</a></p>
      <p><a href="./legal.html" title="Legal">⚖️ Avisos legais</a></p>
      <p><a href="./comments.html" title="Resenhas">❤️ Contribuições</a></p>

      <!-- COL1 REPO -->
      <p class="sidebar-heading">🖥️ Código fonte</p>
      <p><a target="_blank" href="https://github.com/sergioSHKLR/pt.doutrina.org" title="repositório">📦 Repositório</a>
      </p>
      <p><a target="_blank" href="https://github.com/sergioSHKLR/pt.doutrina.org/issues" title="erros">🐛 Falhas de
          Código</a></p>

      <!-- STATS -->
      <p class="sidebar-heading">⌨️ Detalhes</summary>
      <p>💾 Versão <kbd>23.14</kbd></p>
      <p>🗓️ Atualizado em {{ "today" | date: "%b-%y" }}</p>
      <p>🛡️ <a href="./legal.html">CC BY-NC-SA 4.0</a></p>

      <!-- COL1 LANG -->
      <p class="sidebar-heading">💬 Idiomas</summary>
      <p><a target="_self" href="https://en.doutrina.org/" title="Inglês Americano">🇺🇸 American English</a></p>

      <!-- COL1 PART OF -->
      <p class="sidebar-heading">💼 Parte de</summary>
      <p><a target="_blank" href="https://pt.shklr.org" title="matriz">⭕ shklr.org</a></p>

    </details><br>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- COL1 VERT TOOLS-->
    <div id="vert-tools">
      <button title="ajustar letra, parágrafo e fundo" style="border-bottom: 1px solid #59595980;"><span
          class="icon">instant_mix</span></button>
      <button class="tools" id="ti-btn" onclick="function1()" title="aumentar letra"><span
          class="icon">text_increase</span></button>
      <button class="tools" id="td-btn" onclick="function2()" title="diminuir letra"><span
          class="icon">text_decrease</span></button>
      <button class="tools" id="aj-btn" onclick="function4()" title="texto justificado"><span
          class="icon">format_align_justify</span></button>
      <button class="tools" id="f2-btn" onclick="function6()" title="tipo serif"><span
          style="font-family: 'Georgia', serif;">Se</span></button>
      <button class="tools" id="f1-btn" onclick="function5()" title="tipo sans"><span
          style="font-family: 'Inter', sans;">Sa</span></button>
      <button class="tools" id="f3-btn" onclick="function7()" title="tipo mono"><span
          style="font-family: 'Roboto Mono', monospace;">Mo</span></button>
      <button class="tools" id="ds-btn" onclick="function9()" title="entrelinhas menor"><span
          class="icon">density_small</span></button>
      <button class="tools" id="dm-btn" onclick="function10()" title="entrelinhas maior"><span
          class="icon">density_large</span></button>
      <button class="tools" id="b1-btn" onclick="function11()" title="fundo amarelado"><span class="icon"
          style="border-radius: 50%; background-color: #fffce4; border: 1px solid #59595980;">&nbsp;</button>
      <button class="tools" id="b2-btn" onclick="function12()" title="fundo esverdeado"><span class="icon"
          style="border-radius: 50%; background-color: #e8fce4; border: 1px solid #59595980;">&nbsp;</span></button>
      <button class="tools" id="b3-btn" onclick="function13()" title="fundo roseado"><span class="icon"
          style="border-radius: 50%; background-color: #fff4fc; border: 1px solid #59595980;">&nbsp;</span></button>
      <button class="tools" id="ra-btn" onclick="functionResetAll()" title="reverter tudo"><span
          class="icon">restart_alt</span></button>
    </div>
  </div>

  <!-- COL2 HEAD -->
  <div id="col2-head" class="head">
    <button id="col2-menu-on" onclick="menuOn()" title="abrir menu"><span class="icon">menu</span></button>
    <button id="col2-menu-off" hidden onclick="menuOff()" title="fechar menu"><span class="icon">close</span></button>
    <a href="./home.html" id="col2-brand">💧doutrina.org</a>

    <button id="webshare" class="fr" label="compartilhe"><span class="icon">share</span></button>

    <button id="col2-fs-btn" class="fr mr-50" onclick="openFullscreen()" title="tela cheia"><span
        class="icon">fullscreen</span></button>
    <button id="col2-ns-btn" class="fr mr-50 hide" onclick="closeFullscreen()" title="tela normal"><span
        class="icon">fullscreen_exit</span></button>
    <button id="col2-dm-btn" class="fr" onclick="darkMode()" title="modo escuro"><span
        class="icon">dark_mode</span></button>
    <button id="col2-lm-btn" class="fr hide" onclick="lightMode()" title="modo claro"><span
        class="icon">light_mode</span></button>
  </div>

  <!-- COL2 BODY -->
  <div id="col2-body">
    {{ content }}
  </div>

  <!-- COL3 HEAD -->
  <div id="col3-head" class="head">
    <a id="col3-link3-a" class="fr" target="ext" href="./content/maps/paris.html" title="atlas"><span
        class="icon">location_on</span></a>

    <a id="col3-link2-a" class="fr" target="ext" href="https://pt.m.wiktionary.org" title="dicionário"><span
        class="icon">book_2</span>

      <a id="col3-link1-a" class="fr" target="ext" href="https://pt.m.wikipedia.org/" title="enciclopédia"><span
          class="icon">language</span></a>

      <!-- <a id="col3-link4-a" target="_blank"
href="https://doutrina.whereby.com/whereby-2023-8maxc22cd350-c33a-4f52-bd16-862eaddd5514"
title="vídeo chamada"><span class="icon">video_call</span></a> -->
  </div>

  <!-- COL3 BODY -->
  <div id="col3-body">
    <iframe id="ext-iframe" loading="lazy" name="ext" title="painel complementar" src="./ext.html"></iframe>
  </div>

  <div id="hypo" onclick="hypoAlert()"><span class="material-symbols-outlined">
      help
    </span></div>

  <!-- SCRIPTS -->
  <script async src="./framework/js/ext-links.js"></script>
  <script async src="./framework/js/dark-mode.js"></script>
  <script async src="./framework/js/fullscreen.js"></script>
  <script async src="./framework/js/menu.js"></script>
  <script async src="./framework/js/tools.js"></script>
  <script async src="./framework/js/webshare.js"></script>

  <script class="js-hypothesis-config">
    window.hypothesisConfig = function () {
      return {
        branding: {
          appBackgroundColor: '#222',
          ctaBackgroundColor: '#BD1C2B',
          ctaTextColor: 'white',
          selectionFontFamily: 'helvetica, arial, sans serif',
          annotationFontFamily: 'monospace'
        }
      };
    };
  </script>
  <script type="application/json" class="js-hypothesis-config">
{
"showHighlights": true,
"openSidebar": false
}
</script>

  <script async src="https://hypothes.is/embed.js"></script>

  <div id="alert" class="hide">No celular? Use-o no modo deitado.</span></div>

  <!-- STAND WIHT US 
<a href="https://standwithus.com/brazil" target="_blank"><img id="israel" src="./framework/israel.svg"
alt="Apoie Israel!" title="Apoie Israel!"></a> -->
</body>

</html>