<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 23/12/09 -->

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{{ page.title }} | doutrina.org</title>
 <meta name="description"
 content="Uma plataforma inédita de estudos integrados; permitindo anotações e a consulta de referências externas, sem a necessidade de sair da janela original.">
 <meta name="author" content="sergioSHKLR, info@doutrina.org">

 <!-- OPEN GRAPH / FACEBOOK -->
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://doutrina.org/">
 <meta property="og:title" content="doutrina.org">
 <meta property="og:description"
 content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original.">
 <meta property="og:image" content="./framework/pwa/opengraph.png">

 <!-- TWITTER / X -->
 <meta property="twitter:card" content="summary_large_image">
 <meta property="twitter:url" content="https://doutrina.org/">
 <meta property="twitter:title" content="doutrina.org">
 <meta property="twitter:description"
 content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original.">
 <meta property="twitter:image" content="./framework/pwa/twitter.png">

 <!-- GOOGLE PRECONNECT -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

 <!-- GOOGLE FONTS -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&family=Russo+One&family=Zeyada&display=swap">

 <!-- GOOGLE ICONS -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0">

 <!-- CSS  -->
 <link rel="stylesheet" href="./framework/css/blockquote.css">
 <link rel="stylesheet" href="./framework/css/content.css">
 <link rel="stylesheet" href="./framework/css/dark-mode.css">
 <link rel="stylesheet" href="./framework/css/framework.css">
 <link rel="stylesheet" href="./framework/css/headings.css">
 <link rel="stylesheet" href="./framework/css/media-queries.css">
 <link rel="stylesheet" href="./framework/css/tools.css">
 <link rel="stylesheet" href="./framework/css/scrollbar.css"> 
 
 <!-- PWA -->
 <link rel="manifest" href="./framework/pwa/site.webmanifest">
 <link rel="icon" href="./framework/pwa/favicon.svg" type="image/svg+xml">
 <meta name="theme-color" content="#4ec1f5">

 <!-- SCRIPTS -->
 <script src="./framework/js/crisp.js"></script>

 <!-- STYLES -->
 <style>
 #col3-link3 {
 display: none;
 }

 #col2-body {
 box-shadow: none !important;
 }
 </style>

</head>

<!-- BODY -->

<body onload="checkMode()">

 <!-- COL1 HEAD -->
 <div id="col1-head" class="head">

 <a href="./home.html" id="col1-brand">💧doutrina.org</a>

 </div>

 <!-- COL1 BODY -->
 <div id="col1-body">

<!-- COL1 TOC -->
 <p class="sidebar-heading">Sumário</p>

 <details class="ff-mono fs-4">
 <summary class="ff-mono">0. 🗃️ Pré-textual</summary>
 <p><a href="#gen-0-01">0-01. 📄 Introdução</a></p>
 </details>
 <br>

 <details class="ff-mono fs-4">
 <summary class="ff-mono">1. 🗃️ A Gênese</summary>
 <p><a href="#gen-1-01">1-01. 🗂️ Caráter da revelação espírita</a></p>
 <p><a href="#gen-1-02">1-02. 🗂️ Deus</a></p>
 <p><a href="#gen-1-03">1-03. 🗂️ O bem e o mal</a></p>
 <p><a href="#gen-1-04">1-04. 🗂️ Papel da Ciência na Gênese</a></p>
 <p><a href="#gen-1-06">1-05. 🗂️ Antigos e modernos sistemas do mundo</a></p>
 <p><a href="#gen-1-07">1-06. 🗂️ Uranografia geral</a></p>
 <p><a href="#gen-1-08">1-07. 🗂️ Esboço geológico da Terra</a></p>
 <p><a href="#gen-1-09">1-08. 🗂️ Teorias sobre a formação da Terra</a></p>
 <p><a href="#gen-1-10">1-09. 🗂️ Revoluções do globo</a></p>
 <p><a href="#gen-1-11">1-10. 🗂️ Gênese orgânica</a></p>
 <p><a href="#gen-1-12">1-11. 🗂️ Gênese espiritual</a></p>
 <p><a href="#gen-1-13">1-12. 🗂️ Gênese moisaica</a></p>
 </details>
 <br>

 <details class="ff-mono fs-4">
 <summary class="ff-mono">2. 🗃️ Os milagres</summary>
 <p><a href="#gen-2-13">2-13. 🗂️ Caracteres dos milagres</a></p>
 <p><a href="#gen-2-14">2-14. 🗂️ Os fluidos</a></p>
 <p><a href="#gen-2-15">2-15. 🗂️ Os milagres do Evangelho</a></p>

 </details>
 <br>

 <details class="ff-mono fs-4">
 <summary class="ff-mono">3. 🗃️ As predições</summary>
 <p><a href="#gen-3-16">3-16. 🗂️ Teoria da presciência</a></p>
 <p><a href="#gen-3-17">3-17. 🗂️ Predições do Evangelho</a></p>
 <p><a href="#gen-3-18">3-18. 🗂️ São chegados os tempos</a></p>
 </details>
 <br>

 <details class="ff-mono fs-4">
 <summary class="ff-mono ml-0">4. 🗃️ Pós-textual</summary>
 <p><a href="#gen-4-01">4-01. 📄 Nota explicativa</a></p>
 <p><a href="#gen-4-02">4-02. 🏷️ Índice geral</a></p>
 <p><a href="#gen-4-03">4-03. ✏️ Notas de rodapé</a></p>
 </details>
 <br>

 <!-- COL1 LINKS -->
<details>
 <summary class="sidebar-heading">Obras básicas</summary>
 <p><a href="./1lde.html" title="O Livro dos Espíritos">👻 O Livro dos Espíritos</a></p>
 <p><a href="./2ldm.html" title="O Livro dos Médiuns">✒️ O Livro dos Médiuns</a></p>
 <p><a href="./3ese.html" title="O Evangelho segundo o Espiritismo">🕊️ O Evangelho</a></p>
 <p><a href="./4ceu.html" title="O Céu e o Inferno">🔥 Céu e Inferno</a></p>
 <p><a href="./5gen.html" title="A Gênese">🌱 A Gênese</a></p></details><br>
 
 <!-- COL1 DETAILS -->
 <details>
 <summary class="sidebar-heading">Projeto</summary>
 <p><a href="./home.html" title="início">🏠 Início</a></p>
 <p><a href="./info.html" title="informações">📋 Informações</a></p>
 <p><a href="./legal.html" title="Legal">⚖️ Avisos legais</a></p>
 <p><a href="./comments.html" title="Comentários">❤️ Comentários</a></p></details><br>
 
 <!-- COL1 REPO -->
 <details>
 <summary class="sidebar-heading">Código fonte</summary>
 <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org" title="repositório">📦 Repositório</a>
 </p>
 <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org/issues" title="erros">🐛 Falhas de
 Código</a></p></details><br>
 
 <!-- STATS -->
 <details>
 <summary class="sidebar-heading">Detalhes</summary>
 <p class="cd">💾 Versão <kbd>11.23a</kbd></p>
 <p class="cd">🗓️ Atualizado {{ "today" | date: "%b-%y" }}</p>
 <p>🛡️ <a href="./legal.html">CC BY-NC-SA 4.0</a></p></details><br>
 
 <!-- COL1 LANG -->
 <details>
 <summary class="sidebar-heading">Idiomas</summary>
 <p><a target="_self" href="https://en.doutrina.org/" title="Inglês Americano">🇺🇸 American English</a></p></details><br>
 
 <!-- COL1 PART OF -->
 <details>
 <summary class="sidebar-heading">Parte de</summary>
 <p><a target="_blank" href="https://pt.shklr.org" title="matriz">⭕ shklr.org</a></p></details>
 <br>

 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

 </div>

 <!-- COL2 HEAD -->
 <div id="col2-head" class="head">

    <button id="col2-menu-on" onclick="menuOn()" title="abrir/fechar menu"><span class="icon">menu</span></button>
   
    <button id="col2-menu-off" hidden onclick="menuOff()" title="abrir/fechar menu"><span
    class="icon">menu</span></button>
   
    <a href="./home.html" id="col2-brand">💧doutrina.org</a>
   
    <button id="col2-fs-btn" class="fr mr-50" onclick="openFullscreen()" title="tela cheia"><span
    class="icon">fullscreen</span></button>
   
    <button id="col2-ns-btn" class="fr mr-50 hide" onclick="closeFullscreen()" title="tela normal"><span
    class="icon">fullscreen_exit</span></button>
   
    <button id="col2-dm-btn" class="fr" onclick="darkMode()" title="modo escuro"><span
    class="icon">dark_mode</span></button>
   
    <button id="col2-lm-btn" class="fr hide" onclick="lightMode()" title="modo claro"><span
    class="icon">light_mode</span></button>
    </div>
   
    <!-- COL2 BODY -->
    <div id="col2-body" style="box-shadow: none !important; background-color: transparent;">

      <div class="dropdown">
        <button onclick="menuDropdown()" class="dropbtn">Aa</button>
        <div id="myDropdown" class="dropdown-content" style="color: currentColor">
        <button class="tools" id="ti-btn" onclick="function1()" title="aumentar letra"><span
        class="icon">text_increase</span></button>
        <button class="tools" id="td-btn" onclick="function2()" title="diminuir letra"><span
        class="icon">text_decrease</span></button>
        <button class="tools" id="aj-btn" onclick="function4()" title="texto justificado"><span
        class="icon">format_align_justify</span></button>
        <button class="tools" id="f1-btn" onclick="function5()" title="tipo sans"><span
        class="icon">edit</span></button>
        <button class="tools" id="f2-btn" onclick="function6()" title="tipo serif"><span
        class="icon">ink_pen</span></button>
        <button class="tools" id="f3-btn" onclick="function7()" title="tipo mono"><span
        class="icon">ink_marker</span></button>
        <button class="tools" id="ds-btn" onclick="function9()" title="entrelinhas menor"><span
        class="icon">density_small</span></button>
        <button class="tools" id="dm-btn" onclick="function10()" title="entrelinhas maior"><span
        class="icon">density_large</span></button>
        <button class="tools" id="b1-btn" onclick="function11()" title="fundo amarelado"><span
        class="icon">🟡</span></button>
        <button class="tools" id="b2-btn" onclick="function12()" title="fundo esverdeado"><span
        class="icon">🟢</span></button>
        <button class="tools" id="b3-btn" onclick="function13()" title="fundo roseado"><span
        class="icon">🟣</span></button>
        <button class="tools" id="ra-btn" onclick="functionResetAll()" title="reverter tudo"><span
         class="icon">restart_alt</span></button> 
        </div>
        </div>
   
    {{ content }}
   
    </div>
   
    <!-- COL3 HEAD -->
    <div id="col3-head" class="head">
   
    <a id="col3-link1-a" target="ext" href="https://pt.m.wikipedia.org/" title="enciclopédia">
    <span class="icon">language</span></a>
   
    <a id="col3-link2-a" target="ext" href="https://pt.m.wiktionary.org" title="dicionário">
    <span class="icon">book_2</span></a>
   
    <a id="col3-link3-a" target="ext" href="./content/maps/paris.html" title="atlas">
    <span class="icon">location_on</span></a>
   
    <a id="col3-link4-a" target="_blank" href="https://doutrina.whereby.com/whereby-2023-8maxc22cd350-c33a-4f52-bd16-862eaddd5514"
    title="vídeo chamada"><span class="icon">video_call</span></a>
   
    </div>
   
    <!-- COL3 BODY -->
    <div id="col3-body">
   
    <iframe id="ext-iframe" loading="lazy" name="ext" title="painel complementar"
    src="./ext.html"></iframe>
   
    </div>
   
    <div
    style="font-family: sans; font-size: 12px; transform: rotate(270deg); position: absolute; top: 165px; right: -26px; vertical-align: middle;vertical-align: middle;">
    🟨&nbsp;&nbsp;anotações</div>
   
    <!-- SCRIPTS -->
    <script async src="./framework/js/ext-links.js"></script>
    <script async src="./framework/js/dark-mode.js"></script>
    <script async src="./framework/js/fullscreen.js"></script>
    <script async src="./framework/js/menu.js"></script>
    <script async src="./framework/js/tools.js"></script>
   
    <script class="js-hypothesis-config">
    window.hypothesisConfig = function () {
    return {
    branding: {
    appBackgroundColor: '#222',
    ctaBackgroundColor: '#BD1C2B',
    ctaTextColor: 'white',
    selectionFontFamily: 'helvetica, arial, sans serif',
    annotationFontFamily: 'monospace'
    }
    };
    };
    </script>
   
   <script type="application/json" class="js-hypothesis-config">
     {
     "showHighlights": true,
     "openSidebar": false
     }
     </script>
     <script async src="https://hypothes.is/embed.js"></script>
   
    <!-- STAND WIHT US -->
    <a href="https://standwithus.com/brazil" target="_blank"><img id="israel" src="./framework/israel.svg"
    alt="Apoie Israel!" title="Apoie Israel!"></a>
   
   </body>
   
   </html>