<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- CSS  -->
    <link rel="stylesheet" href="./framework/css/blockquote.css">
    <link rel="stylesheet" href="./framework/css/content.css">
    <link rel="stylesheet" href="./framework/css/headings.css">

    <style>
        body {
            margin: 28px 0;
            font-family: 'Roboto Slab', serif;
            padding: 0 55px;
        }

        ul,
        li {
            font-family: 'Roboto Slab', serif;
            font-weight: 300;
        }

        @media only screen and (max-width:731px) {
            body {
                padding: 0 15px !important;
            }
        }
    </style>
</head>

<body>
    <div id="col4-body">
        {{ content }}
    </div>
</body>

</html>