<!-- 🔔 VERSION 4.1 -->

<!doctype html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width initial-scale=1">

<!-- 🚨 FAVICON -->
<link rel="icon" type="image/png" href="./pwa/favicon.png" sizes="512x512" />

<!-- 🚨 PWA -->
<link rel="manifest" href="./pwa/site.webmanifest" />
<meta name="theme-color" content="#1d3030" />
 <title>doutrina.org | plataforma de estudos integrados</title>
 
<!-- 🚨 METADATA -->
<meta name="keywords" content="Espiritismo, Allan Kardec">
<meta name="description" content="Plataforma de estudos integrados.">
<meta name="author" content="Sergio SHKLR">

<!-- 🚨 CSS -->
<link rel="stylesheet" href="./styles/first.css">

<!-- 🚨 FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">

 </head>

 <body>



<!-- 🚨 MAIN -->

<div class="box">

 {{ content }}

 </div>

</body>
</html>