<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>doutrina.org</title>
  <meta name="description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações e a consulta de referências externas, sem a necessidade de sair da janela original.">
  <meta name="author" content="sergioSHKLR, info@doutrina.org">

  <!-- PRIMARY META TAGS -->
  <title>doutrina.org</title>
  <meta name="title" content="doutrina.org" />
  <meta name="description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original." />

  <!-- OPEN GRAPH / FACEBOOK -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://doutrina.org/" />
  <meta property="og:title" content="doutrina.org" />
  <meta property="og:description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original." />
  <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

  <!-- TWITTER / X -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="http://doutrina.org/" />
  <meta property="twitter:title" content="doutrina.org" />
  <meta property="twitter:description"
    content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original." />
  <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- RUSSO ONE -->
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  <!-- INTER -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- ROBOTO SLAB -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- ZEYADA -->
  <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">

  <!-- GOOGLE ICONS -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0">

  <!-- CSS -->
  <link rel="stylesheet" href="../framework/css/v9.css">

  <!-- PWA -->
  <meta name="theme-color" content="#4ec1f5">
  <link rel="icon" href="./framework/pwa/favicon.svg" type="image/svg+xml">

  <!-- HYPOTHES.IS -->
  <script type="application/json" class="js-hypothesis-config">
 {
 "openSidebar": false,
 "showHighlights": true
 }
</script>
  <script async src="https://hypothes.is/embed.js"></script>

  <!-- STYLES -->
  <style></style>

</head>

<!-- BODY -->

<body>
{{ content }}
</body>
</html>