<!DOCTYPE html>
<html lang="pt-BR">
<!-- VERSION 24.1.10 -->

<!-- HEAD -->
{% include 0-head.html %}

</head>

<!-- BODY -->
<body>

<!-- COL1 HEAD & BODY-->
{% include 1-col1-head-body.html %}

<!-- COL1 TOC -->
<p id="toc-title" class="sidebar-heading"><span class="emoji">📄</span> Nesta página</p>
<div id="toc">
<p style="text-indent: 0px;"><b>{{ page.title }}</b></p>
 {% include toc.html html=content h_min=1 h_max=3 item_class="toc" %}
</div>
<br><br>
 
<!-- COL1 LINKS -->
{% include 2-col1-links.html %}
 
<!-- COL1 PROJECT -->
{% include 3-col1-project.html %}

<!-- COL1 VERT TOOLS -->
{% include 4-col1-tools.html %}
    
<!-- COL2 HEAD -->
{% include 5-col2-head.html %}
 
<!-- COL2 BODY -->
<div id="col2-body">
 {{ content }}
</div>
 
<!-- COL3 HEAD -->
{% include 6-col3-head.html %}
 
<!-- COL3 BODY -->
{% include 7-col3-body.html %}
 
<!-- ALERTS -->
{% include 8-hypo-alert.html %}
 
<!-- SCRIPTS -->
<script src="../assets/js/combined.js"></script>

</body>
</html>