<!-- 🔔 VERSION 5 -->

<!doctype html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width initial-scale=1">

<!-- 🚨 HYPO 
<script src="https://hypothes.is/embed.js" defer async></script> -->

<!-- 🚨 FAVICON -->
<link rel="icon" type="image/png" href="./pwa/blue-book.png" sizes="512x512" />

<!-- 🚨 PWA -->
<link rel="manifest" href="./pwa/site.webmanifest" />
<meta name="theme-color" content="#333" />
 <title>{{ page.title }} | 💧 doutrina.org</title>
 
<!-- 🚨 METADATA -->
<meta name="keywords" content="Espiritismo, Allan Kardec">
<meta name="description" content="Plataforma de estudos integrados.">
<meta name="author" content="Sergio SHKLR">

<!-- 🚨 CSS -->
<link rel="stylesheet" href="../styles/brand.css">
<link rel="stylesheet" href="../styles/dropdown.css">
<link rel="stylesheet" href="../styles/ext.css">
<link rel="stylesheet" href="../styles/main.css">
<link rel="stylesheet" href="../styles/responsive.css">
<link rel="stylesheet" href="../styles/dark.css">

<link rel="stylesheet" href="../styles/blur.css">
<link rel="stylesheet" href="../styles/borders.css">
<link rel="stylesheet" href="../styles/brightness.css">
<link rel="stylesheet" href="../styles/colors.css">
<link rel="stylesheet" href="../styles/greyscale.css">
<link rel="stylesheet" href="../styles/hover.css">
<link rel="stylesheet" href="../styles/background-colors.css">


 
<!-- 🚨 FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

 </head>
 <body>
<header>

<body>
    <div id="wrapper">
        <div id="navbar">
            <div id="brand">

                <a href="./" title="plataforma de estudos integrados">💧 doutrina.org</a>

            </div>
            <div id="dropbar">
                <div class="dropdown1">
                    <a type="button" onclick="dropOne()" class="dropbtn1" title="obras básicas da Doutrina">📚&nbsp;&nbsp;<span
                            class="label">Livros&nbsp;&nbsp;</span>&nbsp;&nbsp;<span class="arrow">›</span></a>
                    <div id="myDropdown1" class="dropdown-content1">
                        <a href="./1lde">📘 Espíritos</a>
                        <a href="./2ldm">📙 Médiuns</a>
                        <a href="./3ese">📗 Evangelho</a>
                        <a href="./4ceu">📕 Céu & Inferno</a>
                        <a href="./5gen">📓 Gênese</a>
                    </div>
                </div>
                <div class="dropdown2">
                    <a type="button" onclick="dropTwo()" class="dropbtn2" title="lista de partes, capítulos, seções, itens, e etc.">🔖&nbsp;&nbsp;<span
                            class="label">Sumário&nbsp;&nbsp;</span>&nbsp;&nbsp;<span class="arrow">›</span></a>
                    <div id="myDropdown2" class="dropdown-content2">
                     <a href="#lde-0">🗂️ 0. Pré-textual</a>
    <a href="#lde-0-01">📃 Folha de rosto</a>
    <a href="#lde-0-02">📑 Introdução</a>
    <a href="#lde-0-02-01">📃 Introdução 01</a>
    <a href="#lde-0-02-02">📃 Introdução 02</a>
    <a href="#lde-0-02-03">📃 Introdução 03</a>
    <a href="#lde-0-02-04">📃 Introdução 04</a>
    <a href="#lde-0-02-05">📃 Introdução 05</a>
    <a href="#lde-0-02-06">📃 Introdução 06</a>
    <a href="#lde-0-02-07">📃 Introdução 07</a>
    <a href="#lde-0-02-08">📃 Introdução 08</a>
    <a href="#lde-0-02-09">📃 Introdução 09</a>
    <a href="#lde-0-02-10">📃 Introdução 10</a>
    <a href="#lde-0-02-11">📃 Introdução 11</a>
    <a href="#lde-0-02-12">📃 Introdução 12</a>
    <a href="#lde-0-02-13">📃 Introdução 13</a>
    <a href="#lde-0-02-14">📃 Introdução 14</a>
    <a href="#lde-0-02-15">📃 Introdução 15</a>
    <a href="#lde-0-02-16">📃 Introdução 16</a>
    <a href="#lde-0-02-17">📃 Introdução 17</a>
    <a href="#lde-0-03">📃 Prolegômenos</a>
    <a href="#lde-1">🗂️ 1. Das causas primárias</a>
    <a href="#lde-1-01">📑 1. De Deus</a>
    <a href="#lde-1-01-01">📃 Deus e o infinito</a>
    <a href="#lde-q1">#️⃣ 1</a>
    <a href="#lde-q2">#️⃣ 2</a>
    <a href="#lde-q3">#️⃣ 3</a>
    <a href="#lde-1-01-02">📃 Provas da existência de Deus</a>
    <a href="#lde-q4">#️⃣ 4</a>
    <a href="#lde-q5">#️⃣ 5</a>
    <a href="#lde-q6">#️⃣ 6</a>
    <a href="#lde-q7">#️⃣ 7</a>
    <a href="#lde-q8">#️⃣ 8</a>
    <a href="#lde-q9">#️⃣ 9</a>
    <a href="#lde-1-01-03">📃 Atributos da Divindade</a>
    <a href="#lde-q10">#️⃣ 10</a>
    <a href="#lde-q11">#️⃣ 11</a>
    <a href="#lde-q12">#️⃣ 12</a>
    <a href="#lde-q13">#️⃣ 13</a>
    <a href="#lde-1-01-04">📃 Panteísmo</a>
    <a href="#lde-q14">#️⃣ 14</a>
    <a href="#lde-q15">#️⃣ 15</a>
    <a href="#lde-q16">#️⃣ 16</a>
    <a href="#lde-1-02">📑 2. Dos elementos gerais do Universo</a>
    <a href="#lde-1-02-01">📃 Conhecimento do princípio das coisas</a>
    <a href="#lde-q17">#️⃣ 17</a>
    <a href="#lde-q18">#️⃣ 18</a>
    <a href="#lde-q19">#️⃣ 19</a>
    <a href="#lde-q20">#️⃣ 20</a>
    <a href="#lde-1-02-02">📃 Espírito e matéria</a>
    <a href="#lde-q21">#️⃣ 21</a>
    <a href="#lde-q22">#️⃣ 22</a>
    <a href="#lde-q23">#️⃣ 23</a>
    <a href="#lde-q24">#️⃣ 24</a>
    <a href="#lde-q25">#️⃣ 25</a>
    <a href="#lde-q26">#️⃣ 26</a>
    <a href="#lde-q27">#️⃣ 27</a>
    <a href="#lde-q28">#️⃣ 28</a>
    <a href="#lde-1-02-03">📃 Propriedades da matéria</a>
    <a href="#lde-q29">#️⃣ 29</a>
    <a href="#lde-q30">#️⃣ 30</a>
    <a href="#lde-q31">#️⃣ 31</a>
    <a href="#lde-q32">#️⃣ 32</a>
    <a href="#lde-q33">#️⃣ 33</a>
    <a href="#lde-q34">#️⃣ 34</a>
    <a href="#lde-1-02-04">📃 Espaço universal</a>
    <a href="#lde-q35">#️⃣ 35</a>
    <a href="#lde-q36">#️⃣ 36</a>
    <a href="#lde-1-03">📑 3. Da Criação</a>
    <a href="#lde-1-03-01">📃 Formação dos mundos</a>
    <a href="#lde-q37">#️⃣ 37</a>
    <a href="#lde-q38">#️⃣ 38</a>
    <a href="#lde-q39">#️⃣ 39</a>
    <a href="#lde-q40">#️⃣ 40</a>
    <a href="#lde-q41">#️⃣ 41</a>
    <a href="#lde-q42">#️⃣ 42</a>
    <a href="#lde-1-03-02">📃 Formação dos seres vivos</a>
    <a href="#lde-q43">#️⃣ 43</a>
    <a href="#lde-q44">#️⃣ 44</a>
    <a href="#lde-q45">#️⃣ 45</a>
    <a href="#lde-q46">#️⃣ 46</a>
    <a href="#lde-q47">#️⃣ 47</a>
    <a href="#lde-q48">#️⃣ 48</a>
    <a href="#lde-q49">#️⃣ 49</a>
    <a href="#lde-1-03-03">📃 Povoamento da Terra. Adão</a>
    <a href="#lde-q50">#️⃣ 50</a>
    <a href="#lde-q51">#️⃣ 51</a>
    <a href="#lde-1-03-04">📃 Diversidade das raças humanas</a>
    <a href="#lde-q52">#️⃣ 52</a>
    <a href="#lde-q53">#️⃣ 53</a>
    <a href="#lde-q54">#️⃣ 54</a>
    <a href="#lde-1-03-05">📃 Pluralidade dos mundos</a>
    <a href="#lde-q55">#️⃣ 55</a>
    <a href="#lde-q56">#️⃣ 56</a>
    <a href="#lde-q57">#️⃣ 57</a>
    <a href="#lde-q58">#️⃣ 58</a>
    <a href="#lde-1-03-06">📃 Considerações e concordâncias bíblicas concernentes à Criação</a>
    <a href="#lde-q59">#️⃣ 59</a>
    <a href="#lde-1-04">📑 4. Do princípio vital</a>
    <a href="#lde-1-04-01">📃 Seres orgânicos e inorgânicos</a>
    <a href="#lde-q60">#️⃣ 60</a>
    <a href="#lde-q61">#️⃣ 61</a>
    <a href="#lde-q62">#️⃣ 62</a>
    <a href="#lde-q63">#️⃣ 63</a>
    <a href="#lde-q64">#️⃣ 64</a>
    <a href="#lde-q65">#️⃣ 65</a>
    <a href="#lde-q66">#️⃣ 66</a>
    <a href="#lde-q67">#️⃣ 67</a>
    <a href="#lde-1-04-02">📃 A vida e a morte</a>
    <a href="#lde-q68">#️⃣ 68</a>
    <a href="#lde-q69">#️⃣ 69</a>
    <a href="#lde-q70">#️⃣ 70</a>
    <a href="#lde-1-04-03">📃 Inteligência e instinto</a>
    <a href="#lde-q71">#️⃣ 71</a>
    <a href="#lde-q72">#️⃣ 72</a>
    <a href="#lde-q73">#️⃣ 73</a>
    <a href="#lde-q74">#️⃣ 74</a>
    <a href="#lde-q75">#️⃣ 75</a>
    <a href="#lde-2">🗂️ 2. Do mundo espírita</a>
    <a href="#lde-2-01">📑 01. Dos Espíritos</a>
    <a href="#lde-2-01-01">📃 Origem e natureza dos Espíritos</a>
    <a href="#lde-q76">#️⃣ 76</a>
    <a href="#lde-q77">#️⃣ 77</a>
    <a href="#lde-q78">#️⃣ 78</a>
    <a href="#lde-q79">#️⃣ 79</a>
    <a href="#lde-q80">#️⃣ 80</a>
    <a href="#lde-q81">#️⃣ 81</a>
    <a href="#lde-q82">#️⃣ 82</a>
    <a href="#lde-q83">#️⃣ 83</a>
    <a href="#lde-2-01-02">📃 Mundo normal primitivo</a>
    <a href="#lde-q84">#️⃣ 84</a>
    <a href="#lde-q85">#️⃣ 85</a>
    <a href="#lde-q86">#️⃣ 86</a>
    <a href="#lde-q87">#️⃣ 87</a>
    <a href="#lde-2-01-03">📃 Forma e ubiquidade dos Espíritos</a>
    <a href="#lde-q88">#️⃣ 88</a>
    <a href="#lde-q89">#️⃣ 89</a>
    <a href="#lde-q90">#️⃣ 90</a>
    <a href="#lde-q91">#️⃣ 91</a>
    <a href="#lde-q92">#️⃣ 92</a>
    <a href="#lde-2-01-04">📃 Perispírito</a>
    <a href="#lde-q93">#️⃣ 93</a>
    <a href="#lde-q94">#️⃣ 94</a>
    <a href="#lde-q95">#️⃣ 95</a>
    <a href="#lde-2-01-05">📃 Diferentes ordens de Espíritos</a>
    <a href="#lde-q96">#️⃣ 96</a>
    <a href="#lde-q97">#️⃣ 97</a>
    <a href="#lde-q98">#️⃣ 98</a>
    <a href="#lde-q99">#️⃣ 99</a>
    <a href="#lde-2-01-06">📃 Escala espírita</a>
    <a href="#lde-q100">#️⃣ 100</a>
    <a href="#lde-2-01-07">📃 3ª ordem – Espíritos imperfeitos</a>
    <a href="#lde-q101">#️⃣ 101</a>
    <a href="#lde-q102">#️⃣ 102</a>
    <a href="#lde-q103">#️⃣ 103</a>
    <a href="#lde-q104">#️⃣ 104</a>
    <a href="#lde-q105">#️⃣ 105</a>
    <a href="#lde-q106">#️⃣ 106</a>
    <a href="#lde-2-01-08">📃 2ª ordem – Bons Espíritos</a>
    <a href="#lde-q107">#️⃣ 107</a>
    <a href="#lde-q108">#️⃣ 108</a>
    <a href="#lde-q109">#️⃣ 109</a>
    <a href="#lde-q110">#️⃣ 110</a>
    <a href="#lde-q111">#️⃣ 111</a>
    <a href="#lde-2-01-09">📃 1ª ordem – Espíritos puros</a>
    <a href="#lde-q112">#️⃣ 112</a>
    <a href="#lde-q113">#️⃣ 113</a>
    <a href="#lde-2-01-10">📃 Progressão dos Espíritos</a>
    <a href="#lde-q114">#️⃣ 114</a>
    <a href="#lde-q115">#️⃣ 115</a>
    <a href="#lde-q116">#️⃣ 116</a>
    <a href="#lde-q117">#️⃣ 117</a>
    <a href="#lde-q118">#️⃣ 118</a>
    <a href="#lde-q119">#️⃣ 119</a>
    <a href="#lde-q120">#️⃣ 120</a>
    <a href="#lde-q121">#️⃣ 121</a>
    <a href="#lde-q122">#️⃣ 122</a>
    <a href="#lde-q123">#️⃣ 123</a>
    <a href="#lde-q124">#️⃣ 124</a>
    <a href="#lde-q125">#️⃣ 125</a>
    <a href="#lde-q126">#️⃣ 126</a>
    <a href="#lde-q127">#️⃣ 127</a>
    <a href="#lde-2-01-11">📃 Anjos e demônios</a>
    <a href="#lde-q128">#️⃣ 128</a>
    <a href="#lde-q129">#️⃣ 129</a>
    <a href="#lde-q130">#️⃣ 130</a>
    <a href="#lde-q131">#️⃣ 131</a>
    <a href="#lde-2-02">📑 02. Da encarnação dos espíritos</a>
    <a href="#lde-2-02-01">📃 Objetivo da encarnação</a>
    <a href="#lde-q132">#️⃣ 132</a>
    <a href="#lde-q133">#️⃣ 133</a>
    <a href="#lde-2-02-02">📃 A alma</a>
    <a href="#lde-q134">#️⃣ 134</a>
    <a href="#lde-q135">#️⃣ 135</a>
    <a href="#lde-q136">#️⃣ 136</a>
    <a href="#lde-q137">#️⃣ 137</a>
    <a href="#lde-q138">#️⃣ 138</a>
    <a href="#lde-q139">#️⃣ 139</a>
    <a href="#lde-q140">#️⃣ 140</a>
    <a href="#lde-q141">#️⃣ 141</a>
    <a href="#lde-q142">#️⃣ 142</a>
    <a href="#lde-q143">#️⃣ 143</a>
    <a href="#lde-q144">#️⃣ 144</a>
    <a href="#lde-q145">#️⃣ 145</a>
    <a href="#lde-q146">#️⃣ 146</a>
    <a href="#lde-2-02-03">📃 Materialismo</a>
    <a href="#lde-q147">#️⃣ 147</a>
    <a href="#lde-q148">#️⃣ 148</a>
    <a href="#lde-2-03">📑 03. Da volta do Espírito à vida espiritual</a>
    <a href="#lde-2-03-01">📃 A alma após a morte. Vida eterna.</a>
    <a href="#lde-q149">#️⃣ 149</a>
    <a href="#lde-q150">#️⃣ 150</a>
    <a href="#lde-q151">#️⃣ 151</a>
    <a href="#lde-q152">#️⃣ 152</a>
    <a href="#lde-q153">#️⃣ 153</a>
    <a href="#lde-2-03-02">📃 Separação da alma e do corpo</a>
    <a href="#lde-q154">#️⃣ 154</a>
    <a href="#lde-q155">#️⃣ 155</a>
    <a href="#lde-q156">#️⃣ 156</a>
    <a href="#lde-q157">#️⃣ 157</a>
    <a href="#lde-q158">#️⃣ 158</a>
    <a href="#lde-q159">#️⃣ 159</a>
    <a href="#lde-q160">#️⃣ 160</a>
    <a href="#lde-q161">#️⃣ 161</a>
    <a href="#lde-q162">#️⃣ 162</a>
    <a href="#lde-q163">#️⃣ 163</a>
    <a href="#lde-q164">#️⃣ 164</a>
    <a href="#lde-q165">#️⃣ 165</a>
    <a href="#lde-2-04">📑 04. Da pluralidade das existências</a>
    <a href="#lde-2-04-01">📃 A reencarnação</a>
    <a href="#lde-q166">#️⃣ 166</a>
    <a href="#lde-q167">#️⃣ 167</a>
    <a href="#lde-q168">#️⃣ 168</a>
    <a href="#lde-q169">#️⃣ 169</a>
    <a href="#lde-q170">#️⃣ 170</a>
    <a href="#lde-2-04-02">📃 Justiça da reencarnação</a>
    <a href="#lde-q171">#️⃣ 171</a>
    <a href="#lde-2-04-03">📃 Encarnação nos diferentes mundos</a>
    <a href="#lde-q172">#️⃣ 172</a>
    <a href="#lde-q173">#️⃣ 173</a>
    <a href="#lde-q174">#️⃣ 174</a>
    <a href="#lde-q175">#️⃣ 175</a>
    <a href="#lde-q176">#️⃣ 176</a>
    <a href="#lde-q177">#️⃣ 177</a>
    <a href="#lde-q178">#️⃣ 178</a>
    <a href="#lde-q179">#️⃣ 179</a>
    <a href="#lde-q180">#️⃣ 180</a>
    <a href="#lde-q181">#️⃣ 181</a>
    <a href="#lde-q182">#️⃣ 182</a>
    <a href="#lde-q183">#️⃣ 183</a>
    <a href="#lde-q184">#️⃣ 184</a>
    <a href="#lde-q185">#️⃣ 185</a>
    <a href="#lde-q186">#️⃣ 186</a>
    <a href="#lde-q187">#️⃣ 187</a>
    <a href="#lde-q188">#️⃣ 188</a>
    <a href="#lde-2-04-04">📃 Transmigrações progressivas</a>
    <a href="#lde-q189">#️⃣ 189</a>
    <a href="#lde-q190">#️⃣ 190</a>
    <a href="#lde-q191">#️⃣ 191</a>
    <a href="#lde-q192">#️⃣ 192</a>
    <a href="#lde-q193">#️⃣ 193</a>
    <a href="#lde-q194">#️⃣ 194</a>
    <a href="#lde-q195">#️⃣ 195</a>
    <a href="#lde-q196">#️⃣ 196</a>
    <a href="#lde-2-04-05">📃 Sorte das crianças depois da morte</a>
    <a href="#lde-q197">#️⃣ 197</a>
    <a href="#lde-q198">#️⃣ 198</a>
    <a href="#lde-q199">#️⃣ 199</a>
    <a href="#lde-2-04-06">📃 Sexos nos Espíritos</a>
    <a href="#lde-q200">#️⃣ 200</a>
    <a href="#lde-q201">#️⃣ 201</a>
    <a href="#lde-q202">#️⃣ 202</a>
    <a href="#lde-2-04-07">📃 Parentesco, filiação</a>
    <a href="#lde-q203">#️⃣ 203</a>
    <a href="#lde-q204">#️⃣ 204</a>
    <a href="#lde-q205">#️⃣ 205</a>
    <a href="#lde-q206">#️⃣ 206</a>
    <a href="#lde-2-04-08">📃 Parecenças físicas e morais</a>
    <a href="#lde-q207">#️⃣ 207</a>
    <a href="#lde-q208">#️⃣ 208</a>
    <a href="#lde-q209">#️⃣ 209</a>
    <a href="#lde-q210">#️⃣ 210</a>
    <a href="#lde-q211">#️⃣ 211</a>
    <a href="#lde-q212">#️⃣ 212</a>
    <a href="#lde-q213">#️⃣ 213</a>
    <a href="#lde-q214">#️⃣ 214</a>
    <a href="#lde-q215">#️⃣ 215</a>
    <a href="#lde-q216">#️⃣ 216</a>
    <a href="#lde-q217">#️⃣ 217</a>
    <a href="#lde-2-04-09">📃 Ideias inatas</a>
    <a href="#lde-q218">#️⃣ 218</a>
    <a href="#lde-q219">#️⃣ 219</a>
    <a href="#lde-q220">#️⃣ 220</a>
    <a href="#lde-q221">#️⃣ 221</a>
    <a href="#lde-2-05">📑 05. Considerações sobre a pluralidade das existências</a>
    <a href="#lde-q222">#️⃣ 222</a>
    <a href="#lde-2-06">📑 06. Da vida espírita</a>
    <a href="#lde-2-06-01">📃 Espíritos errantes</a>
    <a href="#lde-q223">#️⃣ 223</a>
    <a href="#lde-q224">#️⃣ 224</a>
    <a href="#lde-q225">#️⃣ 225</a>
    <a href="#lde-q226">#️⃣ 226</a>
    <a href="#lde-q227">#️⃣ 227</a>
    <a href="#lde-q228">#️⃣ 228</a>
    <a href="#lde-q229">#️⃣ 229</a>
    <a href="#lde-q230">#️⃣ 230</a>
    <a href="#lde-q231">#️⃣ 231</a>
    <a href="#lde-q232">#️⃣ 232</a>
    <a href="#lde-q233">#️⃣ 233</a>
    <a href="#lde-2-06-02">📃 Mundos transitórios</a>
    <a href="#lde-q234">#️⃣ 234</a>
    <a href="#lde-q235">#️⃣ 235</a>
    <a href="#lde-q236">#️⃣ 236</a>
    <a href="#lde-2-06-03">📃 Percepções, sensações e sofrimentos dos Espíritos</a>
    <a href="#lde-q237">#️⃣ 237</a>
    <a href="#lde-q238">#️⃣ 238</a>
    <a href="#lde-q239">#️⃣ 239</a>
    <a href="#lde-q240">#️⃣ 240</a>
    <a href="#lde-q241">#️⃣ 241</a>
    <a href="#lde-q242">#️⃣ 242</a>
    <a href="#lde-q243">#️⃣ 243</a>
    <a href="#lde-q244">#️⃣ 244</a>
    <a href="#lde-q245">#️⃣ 245</a>
    <a href="#lde-q246">#️⃣ 246</a>
    <a href="#lde-q247">#️⃣ 247</a>
    <a href="#lde-q248">#️⃣ 248</a>
    <a href="#lde-q249">#️⃣ 249</a>
    <a href="#lde-q250">#️⃣ 250</a>
    <a href="#lde-q251">#️⃣ 251</a>
    <a href="#lde-q252">#️⃣ 252</a>
    <a href="#lde-q253">#️⃣ 253</a>
    <a href="#lde-q254">#️⃣ 254</a>
    <a href="#lde-q255">#️⃣ 255</a>
    <a href="#lde-q256">#️⃣ 256</a>
    <a href="#lde-2-06-04">📃 Ensaio teórico da sensação nos Espíritos</a>
    <a href="#lde-q257">#️⃣ 257</a>
    <a href="#lde-2-06-05">📃 Escolha das provas</a>
    <a href="#lde-q258">#️⃣ 258</a>
    <a href="#lde-q259">#️⃣ 259</a>
    <a href="#lde-q260">#️⃣ 260</a>
    <a href="#lde-q261">#️⃣ 261</a>
    <a href="#lde-q262">#️⃣ 262</a>
    <a href="#lde-q263">#️⃣ 263</a>
    <a href="#lde-q264">#️⃣ 264</a>
    <a href="#lde-q265">#️⃣ 265</a>
    <a href="#lde-q266">#️⃣ 266</a>
    <a href="#lde-q267">#️⃣ 267</a>
    <a href="#lde-q268">#️⃣ 268</a>
    <a href="#lde-q269">#️⃣ 269</a>
    <a href="#lde-q270">#️⃣ 270</a>
    <a href="#lde-q271">#️⃣ 271</a>
    <a href="#lde-q272">#️⃣ 272</a>
    <a href="#lde-q273">#️⃣ 273</a>
    <a href="#lde-2-06-06">📃 As relações no além-túmulo</a>
    <a href="#lde-q274">#️⃣ 274</a>
    <a href="#lde-q275">#️⃣ 275</a>
    <a href="#lde-q276">#️⃣ 276</a>
    <a href="#lde-q277">#️⃣ 277</a>
    <a href="#lde-q278">#️⃣ 278</a>
    <a href="#lde-q279">#️⃣ 279</a>
    <a href="#lde-q280">#️⃣ 280</a>
    <a href="#lde-q281">#️⃣ 281</a>
    <a href="#lde-q282">#️⃣ 282</a>
    <a href="#lde-q283">#️⃣ 283</a>
    <a href="#lde-q284">#️⃣ 284</a>
    <a href="#lde-q285">#️⃣ 285</a>
    <a href="#lde-q286">#️⃣ 286</a>
    <a href="#lde-q287">#️⃣ 287</a>
    <a href="#lde-q288">#️⃣ 288</a>
    <a href="#lde-q289">#️⃣ 289</a>
    <a href="#lde-q290">#️⃣ 290</a>
    <a href="#lde-2-06-07">📃 Relações de simpatia e de antipatia entre os Espíritos. Metades eternas</a>
    <a href="#lde-q291">#️⃣ 291</a>
    <a href="#lde-q292">#️⃣ 292</a>
    <a href="#lde-q293">#️⃣ 293</a>
    <a href="#lde-q294">#️⃣ 294</a>
    <a href="#lde-q295">#️⃣ 295</a>
    <a href="#lde-q296">#️⃣ 296</a>
    <a href="#lde-q297">#️⃣ 297</a>
    <a href="#lde-q298">#️⃣ 298</a>
    <a href="#lde-q299">#️⃣ 299</a>
    <a href="#lde-q300">#️⃣ 300</a>
    <a href="#lde-q301">#️⃣ 301</a>
    <a href="#lde-q302">#️⃣ 302</a>
    <a href="#lde-q303">#️⃣ 303</a>
    <a href="#lde-2-06-08">📃 Recordação da existência corpórea</a>
    <a href="#lde-q304">#️⃣ 304</a>
    <a href="#lde-q305">#️⃣ 305</a>
    <a href="#lde-q306">#️⃣ 306</a>
    <a href="#lde-q307">#️⃣ 307</a>
    <a href="#lde-q308">#️⃣ 308</a>
    <a href="#lde-q309">#️⃣ 309</a>
    <a href="#lde-q310">#️⃣ 310</a>
    <a href="#lde-q311">#️⃣ 311</a>
    <a href="#lde-q312">#️⃣ 312</a>
    <a href="#lde-q313">#️⃣ 313</a>
    <a href="#lde-q314">#️⃣ 314</a>
    <a href="#lde-q315">#️⃣ 315</a>
    <a href="#lde-q316">#️⃣ 316</a>
    <a href="#lde-q317">#️⃣ 317</a>
    <a href="#lde-q318">#️⃣ 318</a>
    <a href="#lde-q319">#️⃣ 319</a>
    <a href="#lde-2-06-09">📃 Comemoração dos mortos. Funerais</a>
    <a href="#lde-q320">#️⃣ 320</a>
    <a href="#lde-q321">#️⃣ 321</a>
    <a href="#lde-q322">#️⃣ 322</a>
    <a href="#lde-q323">#️⃣ 323</a>
    <a href="#lde-q324">#️⃣ 324</a>
    <a href="#lde-q325">#️⃣ 325</a>
    <a href="#lde-q326">#️⃣ 326</a>
    <a href="#lde-q327">#️⃣ 327</a>
    <a href="#lde-q328">#️⃣ 328</a>
    <a href="#lde-q329">#️⃣ 329</a>
    <a href="#lde-2-07">📑 07. Da volta do Espírito à vida corporal</a>
    <a href="#lde-2-07-01">📃 Prelúdio da volta</a>
    <a href="#lde-q330">#️⃣ 330</a>
    <a href="#lde-q331">#️⃣ 331</a>
    <a href="#lde-q332">#️⃣ 332</a>
    <a href="#lde-q333">#️⃣ 333</a>
    <a href="#lde-q334">#️⃣ 334</a>
    <a href="#lde-q335">#️⃣ 335</a>
    <a href="#lde-q336">#️⃣ 336</a>
    <a href="#lde-q337">#️⃣ 337</a>
    <a href="#lde-q338">#️⃣ 338</a>
    <a href="#lde-q339">#️⃣ 339</a>
    <a href="#lde-q340">#️⃣ 340</a>
    <a href="#lde-q341">#️⃣ 341</a>
    <a href="#lde-q342">#️⃣ 342</a>
    <a href="#lde-q343">#️⃣ 343</a>
    <a href="#lde-2-07-02">📃 União do espírito e do corpo</a>
    <a href="#lde-q344">#️⃣ 344</a>
    <a href="#lde-q345">#️⃣ 345</a>
    <a href="#lde-q346">#️⃣ 346</a>
    <a href="#lde-q347">#️⃣ 347</a>
    <a href="#lde-q348">#️⃣ 348</a>
    <a href="#lde-q349">#️⃣ 349</a>
    <a href="#lde-q350">#️⃣ 350</a>
    <a href="#lde-q351">#️⃣ 351</a>
    <a href="#lde-q352">#️⃣ 352</a>
    <a href="#lde-q353">#️⃣ 353</a>
    <a href="#lde-q354">#️⃣ 354</a>
    <a href="#lde-q355">#️⃣ 355</a>
    <a href="#lde-q356">#️⃣ 356</a>
    <a href="#lde-q357">#️⃣ 357</a>
    <a href="#lde-q358">#️⃣ 358</a>
    <a href="#lde-q359">#️⃣ 359</a>
    <a href="#lde-q360">#️⃣ 360</a>
    <a href="#lde-2-07-03">📃 Faculdades morais e intelectuais do homem</a>
    <a href="#lde-q361">#️⃣ 361</a>
    <a href="#lde-q362">#️⃣ 362</a>
    <a href="#lde-q363">#️⃣ 363. Têm os Espíritos paixões de que não partilhe a Humanidade?</a>
    <a href="#lde-q364">#️⃣ 364</a>
    <a href="#lde-q365">#️⃣ 365</a>
    <a href="#lde-q366">#️⃣ 366</a>
    <a href="#lde-2-07-04">📃 Influência do corpo</a>
    <a href="#lde-q367">#️⃣ 367</a>
    <a href="#lde-q368">#️⃣ 368</a>
    <a href="#lde-q369">#️⃣ 369</a>
    <a href="#lde-q370">#️⃣ 370</a>
    <a href="#lde-2-07-05">📃 Idiotismo, loucura</a>
    <a href="#lde-q371">#️⃣ 371</a>
    <a href="#lde-q372">#️⃣ 372</a>
    <a href="#lde-q373">#️⃣ 373</a>
    <a href="#lde-q374">#️⃣ 374</a>
    <a href="#lde-q375">#️⃣ 375</a>
    <a href="#lde-q376">#️⃣ 376</a>
    <a href="#lde-q377">#️⃣ 377</a>
    <a href="#lde-q378">#️⃣ 378</a>
    <a href="#lde-2-07-06">📃 A infância</a>
    <a href="#lde-q379">#️⃣ 379</a>
    <a href="#lde-q380">#️⃣ 380</a>
    <a href="#lde-q381">#️⃣ 381</a>
    <a href="#lde-q382">#️⃣ 382</a>
    <a href="#lde-q383">#️⃣ 383</a>
    <a href="#lde-q384">#️⃣ 384</a>
    <a href="#lde-q385">#️⃣ 385</a>
    <a href="#lde-2-07-07">📃 Simpatia e antipatia materiais</a>
    <a href="#lde-q386">#️⃣ 386</a>
    <a href="#lde-q387">#️⃣ 387</a>
    <a href="#lde-q388">#️⃣ 388</a>
    <a href="#lde-q389">#️⃣ 389</a>
    <a href="#lde-q390">#️⃣ 390</a>
    <a href="#lde-q391">#️⃣ 391</a>
    <a href="#lde-2-07-08">📃 Esquecimento do passado</a>
    <a href="#lde-q392">#️⃣ 392</a>
    <a href="#lde-q393">#️⃣ 393</a>
    <a href="#lde-q394">#️⃣ 394</a>
    <a href="#lde-q395">#️⃣ 395</a>
    <a href="#lde-q396">#️⃣ 396</a>
    <a href="#lde-q397">#️⃣ 397</a>
    <a href="#lde-q398">#️⃣ 398</a>
    <a href="#lde-q399">#️⃣ 399</a>
    <a href="#lde-2-08">📑 08. Da emancipação da alma</a>
    <a href="#lde-2-08-01">📃 O sono e os sonhos</a>
    <a href="#lde-q400">#️⃣ 400</a>
    <a href="#lde-q401">#️⃣ 401</a>
    <a href="#lde-q402">#️⃣ 402</a>
    <a href="#lde-q403">#️⃣ 403</a>
    <a href="#lde-q404">#️⃣ 404</a>
    <a href="#lde-q405">#️⃣ 405</a>
    <a href="#lde-q406">#️⃣ 406</a>
    <a href="#lde-q407">#️⃣ 407</a>
    <a href="#lde-q408">#️⃣ 408</a>
    <a href="#lde-q409">#️⃣ 409</a>
    <a href="#lde-q410">#️⃣ 410</a>
    <a href="#lde-q411">#️⃣ 411</a>
    <a href="#lde-q412">#️⃣ 412</a>
    <a href="#lde-2-08-02">📃 Visitas espíritas entre pessoas vivas</a>
    <a href="#lde-q413">#️⃣ 413</a>
    <a href="#lde-q414">#️⃣ 414</a>
    <a href="#lde-q415">#️⃣ 415</a>
    <a href="#lde-q416">#️⃣ 416</a>
    <a href="#lde-q417">#️⃣ 417</a>
    <a href="#lde-q418">#️⃣ 418</a>
    <a href="#lde-2-08-03">📃 Transmissão oculta do pensamento</a>
    <a href="#lde-q419">#️⃣ 419</a>
    <a href="#lde-q420">#️⃣ 420</a>
    <a href="#lde-q421">#️⃣ 421</a>
    <a href="#lde-2-08-04">📃 Letargia, catalepsia, mortes aparentes</a>
    <a href="#lde-q422">#️⃣ 422</a>
    <a href="#lde-q423">#️⃣ 423</a>
    <a href="#lde-q424">#️⃣ 424</a>
    <a href="#lde-2-08-05">📃 Sonambulismo</a>
    <a href="#lde-q425">#️⃣ 425</a>
    <a href="#lde-q426">#️⃣ 426</a>
    <a href="#lde-q427">#️⃣ 427</a>
    <a href="#lde-q428">#️⃣ 428</a>
    <a href="#lde-q429">#️⃣ 429</a>
    <a href="#lde-q430">#️⃣ 430</a>
    <a href="#lde-q431">#️⃣ 431</a>
    <a href="#lde-q432">#️⃣ 432</a>
    <a href="#lde-q433">#️⃣ 433</a>
    <a href="#lde-q434">#️⃣ 434</a>
    <a href="#lde-q435">#️⃣ 435</a>
    <a href="#lde-q436">#️⃣ 436</a>
    <a href="#lde-q437">#️⃣ 437</a>
    <a href="#lde-q438">#️⃣ 438</a>
    <a href="#lde-2-08-06">📃 Êxtase</a>
    <a href="#lde-q439">#️⃣ 439</a>
    <a href="#lde-q440">#️⃣ 440</a>
    <a href="#lde-q441">#️⃣ 441</a>
    <a href="#lde-q442">#️⃣ 442</a>
    <a href="#lde-q443">#️⃣ 443</a>
    <a href="#lde-q444">#️⃣ 444</a>
    <a href="#lde-q445">#️⃣ 445</a>
    <a href="#lde-q446">#️⃣ 446</a>
    <a href="#lde-2-08-07">📃 Dupla vista</a>
    <a href="#lde-q447">#️⃣ 447</a>
    <a href="#lde-q448">#️⃣ 448</a>
    <a href="#lde-q449">#️⃣ 449</a>
    <a href="#lde-q450">#️⃣ 450</a>
    <a href="#lde-q451">#️⃣ 451</a>
    <a href="#lde-q452">#️⃣ 452</a>
    <a href="#lde-q453">#️⃣ 453</a>
    <a href="#lde-q454">#️⃣ 454</a>
    <a href="#lde-2-08-08">📃 Resumo teórico do sonambulismo, do êxtase e da dupla vista</a>
    <a href="#lde-q455">#️⃣ 455</a>
    <a href="#lde-2-09">📑 09. Da intervenção dos Espíritos no mundo corporal</a>
    <a href="#lde-2-09-01">📃 Faculdade que têm os Espíritos de penetrar os nossos pensamentos</a>
    <a href="#lde-q456">#️⃣ 456</a>
    <a href="#lde-q457">#️⃣ 457</a>
    <a href="#lde-q458">#️⃣ 458</a>
    <a href="#lde-2-09-02">📃 Influência oculta dos Espíritos em nossos pensamentos e atos</a>
    <a href="#lde-q459">#️⃣ 459</a>
    <a href="#lde-q460">#️⃣ 460</a>
    <a href="#lde-q461">#️⃣ 461</a>
    <a href="#lde-q462">#️⃣ 462</a>
    <a href="#lde-q463">#️⃣ 463</a>
    <a href="#lde-q464">#️⃣ 464</a>
    <a href="#lde-q465">#️⃣ 465</a>
    <a href="#lde-q466">#️⃣ 466</a>
    <a href="#lde-q467">#️⃣ 467</a>
    <a href="#lde-q468">#️⃣ 468</a>
    <a href="#lde-q469">#️⃣ 469</a>
    <a href="#lde-q470">#️⃣ 470</a>
    <a href="#lde-q471">#️⃣ 471</a>
    <a href="#lde-q472">#️⃣ 472</a>
    <a href="#lde-2-09-03">📃 Possessos</a>
    <a href="#lde-q473">#️⃣ 473</a>
    <a href="#lde-q474">#️⃣ 474</a>
    <a href="#lde-q475">#️⃣ 475</a>
    <a href="#lde-q476">#️⃣ 476</a>
    <a href="#lde-q477">#️⃣ 477</a>
    <a href="#lde-q478">#️⃣ 478</a>
    <a href="#lde-q479">#️⃣ 479</a>
    <a href="#lde-q480">#️⃣ 480</a>
    <a href="#lde-2-09-04">📃 Convulsionários</a>
    <a href="#lde-q481">#️⃣ 481</a>
    <a href="#lde-q482">#️⃣ 482</a>
    <a href="#lde-q483">#️⃣ 483</a>
    <a href="#lde-2-09-05">📃 Afeição que os Espíritos votam a certas pessoas</a>
    <a href="#lde-q484">#️⃣ 484</a>
    <a href="#lde-q485">#️⃣ 485</a>
    <a href="#lde-q486">#️⃣ 486</a>
    <a href="#lde-q487">#️⃣ 487</a>
    <a href="#lde-q488">#️⃣ 488</a>
    <a href="#lde-2-09-06">📃 Anjos da guarda. Espíritos protetores, familiares ou simpáticos</a>
    <a href="#lde-q489">#️⃣ 489</a>
    <a href="#lde-q490">#️⃣ 490</a>
    <a href="#lde-q491">#️⃣ 491</a>
    <a href="#lde-q492">#️⃣ 492</a>
    <a href="#lde-q493">#️⃣ 493</a>
    <a href="#lde-q494">#️⃣ 494</a>
    <a href="#lde-q495">#️⃣ 495</a>
    <a href="#lde-q496">#️⃣ 496</a>
    <a href="#lde-q497">#️⃣ 497</a>
    <a href="#lde-q498">#️⃣ 498</a>
    <a href="#lde-q499">#️⃣ 499</a>
    <a href="#lde-q500">#️⃣ 500</a>
    <a href="#lde-q501">#️⃣ 501</a>
    <a href="#lde-q502">#️⃣ 502</a>
    <a href="#lde-q503">#️⃣ 503</a>
    <a href="#lde-q504">#️⃣ 504</a>
    <a href="#lde-q505">#️⃣ 505</a>
    <a href="#lde-q506">#️⃣ 506</a>
    <a href="#lde-q507">#️⃣ 507</a>
    <a href="#lde-q508">#️⃣ 508</a>
    <a href="#lde-q509">#️⃣ 509</a>
    <a href="#lde-q510">#️⃣ 510</a>
    <a href="#lde-q511">#️⃣ 511</a>
    <a href="#lde-q512">#️⃣ 512</a>
    <a href="#lde-q513">#️⃣ 513</a>
    <a href="#lde-q514">#️⃣ 514</a>
    <a href="#lde-q515">#️⃣ 515</a>
    <a href="#lde-q516">#️⃣ 516</a>
    <a href="#lde-q517">#️⃣ 517</a>
    <a href="#lde-q518">#️⃣ 518</a>
    <a href="#lde-q519">#️⃣ 519</a>
    <a href="#lde-q520">#️⃣ 520</a>
    <a href="#lde-q521">#️⃣ 521</a>
    <a href="#lde-2-09-07">📃 Pressentimentos</a>
    <a href="#lde-q522">#️⃣ 522</a>
    <a href="#lde-q523">#️⃣ 523</a>
    <a href="#lde-q524">#️⃣ 524</a>
    <a href="#lde-2-09-08">📃 Influência dos Espíritos nos acontecimentos da vida</a>
    <a href="#lde-q525">#️⃣ 525</a>
    <a href="#lde-q526">#️⃣ 526</a>
    <a href="#lde-q527">#️⃣ 527</a>
    <a href="#lde-q528">#️⃣ 528</a>
    <a href="#lde-q529">#️⃣ 529</a>
    <a href="#lde-q530">#️⃣ 530</a>
    <a href="#lde-q531">#️⃣ 531</a>
    <a href="#lde-q532">#️⃣ 532</a>
    <a href="#lde-q533">#️⃣ 533</a>
    <a href="#lde-q534">#️⃣ 534</a>
    <a href="#lde-q535">#️⃣ 535</a>
    <a href="#lde-2-09-09">📃 Ação dos Espíritos nos fenômenos da Natureza</a>
    <a href="#lde-q536">#️⃣ 536</a>
    <a href="#lde-q537">#️⃣ 537</a>
    <a href="#lde-q538">#️⃣ 538</a>
    <a href="#lde-q539">#️⃣ 539</a>
    <a href="#lde-q540">#️⃣ 540</a>
    <a href="#lde-2-09-10">📃 Os Espíritos durante os combates</a>
    <a href="#lde-q541">#️⃣ 541</a>
    <a href="#lde-q542">#️⃣ 542</a>
    <a href="#lde-q543">#️⃣ 543</a>
    <a href="#lde-q544">#️⃣ 544</a>
    <a href="#lde-q545">#️⃣ 545</a>
    <a href="#lde-q546">#️⃣ 546</a>
    <a href="#lde-q547">#️⃣ 547</a>
    <a href="#lde-q548">#️⃣ 548</a>
    <a href="#lde-2-09-11">📃 Pactos</a>
    <a href="#lde-q549">#️⃣ 549</a>
    <a href="#lde-q550">#️⃣ 550</a>
    <a href="#lde-2-09-12">📃 Poder oculto. Talismãs. Feiticeiros</a>
    <a href="#lde-q551">#️⃣ 551</a>
    <a href="#lde-q552">#️⃣ 552</a>
    <a href="#lde-q553">#️⃣ 553</a>
    <a href="#lde-q554">#️⃣ 554</a>
    <a href="#lde-q555">#️⃣ 555</a>
    <a href="#lde-q556">#️⃣ 556</a>
    <a href="#lde-2-09-13">📃 Bênçãos e maldições</a>
    <a href="#lde-q557">#️⃣ 557</a>
    <a href="#lde-2-10">📑 10. Das ocupações e missões dos Espíritos</a>
    <a href="#lde-q558">#️⃣ 558</a>
    <a href="#lde-q559">#️⃣ 559</a>
    <a href="#lde-q560">#️⃣ 560</a>
    <a href="#lde-q561">#️⃣ 561</a>
    <a href="#lde-q562">#️⃣ 562</a>
    <a href="#lde-q563">#️⃣ 563</a>
    <a href="#lde-q564">#️⃣ 564</a>
    <a href="#lde-q565">#️⃣ 565</a>
    <a href="#lde-q566">#️⃣ 566</a>
    <a href="#lde-q567">#️⃣ 567</a>
    <a href="#lde-q568">#️⃣ 568</a>
    <a href="#lde-q569">#️⃣ 569</a>
    <a href="#lde-q570">#️⃣ 570</a>
    <a href="#lde-q571">#️⃣ 571</a>
    <a href="#lde-q572">#️⃣ 572</a>
    <a href="#lde-q573">#️⃣ 573</a>
    <a href="#lde-q574">#️⃣ 574</a>
    <a href="#lde-q575">#️⃣ 575</a>
    <a href="#lde-q576">#️⃣ 576</a>
    <a href="#lde-q577">#️⃣ 577</a>
    <a href="#lde-q578">#️⃣ 578</a>
    <a href="#lde-q579">#️⃣ 579</a>
    <a href="#lde-q580">#️⃣ 580</a>
    <a href="#lde-q581">#️⃣ 581</a>
    <a href="#lde-q582">#️⃣ 582</a>
    <a href="#lde-q583">#️⃣ 583</a>
    <a href="#lde-q584">#️⃣ 584</a>
    <a href="#lde-2-11">📑 11. Dos três reinos</a>
    <a href="#lde-2-11-01">📃 Os minerais e as plantas</a>
    <a href="#lde-q585">#️⃣ 585</a>
    <a href="#lde-q586">#️⃣ 586</a>
    <a href="#lde-q587">#️⃣ 587</a>
    <a href="#lde-q588">#️⃣ 588</a>
    <a href="#lde-q589">#️⃣ 589</a>
    <a href="#lde-q590">#️⃣ 590</a>
    <a href="#lde-q591">#️⃣ 591</a>
    <a href="#lde-2-11-02">📃 Os animais e o homem</a>
    <a href="#lde-q592">#️⃣ 592</a>
    <a href="#lde-q593">#️⃣ 593</a>
    <a href="#lde-q594">#️⃣ 594</a>
    <a href="#lde-q595">#️⃣ 595</a>
    <a href="#lde-q596">#️⃣ 596</a>
    <a href="#lde-q597">#️⃣ 597</a>
    <a href="#lde-q598">#️⃣ 598</a>
    <a href="#lde-q599">#️⃣ 599</a>
    <a href="#lde-q600">#️⃣ 600</a>
    <a href="#lde-q601">#️⃣ 601</a>
    <a href="#lde-q602">#️⃣ 602</a>
    <a href="#lde-q603">#️⃣ 603</a>
    <a href="#lde-q604">#️⃣ 604</a>
    <a href="#lde-q605">#️⃣ 605</a>
    <a href="#lde-q606">#️⃣ 606</a>
    <a href="#lde-q607">#️⃣ 607</a>
    <a href="#lde-q608">#️⃣ 608</a>
    <a href="#lde-q609">#️⃣ 609</a>
    <a href="#lde-q610">#️⃣ 610</a>
    <a href="#lde-2-11-03">📃 Metempsicose</a>
    <a href="#lde-q611">#️⃣ 611</a>
    <a href="#lde-q612">#️⃣ 612</a>
    <a href="#lde-q613">#️⃣ 613</a>
    <a href="#lde-3">🗂️ 3. Das Leis morais</a>
    <a href="#lde-3-01">📑 01. Da lei divina ou natural</a>
    <a href="#lde-3-01-01">📃 Caracteres da lei natural</a>
    <a href="#lde-q614">#️⃣ 614</a>
    <a href="#lde-q615">#️⃣ 615</a>
    <a href="#lde-q616">#️⃣ 616</a>
    <a href="#lde-q617">#️⃣ 617</a>
    <a href="#lde-q618">#️⃣ 618</a>
    <a href="#lde-3-01-02">📃 Conhecimento da lei natural</a>
    <a href="#lde-q619">#️⃣ 619</a>
    <a href="#lde-q620">#️⃣ 620</a>
    <a href="#lde-q621">#️⃣ 621</a>
    <a href="#lde-q622">#️⃣ 622</a>
    <a href="#lde-q623">#️⃣ 623</a>
    <a href="#lde-q624">#️⃣ 624</a>
    <a href="#lde-q625">#️⃣ 625</a>
    <a href="#lde-q626">#️⃣ 626</a>
    <a href="#lde-q627">#️⃣ 627</a>
    <a href="#lde-q628">#️⃣ 628</a>
    <a href="#lde-3-01-03">📃 O bem e o mal</a>
    <a href="#lde-q629">#️⃣ 629</a>
    <a href="#lde-q630">#️⃣ 630</a>
    <a href="#lde-q631">#️⃣ 631</a>
    <a href="#lde-q632">#️⃣ 632</a>
    <a href="#lde-q633">#️⃣ 633</a>
    <a href="#lde-q634">#️⃣ 634</a>
    <a href="#lde-q635">#️⃣ 635</a>
    <a href="#lde-q636">#️⃣ 636</a>
    <a href="#lde-q637">#️⃣ 637</a>
    <a href="#lde-q638">#️⃣ 638</a>
    <a href="#lde-q639">#️⃣ 639</a>
    <a href="#lde-q640">#️⃣ 640</a>
    <a href="#lde-q641">#️⃣ 641</a>
    <a href="#lde-q642">#️⃣ 642</a>
    <a href="#lde-q643">#️⃣ 643</a>
    <a href="#lde-q644">#️⃣ 644</a>
    <a href="#lde-q645">#️⃣ 645</a>
    <a href="#lde-q646">#️⃣ 646</a>
    <a href="#lde-3-01-04">📃 Divisão da lei natural</a>
    <a href="#lde-q647">#️⃣ 647</a>
    <a href="#lde-q648">#️⃣ 648</a>
    <a href="#lde-3-02">📑 02. Da lei de adoração</a>
    <a href="#lde-3-02-01">📃 Objetivo da adoração</a>
    <a href="#lde-q649">#️⃣ 649</a>
    <a href="#lde-q650">#️⃣ 650</a>
    <a href="#lde-q651">#️⃣ 651</a>
    <a href="#lde-q652">#️⃣ 652</a>
    <a href="#lde-3-02-02">📃 Adoração exterior</a>
    <a href="#lde-q653">#️⃣ 653</a>
    <a href="#lde-q654">#️⃣ 654</a>
    <a href="#lde-q655">#️⃣ 655</a>
    <a href="#lde-q656">#️⃣ 656</a>
    <a href="#lde-3-02-03">📃 Vida contemplativa</a>
    <a href="#lde-q657">#️⃣ 657</a>
    <a href="#lde-3-02-04">📃 A prece</a>
    <a href="#lde-q658">#️⃣ 658</a>
    <a href="#lde-q659">#️⃣ 659</a>
    <a href="#lde-q660">#️⃣ 660</a>
    <a href="#lde-q661">#️⃣ 661</a>
    <a href="#lde-q662">#️⃣ 662</a>
    <a href="#lde-q663">#️⃣ 663</a>
    <a href="#lde-q664">#️⃣ 664</a>
    <a href="#lde-q665">#️⃣ 665</a>
    <a href="#lde-q666">#️⃣ 666</a>
    <a href="#lde-3-02-05">📃 Politeísmo</a>
    <a href="#lde-q667">#️⃣ 667</a>
    <a href="#lde-q668">#️⃣ 668</a>
    <a href="#lde-3-02-06">📃 Sacrifícios</a>
    <a href="#lde-q669">#️⃣ 669</a>
    <a href="#lde-q670">#️⃣ 670</a>
    <a href="#lde-q671">#️⃣ 671</a>
    <a href="#lde-q672">#️⃣ 672</a>
    <a href="#lde-q673">#️⃣ 673</a>
    <a href="#lde-3-03">📑 03. Da lei do trabalho</a>
    <a href="#lde-3-03-01">📃 Necessidade do trabalho</a>
    <a href="#lde-q674">#️⃣ 674</a>
    <a href="#lde-q675">#️⃣ 675</a>
    <a href="#lde-q676">#️⃣ 676</a>
    <a href="#lde-q677">#️⃣ 677</a>
    <a href="#lde-q678">#️⃣ 678</a>
    <a href="#lde-q679">#️⃣ 679</a>
    <a href="#lde-q680">#️⃣ 680</a>
    <a href="#lde-q681">#️⃣ 681</a>
    <a href="#lde-3-03-02">📃 Limite do trabalho. Repouso</a>
    <a href="#lde-q682">#️⃣ 682</a>
    <a href="#lde-q683">#️⃣ 683</a>
    <a href="#lde-q684">#️⃣ 684</a>
    <a href="#lde-q685">#️⃣ 685</a>
    <a href="#lde-3-04">📑 04. Da lei de reprodução</a>
    <a href="#lde-3-04-01">📃 População do globo</a>
    <a href="#lde-q686">#️⃣ 686</a>
    <a href="#lde-q687">#️⃣ 687</a>
    <a href="#lde-3-04-02">📃 Sucessão e aperfeiçoamento das raças</a>
    <a href="#lde-q688">#️⃣ 688</a>
    <a href="#lde-q689">#️⃣ 689</a>
    <a href="#lde-q690">#️⃣ 690</a>
    <a href="#lde-q691">#️⃣ 691</a>
    <a href="#lde-q692">#️⃣ 692</a>
    <a href="#lde-3-04-03">📃 Obstáculos à reprodução</a>
    <a href="#lde-q693">#️⃣ 693</a>
    <a href="#lde-q694">#️⃣ 694</a>
    <a href="#lde-3-04-04">📃 Casamento e celibato</a>
    <a href="#lde-q695">#️⃣ 695</a>
    <a href="#lde-q696">#️⃣ 696</a>
    <a href="#lde-q697">#️⃣ 697</a>
    <a href="#lde-q698">#️⃣ 698</a>
    <a href="#lde-q699">#️⃣ 699</a>
    <a href="#lde-3-04-05">📃 Poligamia</a>
    <a href="#lde-q700">#️⃣ 700</a>
    <a href="#lde-q701">#️⃣ 701</a>
    <a href="#lde-3-05">📑 05. Da lei de conservação</a>
    <a href="#lde-3-05-01">📃 Instinto de conservação</a>
    <a href="#lde-q702">#️⃣ 702</a>
    <a href="#lde-q703">#️⃣ 703</a>
    <a href="#lde-3-05-02">📃 Meios de conservação</a>
    <a href="#lde-q704">#️⃣ 704</a>
    <a href="#lde-q705">#️⃣ 705</a>
    <a href="#lde-q706">#️⃣ 706</a>
    <a href="#lde-q707">#️⃣ 707</a>
    <a href="#lde-q708">#️⃣ 708</a>
    <a href="#lde-q709">#️⃣ 709</a>
    <a href="#lde-q710">#️⃣ 710</a>
    <a href="#lde-3-05-03">📃 Gozo dos bens terrenos</a>
    <a href="#lde-q711">#️⃣ 711</a>
    <a href="#lde-q712">#️⃣ 712</a>
    <a href="#lde-q713">#️⃣ 713</a>
    <a href="#lde-q714">#️⃣ 714</a>
    <a href="#lde-3-05-04">📃 Necessário e supérfluo</a>
    <a href="#lde-q715">#️⃣ 715</a>
    <a href="#lde-q716">#️⃣ 716</a>
    <a href="#lde-q717">#️⃣ 717</a>
    <a href="#lde-3-05-05">📃 Privações voluntárias. Mortificações</a>
    <a href="#lde-q718">#️⃣ 718</a>
    <a href="#lde-q719">#️⃣ 719</a>
    <a href="#lde-q720">#️⃣ 720</a>
    <a href="#lde-q721">#️⃣ 721</a>
    <a href="#lde-q722">#️⃣ 722</a>
    <a href="#lde-q723">#️⃣ 723</a>
    <a href="#lde-q724">#️⃣ 724</a>
    <a href="#lde-q725">#️⃣ 725</a>
    <a href="#lde-q726">#️⃣ 726</a>
    <a href="#lde-q727">#️⃣ 727</a>
    <a href="#lde-3-06">📑 06. Da lei de destruição</a>
    <a href="#lde-3-06-01">📃 Destruição necessária e destruição abusiva</a>
    <a href="#lde-q728">#️⃣ 728</a>
    <a href="#lde-q729">#️⃣ 729</a>
    <a href="#lde-q730">#️⃣ 730</a>
    <a href="#lde-q731">#️⃣ 731</a>
    <a href="#lde-q732">#️⃣ 732</a>
    <a href="#lde-q733">#️⃣ 733</a>
    <a href="#lde-q734">#️⃣ 734</a>
    <a href="#lde-q735">#️⃣ 735</a>
    <a href="#lde-q736">#️⃣ 736</a>
    <a href="#lde-3-06-02">📃 Flagelos destruidores</a>
    <a href="#lde-q737">#️⃣ 737</a>
    <a href="#lde-q738">#️⃣ 738</a>
    <a href="#lde-q739">#️⃣ 739</a>
    <a href="#lde-q740">#️⃣ 740</a>
    <a href="#lde-q741">#️⃣ 741</a>
    <a href="#lde-3-06-03">📃 Guerras</a>
    <a href="#lde-q742">#️⃣ 742</a>
    <a href="#lde-q743">#️⃣ 743</a>
    <a href="#lde-q744">#️⃣ 744</a>
    <a href="#lde-q745">#️⃣ 745</a>
    <a href="#lde-3-06-04">📃 Assassínio</a>
    <a href="#lde-q746">#️⃣ 746</a>
    <a href="#lde-q747">#️⃣ 747</a>
    <a href="#lde-q748">#️⃣ 748</a>
    <a href="#lde-q749">#️⃣ 749</a>
    <a href="#lde-q750">#️⃣ 750</a>
    <a href="#lde-q751">#️⃣ 751</a>
    <a href="#lde-3-06-05">📃 Crueldade</a>
    <a href="#lde-q752">#️⃣ 752</a>
    <a href="#lde-q753">#️⃣ 753</a>
    <a href="#lde-q754">#️⃣ 754</a>
    <a href="#lde-q755">#️⃣ 755</a>
    <a href="#lde-q756">#️⃣ 756</a>
    <a href="#lde-3-06-06">📃 Duelo</a>
    <a href="#lde-q757">#️⃣ 757</a>
    <a href="#lde-q758">#️⃣ 758</a>
    <a href="#lde-q759">#️⃣ 759</a>
    <a href="#lde-3-06-07">📃 Pena de morte</a>
    <a href="#lde-q760">#️⃣ 760</a>
    <a href="#lde-q761">#️⃣ 761</a>
    <a href="#lde-q762">#️⃣ 762</a>
    <a href="#lde-q763">#️⃣ 763</a>
    <a href="#lde-q764">#️⃣ 764</a>
    <a href="#lde-q765">#️⃣ 765</a>
    <a href="#lde-3-07">📑 07. Da lei de sociedade</a>
    <a href="#lde-3-07-01">📃 Necessidade da vida social</a>
    <a href="#lde-q766">#️⃣ 766</a>
    <a href="#lde-q767">#️⃣ 767</a>
    <a href="#lde-q768">#️⃣ 768</a>
    <a href="#lde-3-07-02">📃 Vida de insulamento. Voto de silêncio</a>
    <a href="#lde-q769">#️⃣ 769</a>
    <a href="#lde-q770">#️⃣ 770</a>
    <a href="#lde-q771">#️⃣ 771</a>
    <a href="#lde-q772">#️⃣ 772</a>
    <a href="#lde-3-07-03">📃 Laços de família</a>
    <a href="#lde-q773">#️⃣ 773</a>
    <a href="#lde-q774">#️⃣ 774</a>
    <a href="#lde-q775">#️⃣ 775</a>
    <a href="#lde-3-08">📑 08. Da lei do progresso</a>
    <a href="#lde-3-08-01">📃 Estado de natureza</a>
    <a href="#lde-q776">#️⃣ 776</a>
    <a href="#lde-q777">#️⃣ 777</a>
    <a href="#lde-q778">#️⃣ 778</a>
    <a href="#lde-3-08-02">📃 Marcha do progresso</a>
    <a href="#lde-q779">#️⃣ 779</a>
    <a href="#lde-q780">#️⃣ 780</a>
    <a href="#lde-q781">#️⃣ 781</a>
    <a href="#lde-q782">#️⃣ 782</a>
    <a href="#lde-q783">#️⃣ 783</a>
    <a href="#lde-q784">#️⃣ 784</a>
    <a href="#lde-q785">#️⃣ 785</a>
    <a href="#lde-3-08-03">📃 Povos degenerados</a>
    <a href="#lde-q786">#️⃣ 786</a>
    <a href="#lde-q787">#️⃣ 787</a>
    <a href="#lde-q788">#️⃣ 788</a>
    <a href="#lde-q789">#️⃣ 789</a>
    <a href="#lde-3-08-04">📃 Civilização</a>
    <a href="#lde-q790">#️⃣ 790</a>
    <a href="#lde-q791">#️⃣ 791</a>
    <a href="#lde-q792">#️⃣ 792</a>
    <a href="#lde-q793">#️⃣ 793</a>
    <a href="#lde-3-08-05">📃 Progresso da legislação humana</a>
    <a href="#lde-q794">#️⃣ 794</a>
    <a href="#lde-q795">#️⃣ 795</a>
    <a href="#lde-q796">#️⃣ 796</a>
    <a href="#lde-q797">#️⃣ 797</a>
    <a href="#lde-3-08-06">📃 Influência do Espiritismo no progresso</a>
    <a href="#lde-q798">#️⃣ 798</a>
    <a href="#lde-q799">#️⃣ 799</a>
    <a href="#lde-q800">#️⃣ 800</a>
    <a href="#lde-q801">#️⃣ 801</a>
    <a href="#lde-q802">#️⃣ 802</a>
    <a href="#lde-3-09">📑 09. Da lei de igualdade</a>
    <a href="#lde-3-09-01">📃 Igualdade natural</a>
    <a href="#lde-q803">#️⃣ 803</a>
    <a href="#lde-3-09-02">📃 Desigualdade das aptidões</a>
    <a href="#lde-q804">#️⃣ 804</a>
    <a href="#lde-q805">#️⃣ 805</a>
    <a href="#lde-3-09-03">📃 Desigualdades sociais</a>
    <a href="#lde-q806">#️⃣ 806</a>
    <a href="#lde-q807">#️⃣ 807</a>
    <a href="#lde-3-09-04">📃 Desigualdade das riquezas</a>
    <a href="#lde-q808">#️⃣ 808</a>
    <a href="#lde-q809">#️⃣ 809</a>
    <a href="#lde-q810">#️⃣ 810</a>
    <a href="#lde-q811">#️⃣ 811</a>
    <a href="#lde-q812">#️⃣ 812</a>
    <a href="#lde-q813">#️⃣ 813</a>
    <a href="#lde-3-09-05">📃 As provas de riqueza e de miséria</a>
    <a href="#lde-q814">#️⃣ 814</a>
    <a href="#lde-q815">#️⃣ 815</a>
    <a href="#lde-q816">#️⃣ 816</a>
    <a href="#lde-3-09-06">📃 Igualdade dos direitos do homem e da mulher</a>
    <a href="#lde-q817">#️⃣ 817</a>
    <a href="#lde-q818">#️⃣ 818</a>
    <a href="#lde-q819">#️⃣ 819</a>
    <a href="#lde-q820">#️⃣ 820</a>
    <a href="#lde-q821">#️⃣ 821</a>
    <a href="#lde-q822">#️⃣ 822</a>
    <a href="#lde-3-09-07">📃 Igualdade perante o túmulo</a>
    <a href="#lde-q823">#️⃣ 823</a>
    <a href="#lde-q824">#️⃣ 824</a>
    <a href="#lde-3-10">📑 10. Da lei de liberdade</a>
    <a href="#lde-3-10-01">📃 Liberdade natural</a>
    <a href="#lde-q825">#️⃣ 825</a>
    <a href="#lde-q826">#️⃣ 826</a>
    <a href="#lde-q827">#️⃣ 827</a>
    <a href="#lde-q828">#️⃣ 828</a>
    <a href="#lde-3-10-02">📃 Escravidão</a>
    <a href="#lde-q829">#️⃣ 829</a>
    <a href="#lde-q830">#️⃣ 830</a>
    <a href="#lde-q831">#️⃣ 831</a>
    <a href="#lde-q832">#️⃣ 832</a>
    <a href="#lde-3-10-03">📃 Liberdade de pensar</a>
    <a href="#lde-q833">#️⃣ 833</a>
    <a href="#lde-q834">#️⃣ 834</a>
    <a href="#lde-3-10-04">📃 Liberdade de consciência</a>
    <a href="#lde-q835">#️⃣ 835</a>
    <a href="#lde-q836">#️⃣ 836</a>
    <a href="#lde-q837">#️⃣ 837</a>
    <a href="#lde-q838">#️⃣ 838</a>
    <a href="#lde-q839">#️⃣ 839</a>
    <a href="#lde-q840">#️⃣ 840</a>
    <a href="#lde-q841">#️⃣ 841</a>
    <a href="#lde-q842">#️⃣ 842</a>
    <a href="#lde-3-10-05">📃 Livre-arbítrio</a>
    <a href="#lde-q843">#️⃣ 843</a>
    <a href="#lde-q844">#️⃣ 844</a>
    <a href="#lde-q845">#️⃣ 845</a>
    <a href="#lde-q846">#️⃣ 846</a>
    <a href="#lde-q847">#️⃣ 847</a>
    <a href="#lde-q848">#️⃣ 848</a>
    <a href="#lde-q849">#️⃣ 849</a>
    <a href="#lde-q850">#️⃣ 850</a>
    <a href="#lde-3-10-06">📃 Fatalidade</a>
    <a href="#lde-q851">#️⃣ 851</a>
    <a href="#lde-q852">#️⃣ 852</a>
    <a href="#lde-q853">#️⃣ 853</a>
    <a href="#lde-q854">#️⃣ 854</a>
    <a href="#lde-q855">#️⃣ 855</a>
    <a href="#lde-q856">#️⃣ 856</a>
    <a href="#lde-q857">#️⃣ 857</a>
    <a href="#lde-q858">#️⃣ 858</a>
    <a href="#lde-q859">#️⃣ 859</a>
    <a href="#lde-q860">#️⃣ 860</a>
    <a href="#lde-q861">#️⃣ 861</a>
    <a href="#lde-q862">#️⃣ 862</a>
    <a href="#lde-q863">#️⃣ 863</a>
    <a href="#lde-q864">#️⃣ 864</a>
    <a href="#lde-q865">#️⃣ 865</a>
    <a href="#lde-q866">#️⃣ 866</a>
    <a href="#lde-q867">#️⃣ 867</a>
    <a href="#lde-3-10-07">📃 Conhecimento do futuro</a>
    <a href="#lde-q868">#️⃣ 868</a>
    <a href="#lde-q869">#️⃣ 869</a>
    <a href="#lde-q870">#️⃣ 870</a>
    <a href="#lde-q871">#️⃣ 871</a>
    <a href="#lde-3-10-08">📃 Resumo teórico do móvel das ações humanas</a>
    <a href="#lde-q872">#️⃣ 872</a>
    <a href="#lde-3-11">📑 11. Da lei de justiça, de amor, e de caridade</a>
    <a href="#lde-3-11-01">📃 Justiça e direitos naturais</a>
    <a href="#lde-q873">#️⃣ 873</a>
    <a href="#lde-q874">#️⃣ 874</a>
    <a href="#lde-q875">#️⃣ 875</a>
    <a href="#lde-q876">#️⃣ 876</a>
    <a href="#lde-q877">#️⃣ 877</a>
    <a href="#lde-q878">#️⃣ 878</a>
    <a href="#lde-q879">#️⃣ 879</a>
    <a href="#lde-3-11-02">📃 Direito de propriedade. Roubo</a>
    <a href="#lde-q880">#️⃣ 880</a>
    <a href="#lde-q881">#️⃣ 881</a>
    <a href="#lde-q882">#️⃣ 882</a>
    <a href="#lde-q883">#️⃣ 883</a>
    <a href="#lde-q884">#️⃣ 884</a>
    <a href="#lde-q885">#️⃣ 885</a>
    <a href="#lde-3-11-03">📃 Caridade e amor do próximo</a>
    <a href="#lde-q886">#️⃣ 886</a>
    <a href="#lde-q887">#️⃣ 887</a>
    <a href="#lde-q888">#️⃣ 888</a>
    <a href="#lde-q889">#️⃣ 889</a>
    <a href="#lde-3-11-04">📃 Amor materno e filial</a>
    <a href="#lde-q890">#️⃣ 890</a>
    <a href="#lde-q891">#️⃣ 891</a>
    <a href="#lde-q892">#️⃣ 892</a>
    <a href="#lde-3-12">📑 12. Da perfeição moral</a>
    <a href="#lde-3-12-01">📃 As virtudes e os vícios</a>
    <a href="#lde-q893">#️⃣ 893</a>
    <a href="#lde-q894">#️⃣ 894</a>
    <a href="#lde-q895">#️⃣ 895</a>
    <a href="#lde-q896">#️⃣ 896</a>
    <a href="#lde-q897">#️⃣ 897</a>
    <a href="#lde-q898">#️⃣ 898</a>
    <a href="#lde-q899">#️⃣ 899</a>
    <a href="#lde-q900">#️⃣ 900</a>
    <a href="#lde-q901">#️⃣ 901</a>
    <a href="#lde-q902">#️⃣ 902</a>
    <a href="#lde-q903">#️⃣ 903</a>
    <a href="#lde-q904">#️⃣ 904</a>
    <a href="#lde-q905">#️⃣ 905</a>
    <a href="#lde-q906">#️⃣ 906</a>
    <a href="#lde-3-12-02">📃 Paixões</a>
    <a href="#lde-q907">#️⃣ 907</a>
    <a href="#lde-q908">#️⃣ 908</a>
    <a href="#lde-q909">#️⃣ 909</a>
    <a href="#lde-q910">#️⃣ 910</a>
    <a href="#lde-q911">#️⃣ 911</a>
    <a href="#lde-q912">#️⃣ 912</a>
    <a href="#lde-3-12-03">📃 O egoísmo</a>
    <a href="#lde-q913">#️⃣ 913</a>
    <a href="#lde-q914">#️⃣ 914</a>
    <a href="#lde-q915">#️⃣ 915</a>
    <a href="#lde-q916">#️⃣ 916</a>
    <a href="#lde-q917">#️⃣ 917</a>
    <a href="#lde-3-12-04">📃 Caracteres do homem de bem</a>
    <a href="#lde-q918">#️⃣ 918</a>
    <a href="#lde-3-12-05">📃 Conhecimento de si mesmo</a>
    <a href="#lde-q919">#️⃣ 919</a>
    <a href="#lde-4">🗂️ 4. Das esperanças e consolações</a>
    <a href="#lde-4-01">📑 1. Das penas e gozos terrestres</a>
    <a href="#lde-4-01-01">📃 Felicidade e infelicidade relativas</a>
    <a href="#lde-q920">#️⃣ 920</a>
    <a href="#lde-q921">#️⃣ 921</a>
    <a href="#lde-q922">#️⃣ 922</a>
    <a href="#lde-q923">#️⃣ 923</a>
    <a href="#lde-q924">#️⃣ 924</a>
    <a href="#lde-q925">#️⃣ 925</a>
    <a href="#lde-q926">#️⃣ 926</a>
    <a href="#lde-q927">#️⃣ 927</a>
    <a href="#lde-q928">#️⃣ 928</a>
    <a href="#lde-q929">#️⃣ 929</a>
    <a href="#lde-q930">#️⃣ 930</a>
    <a href="#lde-q931">#️⃣ 931</a>
    <a href="#lde-q932">#️⃣ 932</a>
    <a href="#lde-q933">#️⃣ 933</a>
    <a href="#lde-4-01-02">📃 Perda dos entes queridos</a>
    <a href="#lde-q934">#️⃣ 934</a>
    <a href="#lde-q935">#️⃣ 935</a>
    <a href="#lde-q936">#️⃣ 936</a>
    <a href="#lde-4-01-03">📃 Decepções. Ingratidão. Afeições destruídas</a>
    <a href="#lde-q937">#️⃣ 937</a>
    <a href="#lde-q938">#️⃣ 938</a>
    <a href="#lde-4-01-04">📃 Uniões antipáticas</a>
    <a href="#lde-q939">#️⃣ 939</a>
    <a href="#lde-q940">#️⃣ 940</a>
    <a href="#lde-4-01-05">📃 Temor da morte</a>
    <a href="#lde-q941">#️⃣ 941</a>
    <a href="#lde-q942">#️⃣ 942</a>
    <a href="#lde-4-01-06">📃 Desgosto da vida. Suicídio</a>
    <a href="#lde-q943">#️⃣ 943</a>
    <a href="#lde-q944">#️⃣ 944</a>
    <a href="#lde-q945">#️⃣ 945</a>
    <a href="#lde-q946">#️⃣ 946</a>
    <a href="#lde-q947">#️⃣ 947</a>
    <a href="#lde-q948">#️⃣ 948</a>
    <a href="#lde-q949">#️⃣ 949</a>
    <a href="#lde-q950">#️⃣ 950</a>
    <a href="#lde-q951">#️⃣ 951</a>
    <a href="#lde-q952">#️⃣ 952</a>
    <a href="#lde-q953">#️⃣ 953</a>
    <a href="#lde-q954">#️⃣ 954</a>
    <a href="#lde-q955">#️⃣ 955</a>
    <a href="#lde-q956">#️⃣ 956</a>
    <a href="#lde-q957">#️⃣ 957</a>
    <a href="#lde-4-02">📑 2. Das penas e gozos futuros</a>
    <a href="#lde-4-02-01">📃 O nada. Vida futura</a>
    <a href="#lde-q958">#️⃣ 958</a>
    <a href="#lde-q959">#️⃣ 959</a>
    <a href="#lde-4-02-02">📃 Intuição das penas e gozos futuros</a>
    <a href="#lde-q960">#️⃣ 960</a>
    <a href="#lde-q961">#️⃣ 961</a>
    <a href="#lde-q962">#️⃣ 962</a>
    <a href="#lde-4-02-03">📃 Intervenção de Deus nas penas e recompensas</a>
    <a href="#lde-q963">#️⃣ 963</a>
    <a href="#lde-q964">#️⃣ 964</a>
    <a href="#lde-4-02-04">📃 Natureza das penas e gozos futuros</a>
    <a href="#lde-q965">#️⃣ 965</a>
    <a href="#lde-q966">#️⃣ 966</a>
    <a href="#lde-q967">#️⃣ 967</a>
    <a href="#lde-q968">#️⃣ 968</a>
    <a href="#lde-q969">#️⃣ 969</a>
    <a href="#lde-q970">#️⃣ 970</a>
    <a href="#lde-q971">#️⃣ 971</a>
    <a href="#lde-q972">#️⃣ 972</a>
    <a href="#lde-q973">#️⃣ 973</a>
    <a href="#lde-q974">#️⃣ 974</a>
    <a href="#lde-q975">#️⃣ 975</a>
    <a href="#lde-q976">#️⃣ 976</a>
    <a href="#lde-q977">#️⃣ 977</a>
    <a href="#lde-q978">#️⃣ 978</a>
    <a href="#lde-q979">#️⃣ 979</a>
    <a href="#lde-q980">#️⃣ 980</a>
    <a href="#lde-q981">#️⃣ 981</a>
    <a href="#lde-q982">#️⃣ 982</a>
    <a href="#lde-4-02-05">📃 Penas temporais</a>
    <a href="#lde-q983">#️⃣ 983</a>
    <a href="#lde-q984">#️⃣ 984</a>
    <a href="#lde-q985">#️⃣ 985</a>
    <a href="#lde-q986">#️⃣ 986</a>
    <a href="#lde-q987">#️⃣ 987</a>
    <a href="#lde-q988">#️⃣ 988</a>
    <a href="#lde-q989">#️⃣ 989</a>
    <a href="#lde-4-02-06">📃 Expiação e arrependimento</a>
    <a href="#lde-q990">#️⃣ 990</a>
    <a href="#lde-q991">#️⃣ 991</a>
    <a href="#lde-q992">#️⃣ 992</a>
    <a href="#lde-q993">#️⃣ 993</a>
    <a href="#lde-q994">#️⃣ 994</a>
    <a href="#lde-q995">#️⃣ 995</a>
    <a href="#lde-q996">#️⃣ 996</a>
    <a href="#lde-q997">#️⃣ 997</a>
    <a href="#lde-q998">#️⃣ 998</a>
    <a href="#lde-q999">#️⃣ 999</a>
    <a href="#lde-q1000">#️⃣ 1000</a>
    <a href="#lde-q1001">#️⃣ 1001</a>
    <a href="#lde-q1002">#️⃣ 1002</a>
    <a href="#lde-4-02-07">📃 Duração das penas futuras</a>
    <a href="#lde-q1003">#️⃣ 1003</a>
    <a href="#lde-q1004">#️⃣ 1004</a>
    <a href="#lde-q1005">#️⃣ 1005</a>
    <a href="#lde-q1006">#️⃣ 1006</a>
    <a href="#lde-q1007">#️⃣ 1007</a>
    <a href="#lde-q1008">#️⃣ 1008</a>
    <a href="#lde-q1009">#️⃣ 1009</a>
    <a href="#lde-4-02-08">📃 Ressurreição da carne</a>
    <a href="#lde-q1010">#️⃣ 1010</a>
    <a href="#lde-q1011">#️⃣ 1011</a>
    <a href="#lde-4-02-09">📃 Paraíso, inferno e purgatório</a>
    <a href="#lde-q1012">#️⃣ 1012</a>
    <a href="#lde-q1013">#️⃣ 1013</a>
    <a href="#lde-q1014">#️⃣ 1014</a>
    <a href="#lde-q1015">#️⃣ 1015</a>
    <a href="#lde-q1016">#️⃣ 1016</a>
    <a href="#lde-q1017">#️⃣ 1017</a>
    <a href="#lde-q1018">#️⃣ 1018</a>
    <a href="#lde-q1019">#️⃣ 1019</a>
    <a href="#lde-5">🗂️ 5. Conclusão</a>
    <a href="#lde-5-01">📃 Conclusão 01</a>
    <a href="#lde-5-02">📃 Conclusão 02</a>
    <a href="#lde-5-03">📃 Conclusão 03</a>
    <a href="#lde-5-04">📃 Conclusão 04</a>
    <a href="#lde-5-05">📃 Conclusão 05</a>
    <a href="#lde-5-06">📃 Conclusão 06</a>
    <a href="#lde-5-07">📃 Conclusão 07</a>
    <a href="#lde-5-08">📃 Conclusão 08</a>
    <a href="#lde-5-09">📃 Conclusão 09</a>
    <a href="#lde-6">🗂️ 6. Pós-textual</a>
    <a href="#lde-6-01">📃 1. Nota explicativa</a>
   </div>
</div>
<div class="dropdown3">
    <a type="button" onclick="dropThree()" class="dropbtn3" title="legenda de emojis">❓&nbsp;&nbsp;<span
            class="label">Legenda&nbsp;&nbsp;</span><span class="arrow">›</span></a>
    <div id="myDropdown3" class="dropdown-content3">
        <p>🗂️ = Parte</p>
        <p>📑 = Capítulo</p>
        <p>📃 = Seção</p>
        <p>#️⃣ = Item</p>
        <p>👻 = Espírito</p>
        <p>👴🏻 = Kardec</p>
        <p>📜 = Bíblia</p>
    </div>
</div>
</div>
<div id="ext-links">

<a target="ext" href="https://pt.m.wikipedia.org/wiki/Allan_Kardec" title="Enciclopédia">🌐<span
        class="label"> Enciclopédia</span></a>


<a target="ext" href="https://pt.m.wiktionary.org/wiki/espiritismo" title="Dicionário"></span>📒<span
        class="label"> Dicionário</a>


<a target="ext" href="https://www.bible.com/pt/bible/212/MAT.5.ARC" title="Bíblia ARC">📜<span
        class="label">
        Bíblia ARC</span></a>


<a target="ext" href="https://forms.gle/MTZadTiqGqes63m49" title="Contato">💌<span class="label">
        Contato</span></a>

</div>
<div id="hypo">

<span title="selecione uma palavra para começar a criar anotações">📝 Anotar ›</span>

</div>
</div>
<!-- 🚨 EXT FRAME -->
<div id="ext-frame">
<iframe name="ext" id="ext-iframe" src="https://pt.m.wikipedia.org/wiki/O_Livro_dos_Espíritos" title="painel complementar" style="filter: blur(1)"></iframe>
</div>
<!-- 🚨 MAIN -->
    
<div id="main">
    
   {{ content }}
  
   </div>


<a href="https://github.com/sergioSHKLR/doutrina.org/blob/main/1lde.md" id="Github" title="contribua com esta página">📥</a>

<a href="#lde" id="backTop" title="voltar ao topo da página">🔝</a>

<script src="./js/tocFilter.js" defer async></script>
<script src="./js/drop123.js" defer async></script>


</body>

</html>