<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plataforma de estudos integrados.">


    <!-- <script type="module">
        if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('sw.js')
        }
    </script> -->

    <!-- PWA -->
    <link href="../pwa/favicon-large.png" rel="icon" type="image/png">
    <link href="../pwa/manifest.json" rel="manifest">
    <meta name="theme-color" content="#4cc4f4" />
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>

    <script src="https://hypothes.is/embed.js" async></script>
    <link rel="icon" href="data:image/svg+xml,
						<svg
							xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
							<text y='0.8em' font-size='90'>💧</text>
						</svg>" />
    <link rel="stylesheet" href="https://doutrina.org/style.css">
    <style>
        img {
            max-width: 100vw;
        }

        html {
            scroll-behavior: smooth;
        }

    </style>

</head>

<body>

  

    <span
        style=" float: right; margin-right: 20px; margin-top: 8px; background-color: yellow; border-radius: 5px;">&nbsp;
        Anote com
        Hypothes.is ➡ &nbsp;</span>

        <section>

            {{ content }}

        </section>
   
</body>

</html>