<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | doutrina.org</title>
    <meta name="description"
        content="Uma plataforma inédita de estudos integrados; permitindo anotações e a consulta de referências externas, sem a necessidade de sair da janela original.">
    <meta name="author" content="sergioSHKLR, info@doutrina.org">
    <!-- OPEN GRAPH / FACEBOOK -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://doutrina.org/">
    <meta property="og:title" content="doutrina.org">
    <meta property="og:description"
        content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original.">
    <meta property="og:image" content="./framework/pwa/opengraph.png">
    <!-- TWITTER / X -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://doutrina.org/">
    <meta property="twitter:title" content="doutrina.org">
    <meta property="twitter:description"
        content="Uma plataforma inédita de estudos integrados; permitindo anotações, a consulta de referências externas, sem a necessidade de sair da janela original.">
    <meta property="twitter:image" content="./framework/pwa/twitter.png">
    
    <!-- CSS -->
    <link rel="stylesheet" href="./framework/css/framework.css">
    <link rel="stylesheet" href="./framework/css/content.css">
    <link rel="stylesheet" href="./framework/css/media-queries.css"> 
<link rel="stylesheet" href="./framework/css/fonts.css">

    <!-- PWA -->
    <link rel="icon" href="" type="image/svg+xml">
    <link rel="icon" href="./framework/pwa/favicon.svg" type="image/svg+xml">

    <!-- HYPOTHES.IS -->
   <script type="application/json" class="js-hypothesis-config">
      {
        "openSidebar": false,
        "showHighlights": true
      }
    </script>
    <script defer src="https://hypothes.is/embed.js"></script>
    <style>

    </style>
</head>

<body>
    <div id="col1-head" class="sidebar-w pos-fixed top-0 h-50 left-0 pt-10 border-0 pl-10 underline-0">

        <a href="./home.html" id="col1-brand"
            class="ff-russo ml-n5 fs-0 pos-rel pt-50 pl-0 pb-5 top-10 border-0 border-round"
            style="color: currentColor;">💧doutrina.org</a>

    </div>

    <div id="col1-body"
        class="sidebar-w pos-fixed left-0 top-50 h-body overflow border-top border-right ff-inter underline-0 fs-3 pl-15"
        style="z-index: 1; background-color: inherit;">

        <!-- COL1 LINKS -->
        <p class="fs-2 fw-strong border-short">Obras básicas</p>
        <p><a href="./1lde.html">👻 Espíritos</a></p>
        <p><a href="./2ldm.html">✒️ Médiuns</a></p>
        <p><a href="./3ese.html">🕊️ Evangelho</a></p>
        <p><a href="./4ceu.html">🔥 Céu e Inferno</a></p>
        <p><a href="./5gen.html">🌱 Gênese</a></p>

        <!-- COL1 TOC -->
        <p class="fs-2 fw-strong border-short">Sumário</p>
        <details>
            <summary class="ml-0">0. 🗃️ Pré-textual</summary>

            <p><a href="#lde-0-01">0.01. 📄 Folha de rosto</a></p>
            <p><a href="#lde-0-02">0.02. 📄 Prefácio</a></p>
            <p><a href="#lde-0-03">0.03. 🗂️ Introdução</a></p>
        </details>
        <br>
        <details>
            <summary class="ml-0">1. 🗃️ Causas Primárias</summary>
            <p><a href="#lde-1-01">1.01. 🗂️ Deus</a></p>
            <p><a href="#lde-1-02">1.02. 🗂️ Elementos gerais</a></p>
            <p><a href="#lde-1-03">1.03. 🗂️ Criação</a></p>
            <p><a href="#lde-1-04">1.04. 🗂️ Princípio vital</a></p>
        </details>
        <br>
        <details>
            <summary class="ml-0">2. 🗃️ Mundo Espírita</summary>
            <p><a href="#lde-2-01">2.01. 🗂️ Espíritos</a></p>
            <p><a href="#lde-2-02">2.02. 🗂️ Encarnação</a></p>
            <p><a href="#lde-2-03">2.03. 🗂️ Retorno</a></p>
            <p><a href="#lde-2-04">2.04. 🗂️ Existências</a></p>
            <p><a href="#lde-2.05">2.05. 🗂️ Considerações</a></p>
            <p><a href="#lde-2-06">2.06. 🗂️ Vida espírita</a></p>
            <p><a href="#lde-2-07">2.07. 🗂️ Vida material</a></p>
            <p><a href="#lde-2-08">2.08. 🗂️ Emancipação</a></p>
            <p><a href="#lde-2-09">2.09. 🗂️ Intervenção</a></p>
            <p><a href="#lde-2-10">2.10. 🗂️ Missões</a></p>
            <p><a href="#lde-2-11">2.11. 🗂️ Três reinos</a></p>
        </details>
        <br>
        <details>
            <summary class="ml-0">3. 🗃️ Leis morais</summary>
            <p><a href="#lde-3-01">3.01. 🗂️ Divina</a></p>
            <p><a href="#lde-3-02">3.02. 🗂️ Adoração</a></p>
            <p><a href="#lde-3-03">3.03. 🗂️ Trabalho</a></p>
            <p><a href="#lde-3-04">3.04. 🗂️ Reprodução</a></p>
            <p><a href="#lde-3-05">3.05. 🗂️ Conservação</a></p>
            <p><a href="#lde-3-06">3.06. 🗂️ Destruição</a></p>
            <p><a href="#lde-3-07">3.07. 🗂️ Sociedade</a></p>
            <p><a href="#lde-3-08">3.08. 🗂️ Progresso</a></p>
            <p><a href="#lde-3-09">3.09. 🗂️ Igualdade</a></p>
            <p><a href="#lde-3-10">3.10. 🗂️ Liberdade</a></p>
            <p><a href="#lde-3-11">3.11. 🗂️ Justiça, amor, e caridade</a></p>
            <p><a href="#lde-3-12">3.12. 🗂️ Perfeição moral</a></p>
        </details>
        <br>
        <details>
            <summary class="ml-0">4. 🗃️ Penas e gozos</summary>
            <p><a href="#lde-4-01">4.01. 🗂️ Terrenos</a></p>
            <p><a href="#lde-4-02">4.02. 🗂️ Futuros</a></p>
        </details>
        <br>
        <details>
            <summary class="ml-0">5. 🗃️ Conclusão</summary>
            <p><a href="#lde-5-01">5.01. 📄 Conclusão 01</a></p>
            <p><a href="#lde-5-02">5.02. 📄 Conclusão 02</a></p>
            <p><a href="#lde-5-03">5.03. 📄 Conclusão 03</a></p>
            <p><a href="#lde-5-04">5.04. 📄 Conclusão 04</a></p>
            <p><a href="#lde-5-05">5.05. 📄 Conclusão 05</a></p>
            <p><a href="#lde-5-06">5.06. 📄 Conclusão 06</a></p>
            <p><a href="#lde-5-07">5.07. 📄 Conclusão 07</a></p>
            <p><a href="#lde-5-08">5.08. 📄 Conclusão 08</a></p>
            <p><a href="#lde-5-09">5.09. 📄 Conclusão 09</a></p>
        </details>
        <br>
        <details>
            <summary class="ml-0">6. 🗃️ Pós-textual</summary>
            <p><a href="#lde-6-01">6.01. 📄 Nota explicativa</a></p>
            <p><a href="#lde-6-02">6.02. 🏷️ Índice geral</a></p>
            <p><a href="#lde-6-03">6.03. ✏️ Notas de rodapé</a></p>
        </details>
        <br>
        <!-- COL1 DETAILS -->
        <p class="fs-2 fw-strong border-short">Detalhes</p>
        <p><a href="./info.html" title="informações">📋 Info</a></p>
        <p><a href="./legal.html" title="Legal">⚖️ Legal</a></p>
        <!--
      <p><a href="./nota.html" title="nota explicativa">📄 Nota</a></p>
      <p><a href="./indice.html" title="Índice geral">🏷️ Índice</a></p> -->
        <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org/issues" title="erros">🐛 Erros</a></p>
        <p><a target="_blank" href="https://github.com/sergioSHKLR/doutrina.org" title="repositório">📦 Repo</a></p>
        <p><a target="_blank" href="https://shklr.org" title="matriz">⭕ shklr.org</a></p>
        <br>
    </div>

    <!-- COL2 -->
    <div id="col2-head" class="w-auto pos-fixed top-0 left-sidebar mh-40 h-50 pt-10 underline-0">

        <button id="col2-menu-on" onclick="menuOn()" title="abrir/fechar menu"><span
                class="material-symbols-outlined">menu</span></button>

        <button id="col2-menu-off" hidden onclick="menuOff()" title="abrir/fechar menu"><span
                class="material-symbols-outlined">menu</span></button>

        <a href="./home.html" id="col2-brand"
            class="ff-russo fs-0 pos-rel pb-5 pl-0 pr-5 top-n5 border-0 border-round">💧doutrina.org</a>

        <button id="col2-fs-btn" class="fr mr-50" onclick="openFullscreen2()" title="tela cheia"><span
                class="material-symbols-outlined">fullscreen</span></button>

        <button id="col2-ns-btn" class="fr mr-50 hide" onclick="closeFullscreen2()" title="tela normal"><span
                class="material-symbols-outlined">fullscreen_exit</span></button>

        <button id="col2-dm-btn" class="fr" onclick="activeDark2()" title="modo escuro"><span
                class="material-symbols-outlined">dark_mode</span></button>

        <button id="col2-lm-btn" class="fr hide" onclick="inactiveDark2()" title="modo claro"><span
                class="material-symbols-outlined">light_mode</span></button>
    </div>

    <div id="col2-body" class="w-auto pos-fixed top-50 left-sidebar h-body border-top overflow fc-cc">

        {{ content }}

    </div>

    <!-- COL3 -->

    <div id="col3-head" class="w-auto pos-fixed top-0 right-23 h-50 mh-40 pt-10 border-0 underline-0">

        <button id="col3-sh-on-btn" onclick="shadesOn()" title="desativar cortina anti-distração"><span
                class=" material-symbols-outlined">visibility</span></button>

        <button id="col3-sh-off-btn" hidden onclick="shadesOff()" title="ativar cortina anti-distração"><span
                class="material-symbols-outlined">visibility_off</span></button>

        <a target="ext" class="outline-0" href="https://pt.m.wikipedia.org" title="enciclopédia">
            <button id="col3-link1"><span class="material-symbols-outlined">language</span>
            </button></a>

        <a target="ext" class="outline-0" href="https://pt.m.wiktionary.org" title="dicionário">
            <button id="col3-link2"><span class="material-symbols-outlined">book_2</span>
            </button></a>

        <a target="ext" class="outline-0" href="./content/maps/paris.html" title="atlas">
            <button id="col3-link3"><span class="material-symbols-outlined">location_on</span>
            </button></a>

        <button id="col3-fs-btn" class="fr mr-20" onclick="openFullscreen3()" title="tela cheia"><span
                class="material-symbols-outlined">fullscreen</span></button>

        <button id="col3-ns-btn" class="fr mr-20 hide" onclick="closeFullscreen3()" title="tela normal"><span
                class="material-symbols-outlined">fullscreen_exit</span></button>

        <button id="col3-dm-btn" class="fr" onclick="activeDark3()" title="modo escuro"><span
                class="material-symbols-outlined">dark_mode</span></button>

        <button id="col3-lm-btn" class="fr hide" onclick="inactiveDark3()" title="modo claro"><span
                class="material-symbols-outlined">light_mode</span></button>

    </div>
    <div id="col3-body" class="w-auto pos-fixed right-0 top-50 right-23 h-body border-left border-top fc-cc">


        <iframe id="ext-iframe" loading="lazy" name="ext" title="painel complementar" class="h-100 w-100 border-0"
            src="https://pt.m.wikipedia.org/wiki/Espiritismo" style="background-color: #fff;"></iframe>
    </div>
    <!-- SCRIPTS -->
    <script defer src="./framework/js/script.js"></script>
    <script defer src="./framework/js/crisp.js"></script>

    <a href="https://standwithus.com/brazil" target="_blank"><img id="israel" src="./framework/israel-2.svg" alt="Stand With Us" title="Stand With Us"></a>


</body>
<!-- #endregion -->

</html>