/* 🔔 VERSION 5 -*/

/* CSSTidy 1.7.3: Wed, 16 Aug 2023 20:15:39 -0500 */

#brand,
#ext-iframe,
.dropbar,
#ext-links, #hypo, #navbar {
    background-color: #333;
}

.dropbtn1,
.dropbtn2,
.dropbtn3,
.dropbtn4 {
    background-color: #333
}

.dropdown-content1,
.dropdown-content2,
.dropdown-content3 {
    background-color: #555
}