/* 🔔 VERSION 5 -*/

/* CSSTidy 1.7.3: Wed, 16 Aug 2023 20:13:16 -0500 */
#brand {
    height: 40px;
    left: 0;
    position: relative;
    top: 0
}

#brand>a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 140px
}