/* CSSTidy 1.7.3: Wed, 16 Aug 2023 00:48:21 -0500 */
#brand {
    height: 40px;
    left: 0;
    position: relative;
    top: 0;
    width: 140px
}

#brand a:any-link {
    box-sizing: border-box;
    color: dimgrey;
    display: inline-block;
    filter: grayscale(100%);
    font-size: 16px;
    height: 40px;
    opacity: .75;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 140px
}

#brand>a {
    background-color: #f5f5f5 !important;
    border-right: 1px solid #d3d3d3;
    color: grey !important
}

#brand>a:hover {
    color: #000 !important;
    filter: grayscale(0%) !important;
    opacity: 1
}

#dropbar {
    display: flex;
    height: 40px;
    left: 140px;
    position: absolute;
    top: 0;
    width: calc(60% - 140px);
    z-index: 1
}

#ext-frame {
    border-left: 1px solid #dcdcdc;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    right: 20px;
    top: 41px;
    width: calc(40% - 22px);
    z-index: 1
}

#ext-iframe {
    background-color: grey;
    height: 100vh;
    overflow-x: hidden;
    top: 0;
    width: 100%;
    z-index: 1
}

#ext-links {
    background-color: #f5f5f5;
    display: flex;
    height: 40px;
    left: 60%;
    overflow: auto;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: calc(40% - 130px)
}

#ext-links a {
    background-color: #f5f5f5;
    display: inline-block;
    text-decoration: none
}

#ext-links a:any-link {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: dimgrey;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 140px
}

#hypo {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: dimgrey;
    font-size: 16px;
    height: 40px;
    padding: 9px 10px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    top: 0;
    white-space: nowrap;
    width: 100px
}

#hypo>span {
    filter: grayscale(100%);
    opacity: .75
}

#main {
    box-sizing: border-box;
    font-weight: 300;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    position: fixed;
    scroll-behavior: smooth;
    top: 40px;
    width: 60%;
    z-index: 0;
    font-family: 'Roboto Slab';
    color: dimgrey;

}

#mydropdown3>p {
    color: dimgrey;
    filter: grayscale(100%);
    opacity: .75
}

#wrapper {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
    display: inline-block;
    height: 40px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
}

.dropdown-content1 {
    background-color: #f5f5f5;
    display: none;
    left: 0;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    text-align: left;
    top: 40px;
    z-index: 1
}

.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 p {
    background-color: #f5f5f5;
    color: dimgrey;
    display: block;
    filter: grayscale(100%)
}

.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 p:hover {
    color: #000;
    filter: grayscale(0%) !important;
    opacity: 1
}

.dropdown-content2 {
    background-color: #f5f5f5;
    display: none;
    left: 0;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    top: 40px;
    z-index: 1
}

.dropdown-content3 {
    background-color: #f5f5f5;
    display: none;
    left: 0;
    min-width: 160px;
    overflow: auto;
    padding: 0 10px;
    position: absolute;
    text-align: left;
    top: 40px;
    z-index: 1
}

.dropdown1,
.dropdown2,
.dropdown3 {
    background-color: #f5f5f5;
    display: inline-block;
    position: relative
}

.dropdown1 a,
.dropdown2 a,
.dropdown3 a {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: dimgrey;
    display: block;
    filter: grayscale(100%);
    font-size: 16px;
    height: 40px;
    opacity: .75;
    padding: 9px 10px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    width: 140px
}

.dropdown1:hover,
.dropdown2:hover,
.dropdown3:hover,
#ext-links a:hover,
#hypo>span:hover,
#mydropdown1>a:hover,
#mydropdown2>a:hover,
#mydropdown3>p:hover {
    color: #000;
    filter: grayscale(0%) !important;
    opacity: 1
}

.show {
    display: block
}

body {
    margin: 0;
    padding: 0
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

iframe {
    border: none;
    filter: grayscale(100%);
    opacity: .5
}

iframe:hover {
    filter: grayscale(0%);
    opacity: 1
}

@media (prefers-color-scheme: dark) {
    #main {
        background-color: #444;
        color: #fff
    }

    #main a:any-link {
        color: #fff
    }

    #main a:any-link:hover {
        color: #00bfff;
        text-decoration-color: #00bfff
    }

    .jesus {
        color: #DC143C
    }

    blockquote.spirit {
        color: #add8e6
    }

    body {
        background-color: #444
    }

    hr {
        border: 3px solid dimgrey
    }
}

@media screen and (min-width: 300px) and (max-width: 780px) {

    #ext-links,
    #ext-frame,
    .label {
        display: none
    }

    #main {
        width: calc(100% - 20px)
    }

    #navbar {
        margin-right: 20px;
        width: 97.5vw
    }

    .dropbtn1,
    .dropbtn2,
    .dropbtn3,
    .dropbtn4 {
        padding: 5px;
        width: 3.5rem
    }

    .dropdown-content2 {
        width: 15rem
    }

    a#backtop {
        right: 2rem !important
    }
}

@media screen and (min-width: 781px) and (max-width: 1250px) {
    .dropdown-content2 {
        width: 17.5rem
    }

    span.label {
        display: none
    }
}