/* 🔔 VERSION 5 -*/

/* CSSTidy 1.7.3: Wed, 16 Aug 2023 20:15:14 -0500 */

#brand>a:hover,
#brand>a {
    color: grey
}

#navbar * {color: lightgrey}

.spirit {
    color: #4682b4
}

h5 {
    color: transparent
}

span.label {color: grey }