/* 🔔 VERSION 5 -*/

/* CSSTidy 1.7.3: Wed, 16 Aug 2023 20:14:45 -0500 */

@media (prefers-color-scheme: dark) {
    * {
        background-color: #444;
        color: #d3d3d3
    }

    iframe {
        filter: brightness(25%)
    }

    a:any-link {
        color: lightgrey;
    }

    div#hypo {
        background-color: #444;
    }

    #main {
        background-image: none;
    }
}