html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }
  
  body {
    font: 1rem/1.5 "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 90w;
    margin: auto;
  }
  
  /*---------- 🚨 NAVBAR ----------*/
  #navbar {
    background-color: darkslategrey;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    float: left;
    border-bottom: 1px solid white;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
  }

  button#brand {
    background-color: #000;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    color: #fff;
    box-sizing: border-box;
    height: 3rem;
    width: 9rem;

  }

  a:any-link {text-decoration: none;}

  .cursive {
    font-family: 'Homemade Apple', cursive;
    font-size: 1.3rem;
    line-height: 2;
    word-spacing: .75rem;
    color: dimgrey;
    width: 90%;
    margin: auto;
  }