a:any-link {
  text-decoration: none;
  opacity: .5;
  color: black;
  font-family: 'Roboto Slab';
  font-weight: 100;
}

a:any-link:hover {
  opacity: 1;
  font-weight: 200;
}

.cursive {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.5rem;
  line-height: 2;
  word-spacing: .75rem;
  color: dimgrey;
  width: 90%;
  margin: auto;
}

.box {
  width: 1000px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 500px);
}


/*---------- 🚨 MEDIA QUERY SMALL ----------*/
@media screen and (min-width: 300px) and (max-width: 780px) {

  .box {
    width: 350px;
    height: 700px;
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 175px);
  }
}

/*---------- 🚨 MEDIA QUERY MEDIUM ----------*/
@media screen and (min-width: 781px) and (max-width: 1250px) {

  .box {
    width: 600px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
  }
}