/* 🔔 VERSION 4.1 */

/*---------- 🚨 DOCUMENT ----------*/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

body {
  font: 1rem/1.5 "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

/*---------- 🚨 NAVBAR ----------*/
#navbar {
  background-color: #eee;
  color: dimgrey;
  height: 3rem;
  width: 60%;
  box-sizing: border-box;
  float: left;
  border-bottom: 1px solid grey;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Roboto Slab';
  font-weight: 300;
}

#navbar a,
#navbar button {
  background-color: #eee;
  filter: grayscale(100%);
  font-weight: 200;
}

#navbar a:hover,
#navbar button:hover {
  background-color: #fff;
  color: black;
  filter: grayscale(0%);
  font-weight: 300;
}


/*---------- 🚨 BRAND ----------*/
button#brand {
  background-color: #eee;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  color: dimgrey;
  box-sizing: border-box;
  height: 3rem;
  width: 10rem;
  font-family: 'Roboto Slab';
  font-weight: 400;
}

/*---------- 🚨 BUTTON ----------*/
.dropbtn1,
.dropbtn2,
.dropbtn3,
.dropbtn4 {
  cursor: pointer;
  box-sizing: border-box;
  z-index: 2;
  height: 2.9rem;
  color: black;
  background-color: #eee;
  font-weight: 100 !important;
}

.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a,
.dropdown-content4 a {
  background-color: #eee;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  z-index: 2;
  font-family: 'Roboto Slab';
  font-weight: 100 !important;
}

.dropdown-content1 button,
.dropdown-content2 button,
.dropdown-content3 button,
.dropdown-content4 button {
  background-color: #eee;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  color: black;
  background-color: #eee;
  font-family: 'Roboto';
  font-weight: 100 !important;

}

.dropdown-content3 button {
  background-color: #eee;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  text-align: right;
  font-family: 'Roboto';
  color: black;
  background-color: #eee;
  font-weight: 100 !important;

}

.dropdown-content4 p {
  color: dimgrey;
  padding: 12px 16px;
  margin: 0;
  filter: grayscale(100%);
  font-family: 'Roboto Slab';
  font-weight: 300;
}

.dropdown-content4 p:hover {
  background-color: #fff;
  filter: grayscale(0%);
}

.dropdown-content1 button:hover,
.dropdown-content2 button:hover,
.dropdown-content3 button:hover,
.dropdown-content4 button:hover,
.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover,
.dropdown-content4 a:hover {
  background-color: #eee;
}

.dropdown-content1 {
  background-color: #eee;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 3rem;
  width: 12rem;
  box-sizing: border-box;
  z-index: 2;
  border-top: 1px solid transparent;
  right: 0;
}

.dropdown-content2 {
  background-color: #eee;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 3rem;
  width: 10rem;
  box-sizing: border-box;
  z-index: 2;
  border-top: 1px solid transparent;
  right: 0;
}

.dropdown-content3 {
  background-color: #eee;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 3rem;
  width: 10rem;
  box-sizing: border-box;
  z-index: 2;
  right: 0;
  border-top: 1px solid transparent;
  font-family: 'Roboto Slab';
  font-weight: 300;
}

.dropdown-content4 {
  background-color: #eee;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 3rem;
  width: 10rem;
  box-sizing: border-box;
  z-index: 2;
  right: 0;
  border-top: 1px solid transparent;
  text-align: right;
}

.dropdown-content2 {
  width: 24rem;
  box-sizing: border-box;
  z-index: 2;
}

.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
  display: inline-block;
  position: relative;
  height: 2.9rem;
}

.dropdown1:hover .dropbtn1,
.dropdown2:hover .dropbtn2,
.dropdown3:hover .dropbtn3,
.dropdown4:hover .dropbtn4 {
  background-color: #fff;
  color: dimgrey
}

.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3,
.dropdown4:hover .dropdown-content4,
.show {
  display: block
}

#myInput {
  border-bottom: 1px solid white;
  box-sizing: border-box;
  font-size: 1.1em;
  padding: 8px;
  width: 100%;
  border: 1px solid grey;
}

#myinput:focus {
  outline: 3px solid #eee
}

.label span {
  display: inline;
  font-weight: 100 !important;

}

/*---------- 🚨 EXT LINKS ----------*/
#ext-links {
  background-color: #eee;
  border-left: 1px solid grey;
  margin-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
  white-space: nowrap;
  width: calc(40% - 20px);
  z-index: 0;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  height: 3rem;
  background-color: #eee;


}

#ext-links a {
  color: dimgrey;
  font-size: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  text-decoration: none;
  border-bottom: 1px solid grey;
  filter: grayscale(100%);
  background-color: #eee;


}

#ext-links a:hover {
  background-color: #fff;
  color: dimgrey;
  filter: grayscale(0%);
  font-weight: 200 !important;


}

#ext-links button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;

}

#ext-links button:hover {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  filter: grayscale(0%);

}


/*---------- 🚨 EXT FRAME ----------*/
#ext-frame {
  border: none;
  border-left: 1px solid grey;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  right: 20px;
  top: 3.05rem;
  width: calc(40% - 20px);
  z-index: 1;
  box-sizing: border-box;
}

#ext-iframe {
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

iframe {
  border: none;
  box-sizing: border-box;
}

/*---------- 🚨 MAIN ----------*/
#main { 
  height: 100vh;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  scroll-behavior: smooth;
  top: 3.05rem;
  width: 60%;
  z-index: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
  font-weight: 200;
}

#main a:any-link {
  text-decoration-color: #aaa !important;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em
}

a:-webkit-any-link {
  color: #333;
}

#main a:any-link:hover {
  text-decoration-color: blue;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em
}

hr {
  border: 3px solid dimgrey
}

/*---------- 🚨 BACK TOP ----------*/
a#backTop {
  background-color: transparent;
  border: none;
  bottom: 10px;
  cursor: pointer;
  font-size: 1.5em;
  opacity: .5;
  outline: none;
  position: fixed;
  right: 41.5%;
  text-decoration: none;
  z-index: 99
}

a#backTop:hover {
  font-size: 2em;
  opacity: 1
}

button {
  background-color: #eee;
  border: none;
  font-size: 1em;
  height: 2.9rem;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

table {
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  width: 97.5%
}

th,
td {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center
}


#main a:any-link {
  text-decoration-color: #aaa;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em
}

#main a:any-link:hover {
  text-decoration-color: blue;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em
}

#main a:any-link:hover {
  color: blue;
  text-decoration-color: blue
}


/*---------- 🚨 DARK PREFERRED ----------*/
@media (prefers-color-scheme: dark) {

  body {
    background-color: #444;
  }

  #main {
    background-color: #444;
    color: #fff
  }

  #main a:any-link {
    color: #fff
  }

  #main a:any-link:hover {
    color: #00bfff;
    text-decoration-color: #00bfff
  }

  .jesus {
    color: #DC143C
  }

  blockquote.spirit {
    color: #add8e6
  }

  hr {
    border: 3px solid dimgrey
  }
}

/*---------- 🚨 MEDIA QUERY SMALL ----------*/
@media screen and (min-width: 300px) and (max-width: 780px) {

  #ext-links,
  #ext-frame,
  .label {
    display: none
  }

  #main {
    width: calc(100% - 20px);
  }

  #navbar {
    margin-right: 20px;
    width: 97.5vw
  }

  a#backTop {
    right: 2rem !important
  }

  .dropbtn1,
  .dropbtn2,
  .dropbtn3,
  .dropbtn4 {
    padding: 5px;
    width: 3.5rem;
  }

  .dropdown-content2 {
    width: 15rem;
  }

}

/*---------- 🚨 MEDIA QUERY MEDIUM ----------*/
@media screen and (min-width: 781px) and (max-width: 1250px) {

  span.label {
    display: none
  }

  .dropdown-content2 {
    width: 17.5rem;
  }

}