/* 🔔 VERSION 5 -*/

/* CSSTidy 1.7.3: Wed, 16 Aug 2023 20:16:01 -0500 */

#brand>a,
.dropdown1 a,
.dropdown2 a,
.dropdown3 a,
#ext-links>a {
    filter: grayscale(100%)
}

#brand>a:hover,
.dropdown1:hover,
.dropdown2:hover,
.dropdown3:hover,
#ext-links a:hover,
#hypo>span:hover,
#mydropdown1>a:hover,
#mydropdown2>a:hover,
#mydropdown3>p:hover,
#myDropdown3>p,
#myDropdown2>a,
#myDropdown1 a,
iframe:hover,
.dropdown-content1,
.dropdown-content2,
.dropdown-content3,
a:hover.dropbtn1,
a:hover.dropbtn2,
a:hover.dropbtn3 {
    filter: grayscale(0%)
}

#hypo>span {
    filter: grayscale(100%);
    filter: grayscale(100%)
}

iframe {
    border: none;
    filter: grayscale(100%);
    filter: grayscale(100%)
}