/* CSSTidy 1.7.3: Wed, 16 Aug 2023 00:55:49 -0500 */
.cursive {
    font: 30px 'Homemade Apple', cursive;
    margin: auto
}

body {
    color: dimgrey;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    word-spacing: .75rem;
    font-weight: 300;
}

footer {
    bottom: 0;
    color: grey;
    font: 10px sans-serif;
    position: fixed;
    right: 10px
}

footer a {
    color: grey;
    text-decoration: none
}

html {
    background: url(../images/old-paper.jpg) no-repeat center fixed;
    background-size: cover
}

table,
tr,
td,
th {
    border: none;
    margin: auto;
    width: 80vw
}

td.links a {
    color: grey ;
    filter: grayscale(100%);
    font: 300 16px 'Roboto Slab' !important;
    text-align: center;
    text-decoration: none
}

td.links a:hover {
    color: #000 ;
    filter: grayscale(0%);
}

@media (prefers-color-scheme: dark) {
    html {
        background: url(../images/old-paper-dark.jpg) no-repeat center fixed;
        background-size: cover
    }

    body {
        color: lightgrey;
    }

    td.links a {
        color: lightgrey 
    }

    td.links a:hover {
        color: white;
    }

}