/* CSSTidy 1.7.3: Wed, 16 Aug 2023 00:55:49 -0500 */
html {
    background: url(../images/old-paper.jpg) no-repeat center fixed;
    background-size: cover
}

body {
    color: #333;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-weight: 300;
}

.cursive {
    font: 28px 'Homemade Apple', cursive;
    margin: auto;
    text-align: center;
    word-spacing: .75rem;

}

table,
tr,
td,
th {
    border: none;
    margin: auto;
    width: 80vw;
    word-spacing: .5rem;

}

td.links a {
    filter: grayscale(100%);
    font: 300 16px 'Roboto Slab';
    text-align: center;
    text-decoration: none;
}

td.links a:hover {
    filter: grayscale(0%);
}


.nobreak {white-space: nowrap} 


@media (prefers-color-scheme: dark) {}