/* 🔔 VERSION 5 -*/

/* CSSTidy 1.7.3: Wed, 16 Aug 2023 20:18:22 -0500 */

#main {
    height: 100vh;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;
    position: fixed;
    scroll-behavior: smooth;
    top: 40px;
    width: calc(60% - 40px);
    z-index: 0;
    letter-spacing: .05rem;
    font-weight: 300 !important;
}

#main>a,
td>a {
    color: #333;
    text-decoration-color: #333 !important;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: .2em
}

#main>a:hover,
td>a:hover {
    color: blue;
    text-decoration-color: blue;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: .2em
}

#wrapper {
    border-bottom: 1px solid #dcdcdc;
    display: inline-block;
    height: 40px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
}

a#Github {
    background-color: transparent;
    border: none;
    bottom: 10px;
    cursor: pointer;
    font-size: 1.5em;
    opacity: .5;
    outline: none;
    position: fixed;
    right: 41.5%;
    text-decoration: none;
    z-index: 99;
    filter: grayscale(100%)
}

a#backTop {
    background-color: transparent;
    border: none;
    bottom: 60px;
    cursor: pointer;
    font-size: 1.5em;
    opacity: .5;
    outline: none;
    position: fixed;
    right: 41.5%;
    text-decoration: none;
    z-index: 99;
    filter: grayscale(100%)
}

a#backTop:hover,
a#Github:hover {
    font-size: 2em;
    opacity: 1;
    filter: grayscale(0%);
}

body {
    font: 300 16px 'Roboto Slab';
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    text-align: center
}

h2,
h3 {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 70%
}

img {
    margin: auto;
    width: 50vw
}

span.arrow {
    writing-mode: vertical-lr
}

strong {
    font-style: italic;
    font-weight: 400
}

#main {
    background-image: url("../images/old-paper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(.5)
  }