/* 🛎️ VERSION 2.2 */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	z-index: 0;
	line-height: 1.5;
	font-size: 16px;
}

body {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
}

/*---------- 🚨 FRAMEWORK ----------*/
#main {
	height: 94.5vh;
	width: 60vw;
	overflow: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 2rem;
	background-color: whitesmoke;
	color: #333;
	z-index: 0;
	padding: 0;
	margin: 0;
}

#ext-links {
	background-color: lightslategrey;
	border-left: 1px solid #fff;
	color: #fff;
	height: 2.5rem;
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	width: 40vw;
	z-index: 2;
}

#ext-frame {
	border-left: 1px solid white;
	height: 94.5vh;
	overflow: scroll;
	position: absolute;
	right: 20px;
	top: 2.5rem;
	width: calc(40vw - 20px);
}

#ext-iframe {
	border-left: 1px solid grey;
	height: 100%;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

/*---------- 🚨 NAVBAR ----------*/
#navbar {
	background-color: lightslategrey;
	color: #fff;
	z-index: 1;
	width: 60vw;
	height: 2.5em;
}

.label {
	display: show
}

#brand {
	background-color: #333;
	border: none;
	color: #fff;
	font-weight: 700;
	height: 2.5em;
}

/*---------- 🚨 D-DOWN BUTTON ----------*/
.dropbtn1,
.dropbtn2,
.dropbtn3 {
	background-color: lightslategrey;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 0;
	padding: 8px 15px;
}

.dropbtn3 {
	float: right;
	width: 3rem;
}

/*---------- 🚨 D-DOWN CONTENT ----------*/
.dropdown-content1,
.dropdown-content2,
.dropdown-content3 {
	background-color: #f1f1f1;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	display: none;
	min-width: 180px;
	position: absolute;
	z-index: 1;
	top: 2rem;
}

.dropdown-content2 {
	overflow: auto;
	max-height: 80vh;
	min-width: 300px;
}

.dropdown-content3 {
	min-width: 160px;
	right: 0px;
}

.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
	color: #222;
	display: block;
	text-decoration: none
}

.dropdown-content1 button:hover,
.dropdown-content2 button:hover,
.dropdown-content3 button:hover,
.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
	background-color: #ddd
}

.dropdown-content1 button,
.dropdown-content2 button,
.dropdown-content3 button {
	border: none;
	color: #222;
	cursor: pointer;
	display: block;
	text-align: left;
	text-decoration: none;
	width: 100%
}

.dropdown-content3 button {
	text-align: right;
}

/*---------- 🚨 D-DOWN FX ----------*/
.dropdown1,
.dropdown2 {
	display: inline-block;
	position: relative
}

.dropdown3 {
	float: right;
	position: relative
}

.dropdown1:hover .dropbtn1,
.dropdown2:hover .dropbtn2,
.dropdown3:hover .dropbtn3 {
	background-color: gainsboro;
	color: black;
}

.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3,
.show {
	display: block
}

/*---------- 🚨 D-DOWN INPUT ----------*/
#myinput {
	background-position: 14px 12px;
	background-repeat: no-repeat;
	border: none;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	padding: 14px 20px 12px;
}

#myinput:focus {
	outline: 3px solid #ddd
}

/*---------- 🚨 HEADINGS ----------*/
h1 {
	padding: 1rem 1.75rem;
	margin: 0;
	font-size: 1.1rem;
}

.h2 {
	padding: .25rem 0;
	margin: 0 -.1rem;
}

.h3 {
	padding: .25rem 0;
	margin: 0 -.7rem;
	padding-bottom: .25rem;
}

.h4 {
	padding: 0.25rem .35rem;
	margin: 0;
}

summary.h4 {
	padding: 0.25rem -1.5rem !important;
	margin: 0 -1.5rem !important;
}

.h5 {
	padding: 0;
	margin: 0;
}

/*---------- 🚨 COLLAPSIBLES ----------*/
summary {
	cursor: pointer;
	list-style-type: none;
}

details {
	padding: 0;
	margin: 0;
}

details>summary.h4 {
	margin-left: -1.7em !important
}

details>details>details>details,
details>details>details>details>p {
	margin-left: -2.35em;
	margin-right: .1em;
	padding: .25rem 0;
	width: 100%;
}

details>details>details>details>summary {
	width: 112%;
}

details>details>details>p {
	margin: 0.5rem -1rem !important;
}

summary.question::before {
	content: "＋ #️⃣ ";
	margin-left: 1em;
	color: grey
}

summary::before {
	content: "＋ ";
	color: grey
}

details>summary {
	cursor: pointer;
	list-style-type: none
}

details {
	margin-left: 10px;
	margin-right: 10px;
}

details[open]>summary.question::before {
	content: "－ #️⃣ ";
	color: grey
}

details[open]>summary:before {
	content: "－ ";
	color: grey
}

summary:focus {
	background-color: #eee;
}

summary.question {padding-left: 5rem; margin-left: -1rem; text-indent: -4rem;}

/*---------- 🚨 TABLES ----------*/
table {
	border: 1px solid #dcdcdc;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: auto;
	width: 90%
}

th,
td {
	padding-left: 2em;
	padding-right: 2em;
	text-align: center
}

/*---------- 🚨 BLOCKQUOTES ----------*/

blockquote {
	padding: 0.25rem 0;
	margin: 0;
}

blockquote.bible::before {
	content: "📜 ";
}

blockquote.bible {
	border-left: 3px solid sienna;
	padding: 0 10px;
	margin: 10px -5px;
	width: 105%;
}

blockquote.kardec::before {
	content: "👴🏻 ";
}

blockquote.kardec {
	border-left: 3px solid #ccc;
	color: dimgrey;
	padding-left: .6rem;
	margin-left: 1.5rem;
	width: 105%;
}

blockquote.spirit::before {
	content: "👻 ";
}

blockquote.spirit {
	border-left: 3px solid dodgerblue;
	color: #222;
	padding-left: .6rem;
	margin-left: 1.5rem;
	width: 105%;
}

.question {
	color: #333;

.answer {padding-top: 0 !important; margin-bottom: 0;}

/*---------- 🚨 SPEAKERS ----------*/
.jesus {
	color: darkred
}

/*---------- 🚨 LINKS ----------*/
#ext-links a {
	color: #fff;
	text-decoration: none;
}

#main a:any-link {
	color: #333;
	text-decoration-thickness: 1px;
	text-underline-offset: .2em;
	text-decoration-color: #aaa;
	text-decoration-style: dashed;
}

#main a:any-link:hover {
	color: blue;
	text-decoration-thickness: 1px;
	text-underline-offset: .2em;
	text-decoration-color: blue;
	text-decoration-style: solid;
}

/*---------- 🚨 LISTS ----------*/
li {
	margin: 1em;
	margin-left: 0
}

ol {
	margin-left: -1em
}

ol li::marker,
.sub-q::first-letter {
	font-weight: 700
}

ol>ol {
	list-style-type: lower-latin;
	margin-left: -2em
}

ol>ol>li {
	margin-left: -5em
}

/*---------- 🚨 ELEMENTS ----------*/
p {
	margin-left: 0;
	margin-right: 1.5em
}

p.sub-q {
	display: list-item;
	list-style-type: none;
	margin-left: 2.5em;
}

img {
	display: block;
	margin: auto;
	width: 75%
}

hr {
	border: 1px solid #dcdcdc;
	margin-top: -1em
}

/*---------- 🚨 BACK TO TOP ----------*/
a#backTop {
	position: absolute;
	bottom: 10px;
	right: 41vw;
	z-index: 99;
	font-size: 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	opacity: .5;
	text-decoration: none;
}

a#backTop:hover {
	opacity: 1;
	font-size: 2rem;
}

/*---------- 🚨 MEDIA QUERIES ----------
@media screen and (max-width: 850px) {

	.dropbtn3 {
		right: 0px
	}

	.dropbtn3,
	.dropdown-content3 {
		right: 0px
	}

	.label {
		display: none
	}

	#ext-frame {
		display: none
	}

	#ext-links {
		display: none
	}

	#main {
		width: 98vw;
		right: 20px;
	}

	a#backTop {
		right: 30px !important;
	}
}

@media screen and (min-width: 1097px) {
	#main {
		width: 59vw;
		right: 41vw
	}

}

@media screen and (min-width: 1920px) {
	#main {
		width: 60vw;
		right: 40vw
	}

}

@media screen and (min-width: 2194px) {
	#main {
		width: 60vw;
		right: 40vw
	}

	.dropbtn3 {
		right: 38.5vw
	}

	.dropdown-content3 {
		right: 38.5vw
	}

}

/*---------- 🚨 LIGHT MODE MANUAL ----------
.light-mode {
	#main {
		background-color: #fff;
		color: #333
	}

	#main a:any-link {
		color: #333;
		text-decoration-color: #aaa;
	}

	#main a:any-link:hover {
		color: blue;
		text-decoration-color: blue;
	}

}

/*---------- 🚨 DARK MODE MANUAL ----------
.dark-mode {
	#main {
		background-color: #444;
		color: #fff
	}

	.jesus {
		color: indianred
	}

	#main a:any-link {
		color: #fff
	}

	#main a:any-link:hover {
		color: deepskyblue;
		text-decoration-color: deepskyblue;
	}

	hr {
		border: 1px solid dimgrey;
	}

}

/*---------- 🚨 DARK MODE PREFERRED ----------
@media (prefers-color-scheme: dark) {
	#main {
		background-color: #444;
		color: #fff
	}

	#main a:any-link {
		color: #fff
	}

	#main a:any-link:hover {
		color: deepskyblue;
		text-decoration-color: deepskyblue;
	}

	.jesus {
		color: #DC143C
	}

	html {
		background-color: #444
	}

	hr {
		border: 1px solid dimgrey;
	}

	blockquote.spirit {
		color: lightblue
	}
